In [1]:
import pandas as pd
import pickle
from datasets import Dataset
import ast
from tqdm.notebook import tqdm
import html, json

In [2]:

import sys
sys.path.append('/home/ec2-user/SageMaker/llama_root/src')
sys.path.append('../llama-recipes/src/llama_recipes/')

In [3]:
from huggingface_hub import login
login(token='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')

Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/ubuntu/.cache/huggingface/token
Login successful

In [4]:
from transformers import LlamaForCausalLM, LlamaTokenizer

model_id="mistralai/Mistral-7B-Instruct-v0.2"
tokenizer = LlamaTokenizer.from_pretrained(model_id)

In [5]:
df = pd.read_csv('../custom_data/latest_work_exp_28dec.csv')

In [6]:
df.columns = ['id', 'designation', 'keywords', 'user_experience', 'resume','work_experience']

In [7]:
sample_workex = df.sample(5)['work_experience']

for wex in sample_workex.values:
    job_obj = ast.literal_eval(wex)
    print(f'\n{job_obj}\n----------------------------------------------------------------\n')

[{'company': 'RVN Narayanan And Associates', 'role': 'Audit Assistant', 'start_date': 'March 2023', 'end_date': 'Present', 'description': 'Pursuing my CMA Intermediate articles is compulsory for that, I have learnt Concurrent audit for many banks, Tally etc.'}]
----------------------------------------------------------------


[{'company': 'Freelancer', 'role': 'Full Stack Developer', 'start_date': '11/2022', 'end_date': '08/2023', 'description': "Modified HTML, JavaScript, and CSS web pages to optimize the page's performance for faster loading and browsing. Proficiently troubleshot simple and complex technological issues for different assigned projects, achieving over 95% customer satisfaction rate. Designed and executed a brand-new customer resolution management tool through ReactJS and java."}, {'company': 'Future Scope Institute', 'role': 'Project', 'start_date': '12/2022', 'end_date': '06/2023', 'description': 'Developed a reliable employee-friendly office management tool using React.js and Spring Boot that streamlines employee record management, target assignments, and leave approval processes, ultimately enhancing workplace efficiency.'}, {'company': 'Mobile-Marvels', 'role': 'Project', 'start_date': '05/2022', 'end_date': '11/2022', 'description': 'Developed and managed a dynamic mobile showroom, showcasing a diverse range of smartphones, tablets, and accessories from leading brands. Provided expert customer service, assisting visitors in finding the ideal mobile devices to suit their needs and budgets.'}, {'company': 'Portfolio', 'role': 'Project', 'start_date': '04/2022', 'end_date': '05/2022', 'description': 'Developed my web-portfolio using HTML, CSS and JavaScript.'}]
----------------------------------------------------------------


[{'company': 'TATA Consultancy Services Limited (TCSL)', 'role': 'System Engineer', 'start_date': '09/2020', 'end_date': 'Present', 'description': 'Proficiently managed payment vouchers and taxation reports within the Finance & Accounting domain. Improved scheduling functionality for more efficient operations. Developed customized features to meet specific client needs. Ensured solution reliability through thorough unit testing. Swiftly addressed critical tickets and change requests based on priority. Played an active role in sharing knowledge and facilitating learning among team members.'}]
----------------------------------------------------------------


[{'company': 'Tata Consultancy Services', 'role': 'Business Analyst', 'start_date': '19 June 2019', 'end_date': 'till date', 'description': 'Participate in the development/ updating of process and guidelines to ensure the quality and integrity of the insurance risk management policy. Collaborate with functional area to develop quality standard, efficiency and utilization and perform for all Insurance transaction. Manage Identification and evaluation of risk and collaborate with underwriter. Managed various Internal process through various tactical and strategies plans. Worked on complicated data through processing it and then done analysis through modeling in order to bring business answers for clients. Performed data manipulations using MS- excel to reshape our data and also used filters, pivot options to set our data. Create and maintain precise and accurate model, chart and reports. Verify client details including different sources. Surveyed client to ascertain requirements and expectation for product and services. Banking drafts from client accounts. Analyzed key aspect of business to evaluate factor driving results and summarized into report. Responsible for synthesized current business intelligence data to produced report and polished presentations highlighting finding and recommending changes through data processing using MS-excel and creating visualizations.'}, {'company': 'Anand Rathi Securities', 'role': 'Mutual Fund Analyst', 'start_date': 'Dec. 2017', 'end_date': 'May 2019', 'description': 'Worked on mutual fund investment, various operations in a role of customer service. Monitoring movement in Net Asset Values (NAV) for large funds and reviewing the reason for changes. Analysis of Mutual Fund scheme rankings, researching other funds/schemes available. Writing reports about the performance of funds and other educational whitepapers for investors. Working on fund valuation reports. Recommend the right mutual funds to prospective investors, in-tune with the company’s investment policies. Reading extensively and keeping yourself updated with latest market trends to have a thorough grip on the investment climate, both global and domestic. Co-coordinating with research team to come up with the best investment advice for prospective clients. Supporting with fund service providers. Studying the risk element, volatility profile and scenario dependencies of the various schemes. Connect with AMC for some specific changes, report, and statement. High usage of MS-Excel for keeping various records and preparing reports. Analysis of customer portfolio and suggest best product and services. Prepare Fund tracker using different sources monthly basis. Used MS Office and other software to create document and other communication. Demonstrated respect, friendliness and willingness to help wherever needed. Actively listened to customers’ requests, confirming full understanding before addressing concerns. Conducted research, gathered information from multiple sources and presented results. Used critical thinking to break down problems, evaluate solutions and make decisions. Development and implemented performance improvement strategies and plans to promote continue comportment.'}, {'company': 'OPPO Mobile M&amp;C', 'role': 'Marketing Executive', 'start_date': 'Mar. 2017', 'end_date': 'Aug. 2017', 'description': 'Developed marketing technical and non-technical presentation. Used of MS-Excel for keeping various records and preparing reports. Analysis of customer interest in product and setup accordingly. Planned and executed marketing campaigns to target group or areas. Maintain complete data base of files, contacts and project material.'}]
----------------------------------------------------------------


[{'company': 'Freecharge', 'role': 'Software Engineer Android', 'start_date': 'Aug 2021', 'end_date': 'July 2023', 'description': 'Built end to end system, which was wrapper over existing products to bolster app installs and individual product onboardings. Increased product onboardings by over 80 percent over the course of the first month of launch, offered rewards on completion of a certain goal to the new user to achieve this. Usage of Android Jetpack Architecture Components - ViewModel, LiveData, Navigation, Data Binding. Deferred Deeplink (parameters handling from a third app) handling via intent and firebase dynamic link. Created products like Fixed Deposit and Recurring Deposit to offer for ETB(existing-to-bank) customers.'}, {'company': 'Pepcoding (Acquired by Scaler)', 'role': 'Software Engineer Trainee', 'start_date': 'April 2020', 'end_date': 'September 2020', 'description': 'Worked on web technologies like React. Solved various data structure problems for logic building'}]
----------------------------------------------------------------

In [8]:
json_str = df['work_experience'].sample(1).values[0]
job_obj = ast.literal_eval(json_str)
job_obj

[{'company': 'Mphasis Ltd.',
  'role': 'Proj Mgr-Testing Practice',
  'start_date': 'June 2021',
  'end_date': 'till now',
  'description': 'Managing and leading QA activities with team of testers to accomplish the in-scope tasks within delivery timeline. Mentoring project resources (QA & Dev) and assisting management after creating new backups in testing team with appropriate skills, attitudes and motivation.'},
 {'company': 'Kallik Ltd.',
  'role': 'Sr. Engineer- Quality Assurance',
  'start_date': 'October 2020',
  'end_date': 'June 2021',
  'description': 'Leading testers and mentoring project resources with an objective to deliver the tasks within delivery timeline. Creating new backups and build a testing team of professionals with appropriate skills, attitudes and motivation.'},
 {'company': 'DXC Technology (Formerly Computer Sciences Corporation)',
  'role': ' Professional 1: Product Test Engineer',
  'start_date': 'September 2014',
  'end_date': 'October 2020',
  'description': 'Assist Project Manager in maintaining the project management related artifacts and primarily responsible for project related deliveries.'},
 {'company': 'Vayam Technologies Ltd.',
  'role': 'Sr. Testing Engineer',
  'start_date': 'March 2012',
  'end_date': 'September 2014',
  'description': 'To read all the documents and understand what needs to be tested. Based on the information procured in the above step decide how it is to be tested.'},
 {'company': 'IRIS Software (On payroll of QAzone Infosystems Pvt. Ltd.)',
  'role': 'Technical Consultant (Testing)',
  'start_date': 'December 2011',
  'end_date': 'February 2012',
  'description': 'Execution of Testcases written by another tester. Peer Review.'},
 {'company': 'Fiserv (On payroll of Marlabs Software (P) Ltd.)',
  'role': 'Software Test Engineer',
  'start_date': 'March 2011',
  'end_date': 'August 2011',
  'description': 'Execution of automated Testcases written by another tester. Peer Review. Creation of Test data.'}]

In [9]:
from datetime import datetime
from dateutil.parser import parse

In [10]:
parse('apr 2017')

datetime.datetime(2017, 4, 9, 0, 0)

In [11]:
parse('jan 1 1900')

datetime.datetime(1900, 1, 1, 0, 0)

In [12]:
def normalize_date(date_str):
    if date_str.lower() == 'present' or date_str.lower()=='current' or date_str.lower()=='till date':
        return "present"
        
    # Attempt to parse the date using dateutil's parse
    dt_format = parse(date_str)
    str_date = dt_format.strftime("%m/%Y")
    return str_date

In [13]:
df.sample(10)

,id,designation,keywords,user_experience,resume,work_experience
44,1135109,Python django backend developer,"['Computer Science', 'Artificial Intelligence'...",1,RESUME Personal Details\nName Manoj Kumar\nAd...,"[{'company': 'GirlScript Community', 'role': '..."
191,2937531,NaN,"['JAVA', 'APIS', 'Product Testing', 'Automated...",1,+91 7709938677 Vineet Kolate\n Java Developer...,[{'company': 'Broadridge Trading and Connectiv...
71,1851084,NaN,"['Selenium', 'Defect Reporting', 'Test Cases',...",0,vallabhu prudhvi\nEmail-vallabhuprudhvi827@gma...,"[{'company': 'Naresh Itechnologies', 'role': '..."
216,2961613,Software Developer,"['Web Application', 'MySQL', 'Test Cases', 'AP...",2,SUMEET PAWAR\n Software Engineer\n\n\n SUMMAR...,"[{'company': 'AveCircle Technologies', 'role':..."
245,2941402,Software Developer,"['Node JS', 'APIS', 'E-commerce', 'Big Data', ...",1,Agni Advani Agni Advani\nBackend Developer Arv...,"[{'company': 'Verifacts Services Pvt. Ltd.', '..."
24,1394766,Senior executive operation,"['Machine Learning', 'Algorithms', 'SQL', 'SQL...",4,RANJEET KUMAR\n Email: K19.ranjeet@gmail.com\...,"[{'company': 'V Mart Retail Ltd', 'role': 'SEN..."
255,2960082,NaN,"['SQL', 'HTML5', 'Version Control', 'Microsoft...",0,Mohammad Sufiyan Shaikh Rahim\n+91 7796565629\...,"[{'company': 'Cytronic India Pvt Ltd', 'role':..."
283,2860920,IT support engineer,"['Windows', 'Troubleshooting', 'Operating Syst...",8,"RESUME\n Akshay Parvat\n Village- Piploda, Di...","[{'company': 'Magna InfoTech Ind.Pvt. Mumbai',..."
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,[{'company': 'InnoPhase INC [Synergic Emergenc...
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,"[{'company': 'Halodoc Technologies LLP', 'role..."

In [14]:
exp_string_list = []
errors = []
uid_list = []

for string, uid in tqdm(df[['work_experience','id']].values):
    exp_json = ast.literal_eval(string)
    work_string = ''
    try:
        for work_idx, work_ex in enumerate(exp_json):
            temp = f'''{work_idx+1}. {work_ex['role']} @ {work_ex['company']} FROM {normalize_date(work_ex['start_date'])} TO {normalize_date(work_ex['end_date'])}\n'''
            work_string = work_string + temp
        
        uid_list.append(uid)
        exp_string_list.append(work_string)

    except:
        errors.append(exp_json)
        pass

  0%|          | 0/365 [00:00<?, ?it/s]

In [15]:
len(exp_string_list)

303

In [16]:
df.shape

(365, 6)

In [17]:
wdf = df.loc[df['id'].isin(uid_list)]

In [18]:
wdf['work_experience'] = exp_string_list

/tmp/ipykernel_16125/3421775658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wdf['work_experience'] = exp_string_list

In [19]:
wdf

,id,designation,keywords,user_experience,resume,work_experience
0,2187979,Associate Analyst,"['Analytics', 'Microsoft Office', 'E-commerce'...",2,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,1. Associate Analyst @ XL Dynamics India pvt l...
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,1. SDET-II @ Halodoc Technologies LLP FROM 10/...
2,2644336,Associate consultant,"['Automation', 'Automation Scripts', 'Microsof...",3,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...",1. Associate Consultant @ Capgemini DFRC FROM ...
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,1. Software Engineer @ InnoPhase INC [Synergic...
4,1377095,NaN,"['CSS', 'Communication Skills', 'Unit Testing'...",2,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,1. Full Stack Developer @ Tandem Crystals Pvt ...
...,...,...,...,...,...,...
358,2915128,NaN,"['JAVA', 'Web Based', 'Antivirus', 'System Eng...",2,Akshay Devadhe\n Java Backend Engineer\n aksh...,1. System Engineer @ Tata consultancy Service ...
360,2244857,Junior Data Scientist,"['XML', 'Machine Learning', 'Algorithms', 'MyS...",3,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,1. DATA SCIENTIST @ Caprileo Data Services Pvt...
361,2936804,Backend Developer,"['PHP', 'Web Development', 'Javascript', 'Tech...",0,Aman Verma\nBackend Developer\nAs an upcoming ...,1. Backend Developer @ Gaura Web Technology FR...
362,2877064,Software Engineer,"['Analytical', 'Software Engineer', 'Applicati...",2,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,1. Software Engineer @ Mind Tree FROM 12/2021 ...
364,2133290,NaN,"['Product Management', 'C', 'Graphic Design', ...",1,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,1. ReactJS Developer - Intern @ Techgropse Pvt...

In [20]:
sample_workex = wdf.sample(5)['work_experience']

for wex in sample_workex.values:
    job_obj = str(wex)
    print(f'\n{job_obj}\n----------------------------------------------------------------\n')

1. Data Engineer @ LTIMINDTREE FROM 06/2021 TO 03/2023

----------------------------------------------------------------


1. Android Developer Intern @ MOLOG FROM 09/2023 TO present
2. Mobile Developer Intern @ The Spark Foundation FROM 08/2023 TO 09/2023
3. Android Developer @ AnkiDroid FROM 03/2023 TO 05/2023
4. Operation Head @ Maharaja Agrasen Institute of Technology FROM 07/2022 TO present
5. Subject Matter Expert @ Chegg Inc. FROM 04/2022 TO 03/2023

----------------------------------------------------------------


1. Data Analyst @ QUANTIUM (FORAGE) FROM 05/2023 TO 07/2023

----------------------------------------------------------------


1. Intern @ YBI Foundation FROM 02/2023 TO 03/2023
2. Creative Designer @ Opportunities International FROM 11/2022 TO 11/2022
3. Graphic Designer @ Sidalceas Edutech FROM 01/2022 TO 02/2022

----------------------------------------------------------------


1. Not Specified @ Bulla Motors Pvt. Ltd. FROM 04/2015 TO 09/2016
2. Associate in Backend Process Bell Canada @ Tech. Mahindra FROM 11/2016 TO 09/2017
3. CRE @ AM Tata (Unit of Bulla Motors PVT.LTD.) FROM 10/2017 TO 11/2018
4. CRM @ AM TATA (Unit of Bulla Motors PVT.LTD.) FROM 11/2018 TO 09/2019
5. Senior accountant @ Lifestyle International Pvt Ltd FROM 11/2019 TO 06/2022

----------------------------------------------------------------

In [21]:
wdf

,id,designation,keywords,user_experience,resume,work_experience
0,2187979,Associate Analyst,"['Analytics', 'Microsoft Office', 'E-commerce'...",2,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,1. Associate Analyst @ XL Dynamics India pvt l...
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,1. SDET-II @ Halodoc Technologies LLP FROM 10/...
2,2644336,Associate consultant,"['Automation', 'Automation Scripts', 'Microsof...",3,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...",1. Associate Consultant @ Capgemini DFRC FROM ...
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,1. Software Engineer @ InnoPhase INC [Synergic...
4,1377095,NaN,"['CSS', 'Communication Skills', 'Unit Testing'...",2,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,1. Full Stack Developer @ Tandem Crystals Pvt ...
...,...,...,...,...,...,...
358,2915128,NaN,"['JAVA', 'Web Based', 'Antivirus', 'System Eng...",2,Akshay Devadhe\n Java Backend Engineer\n aksh...,1. System Engineer @ Tata consultancy Service ...
360,2244857,Junior Data Scientist,"['XML', 'Machine Learning', 'Algorithms', 'MyS...",3,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,1. DATA SCIENTIST @ Caprileo Data Services Pvt...
361,2936804,Backend Developer,"['PHP', 'Web Development', 'Javascript', 'Tech...",0,Aman Verma\nBackend Developer\nAs an upcoming ...,1. Backend Developer @ Gaura Web Technology FR...
362,2877064,Software Engineer,"['Analytical', 'Software Engineer', 'Applicati...",2,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,1. Software Engineer @ Mind Tree FROM 12/2021 ...
364,2133290,NaN,"['Product Management', 'C', 'Graphic Design', ...",1,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,1. ReactJS Developer - Intern @ Techgropse Pvt...

## Work Experience Training Data
We try and define a decent text prompt here for the base untrained model to understand the general task of extracting work experience from a resume

In [22]:
# df = df.sample(frac=1)

In [23]:
work_prompt = f'''
You are an accurate agent working for a job platform. You will be given the raw 
unstructured text of a user's resume, and the task is to extract the entire work experience of the 
user from the resume. The response should be broken into a numbered list with each item of the list 
containing the complete and accurate information about the work experience of the users. Here is an example structure:\n
1. Designation 1 @ Company 1 [From "mm/yyy" to "mm/yyyy"] : "complete job description as given in resume"\n
2. Designation 2 @ Company 2 [From "mm/yyy" to "mm/yyyy"] :  "complete job description as given in resume"\n
Please follow this structure closely and keep the response within the token limit." 

This is the resume text:\n{{resume_text}}\n
This is the output in the required_format:\n{{output}}\n{{eos_token}}
'''

### Output Format 
We're telling the model how to format the output and give us a repsonse

In [24]:
work_df = wdf[['resume','work_experience']]

In [25]:
work_df

,resume,work_experience
0,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,1. Associate Analyst @ XL Dynamics India pvt l...
1,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,1. SDET-II @ Halodoc Technologies LLP FROM 10/...
2,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...",1. Associate Consultant @ Capgemini DFRC FROM ...
3,Padmashree padmasupritha@gmail.com\n 831086454...,1. Software Engineer @ InnoPhase INC [Synergic...
4,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,1. Full Stack Developer @ Tandem Crystals Pvt ...
...,...,...
358,Akshay Devadhe\n Java Backend Engineer\n aksh...,1. System Engineer @ Tata consultancy Service ...
360,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,1. DATA SCIENTIST @ Caprileo Data Services Pvt...
361,Aman Verma\nBackend Developer\nAs an upcoming ...,1. Backend Developer @ Gaura Web Technology FR...
362,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,1. Software Engineer @ Mind Tree FROM 12/2021 ...
364,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,1. ReactJS Developer - Intern @ Techgropse Pvt...

In [26]:
work_df.columns = ['resume','output']

In [27]:
# work_df['format'] = work_format
work_df['prompt'] = work_prompt

/tmp/ipykernel_16125/142188303.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_df['prompt'] = work_prompt

In [28]:
print(work_df['prompt'].values[0])

You are an accurate agent working for a job platform. You will be given the raw
unstructured text of a user's resume, and the task is to extract the entire work experience of the
user from the resume. The response should be broken into a numbered list with each item of the list
containing the complete and accurate information about the work experience of the users. Here is an example structure:

1. Designation 1 @ Company 1 [From "mm/yyy" to "mm/yyyy"] : "complete job description as given in resume"

2. Designation 2 @ Company 2 [From "mm/yyy" to "mm/yyyy"] :  "complete job description as given in resume"

Please follow this structure closely and keep the response within the token limit."

This is the resume text:
{resume_text}

This is the output in the required_format:
{output}
{eos_token}

In [29]:
work_data = Dataset.from_pandas(work_df)

In [30]:
from llama_recipes.utils.dataset_utils import get_preprocessed_dataset
from llama_recipes.datasets.utils import Concatenator

In [31]:
work_data

Dataset({
    features: ['resume', 'output', 'prompt', '__index_level_0__'],
    num_rows: 303
})

In [32]:
workex_list = []
for row in work_df.itertuples():
    text = row.prompt.format(
            resume_text=row.resume,
            output=row.output,
            eos_token=tokenizer.eos_token)
    workex_list.append(text)

## Educational Data Preparation

In [33]:
df = pd.read_csv('../custom_data/gpt4_parsed_resumes.csv')

In [34]:
df

,id,resume,basic_details,work_experience,education,technical_skills
0,2627581,Vaishnavi Moholkar\n Software Developer\n vai...,"{'name': 'Vaishnavi Moholkar', 'location': 'Pu...",{'company': 'Fintech Credit Systems India Pvt....,"[{'institution': 'Mudhoji High School, Phaltan...","['Java', 'Java 8', 'J2EE', 'Hibernate', 'JDBC'..."
1,2627580,Akshat Srivastav - Resume\n\n\n\nContact Info...,"{'name': 'Akshat Srivastav', 'location': 'Kora...","{'company': 'Turno, Bangalore', 'role': 'Data ...","[{'institution': 'NIT Calicut, Calicut, Kerala...","['Data Modeling/Machine Learning', 'Data Analy..."
2,2627579,DEVA KUMAR\nEmail: devasqldev@gmail.com\nConta...,"{'name': 'Deva Kumar', 'location': 'Hyderabad'...","{'company': 'Infosys Technologies PVT ltd', 'r...","[{'institution': 'JNTUA', 'program': 'Bachelor...","['T-SQL', 'Power BI', 'SSIS', 'Azure Devops', ..."
3,1944506,"I&rsquo;m\n lo,\n\n Ashiti Khanuja\n Hel\n UX...","{'name': 'Ashiti Khanuja', 'location': 'Baroda...","{'company': 'Turno', 'role': 'UX / UI Designer...",[{'institution': 'Maharaja Sayajirao Universit...,"['Figma', 'Adobe Photoshop', 'Adobe Illustrato..."
4,2141819,Hi! I'am Arun S\n UI/UX Designer\n\n +91-8610...,"{'name': 'Arun S', 'location': 'Chennai, Tamil...","{'company': 'Tata Consultancy Services', 'role...","[{'institution': 'Loyola College, Chennai', 'p...","['UX Research', 'UI Design', 'Wireframes', 'Vi..."
...,...,...,...,...,...,...
136,1494288,"GAYATHIRI R\n Thanjavur, Tamil Nadu | P: +91 ...","{'name': 'GAYATHIRI R', 'location': 'Thanjavur...","{'company': 'BANK OF AMERICA', 'role': 'Softwa...",[{'institution': 'PANIMALAR INSTITUTE OF TECHN...,"['Python', 'R', 'SQL', 'Tableau', 'NLP', 'Imag..."
137,791409,Sivakumar Akella\n\n Technical Program Manager...,"{'name': 'Sivakumar Akella', 'location': 'Bang...","{'company': 'NSPlus Technology Pvt. Ltd.', 'ro...",[{'institution': 'Advanced Institute of Engine...,"['PMP', 'PMI-ACP', 'SAFe', 'CSM', 'ITIL F3', '..."
138,2260965,Deepak Mishra\n deepakmishrapc2020@gmail.com\...,"{'name': 'Deepak Mishra', 'location': 'Mumbai'...","{'company': 'Gainsight Software Pvt Ltd', 'rol...","[{'institution': 'University of Mumbai', 'prog...","['Java', 'Javascript', 'Spring', 'Hibernate', ..."
139,2037084,Kumari Anjali\n +91-9074799694 | anjali41256@...,"{'name': 'Kumari Anjali', 'location': 'Unknown...","{'company': 'Vias Groups', 'role': 'DevOps Eng...",[{'institution': 'RGPV University - Sagar Inst...,"['System Administrator', 'CloudWatch', 'Linux'..."
140,824408,Hemant Vasant Sakpal\n\n\nSummary -\n\n\n Dig...,"{'name': 'Hemant Vasant Sakpal', 'email': 'hem...","{'company': 'Capgemini', 'role': 'Program Mana...","[{'institution': 'Mumbai University', 'program...",['Cloud Tech Stack: Azure App Services & Funct...

In [35]:
import json, ast
ast.literal_eval(df['education'].sample().values[0])

[{'institution': 'University of California, Berkley',
  'program': 'Bachelors in Computer Science',
  'start_date': 'August 2012',
  'end_date': 'June 2016'}]

In [36]:
def normalize_date(date_str):
    if date_str.lower() == 'present' or date_str.lower()=='current' or date_str.lower()=='till date':
        return "present"
        
    # Attempt to parse the date using dateutil's parse
    dt_format = parse(date_str)
    str_date = dt_format.strftime("%m/%Y")
    return str_date

In [37]:
def convert_to_json(input_string):
    # Replace single quotes at the start and end of keys and values with double quotes
    # This regex specifically targets the start of keys/values and the end of keys/values
    corrected_string = re.sub(r"(\{|\,)\s*\'", r'\1 "', input_string)  # Start of key/value
    corrected_string = re.sub(r"\'\s*(\,|\})", r'" \1', corrected_string)  # End of key/value
    corrected_string = re.sub(r"\'\s*:", r'":', corrected_string)  # Key end
    corrected_string = re.sub(r":\s*\'", r': "', corrected_string)  # Value start

    try:
        # Convert the string to a valid JSON
        valid_json = json.loads(corrected_string)
        return valid_json
    except json.JSONDecodeError as e:
        print(f'Error thrown in JSON converter is {e}')
        return input_string

In [38]:
df.sample(5)

,id,resume,basic_details,work_experience,education,technical_skills
6,1615518,RANJITHA N P Phone no : +918904459372\n D/O P...,"{'name': 'Ranjitha N P', 'location': 'Bengalur...","{'company': 'DigiMatrix Private Limited, Benga...",[{'institution': 'NIE College Mysuru Autonomou...,"['ReactJS', 'HTML', 'CSS', 'JavaScript', 'Boot..."
102,1912487,Navin Prajapati\n Address: B/205 Parth arcade...,"{'name': 'Navin Prajapati', 'location': 'B/205...","{'company': 'Lennox International', 'role': 'A...","[{'institution': 'Dy Patil', 'program': 'Maste...","['Qlik Sense', 'SAP Business Warehouse (SAP BW..."
118,942089,PRASHANT KUMAR MANJHI\npkprashantkr6@gmail.com...,"{'name': 'PRASHANT KUMAR MANJHI ', 'location':...","{'company': 'DMI', 'role': 'iOS Developer', 's...",[{'institution': 'Center for Development of Ad...,"['Swift', 'java', 'core data', 'Appium', 'XCod..."
22,2627449,HETAL RUPARELIYA\n\n\n\n Email: hetalpruparel...,"{'name': 'Hetal Rupareliya', 'location': 'Not ...","{'company': 'Fablead Dev.', 'role': 'Sr. Front...",[{'institution': 'CG Patel Institute Of Techno...,"['Wordpress', 'Laravel', 'PHP', 'HTML', 'CSS',..."
52,2188361,.\n\n\n\n\n Krantisinh Patil\n CAREER OBJECTIV...,"{'name': 'Krantisinh Patil', 'location': 'Sang...",{'company': 'Centre for Monitoring Indian Econ...,"[{'institution': 'Dr. BSKK University', 'progr...","['Data Visualization', 'Machine Learning', 'Da..."

In [39]:
edu_string_list = []
errors = []
uid_list = []

for string, uid in tqdm(df[['education','id']].values):
    edu_json = ast.literal_eval(string)
    edu_string = ''
    try:
        for edu_idx, edu in enumerate(edu_json):
            temp = f'''{edu_idx+1}. {edu['program']} @ {edu['institution']} FROM {normalize_date(edu['start_date'])} TO {normalize_date(edu['end_date'])}\n'''
            edu_string = edu_string + temp
        
        uid_list.append(uid)
        edu_string_list.append(edu_string)

    except Exception as e:
        print(e)
        errors.append(edu_json)
        pass

  0%|          | 0/141 [00:00<?, ?it/s]

String does not contain a date:
String does not contain a date:
String does not contain a date:
String does not contain a date:
String does not contain a date:
Unknown string format: NA
String does not contain a date:
String does not contain a date:
Unknown string format: Unknown
Unknown string format: N/A
'start_date'
Unknown string format: Not available
Unknown string format: unknown
String does not contain a date:
Unknown string format: not specified
Unknown string format: not mentioned
Unknown string format: Not given
Unknown string format: Not specified
Unknown string format: N/A
Unknown string format: N/A
String does not contain a date: -
String does not contain a date:
String does not contain a date:
Unknown string format: Unavailable
Unknown string format: UNSPECIFIED
String does not contain a date:
Unknown string format: Not specified
Unknown string format: Unknown
String does not contain a date:
'start_date'
String does not contain a date:
Unknown string format: NA
Unknown string format: N/A
Unknown string format: Unknown
String does not contain a date:
String does not contain a date:
Unknown string format: Not provided
String does not contain a date:
String does not contain a date: -
Unknown string format: Not mentioned
String does not contain a date:
Unknown string format: NA
Unknown string format: Not mentioned
Unknown string format: Unknown
Unknown string format: Unknown
String does not contain a date:
String does not contain a date:
Unknown string format: Unknown
Unknown string format: NA
String does not contain a date:
String does not contain a date:
Unknown string format: Unknown
String does not contain a date:
String does not contain a date:
String does not contain a date:
Unknown string format: Unspecified
'NoneType' object has no attribute 'lower'
String does not contain a date:
Unknown string format: Not Mentioned
Unknown string format: Not Mentioned
String does not contain a date:
Unknown string format: Unknown
String does not contain a date:
Unknown string format: Not available
Unknown string format: Not mentioned
String does not contain a date:
Unknown string format: Unknown
Unknown string format: nan
String does not contain a date:
Unknown string format: Year not specified
String does not contain a date:
Unknown string format: NA
String does not contain a date:
Unknown string format: NA
String does not contain a date:
Unknown string format: Not Provided
String does not contain a date:
Unknown string format: NA
String does not contain a date:
'start_date'
Unknown string format: N/A
String does not contain a date:
Unknown string format: Not specified
String does not contain a date:
String does not contain a date:
String does not contain a date:
Unknown string format: NA
Unknown string format: Unknown
Unknown string format: NA

In [40]:
edu_df = df.loc[df['id'].isin(uid_list)]

In [41]:
edu_df.shape

(52, 6)

In [42]:
edu_df['education'] = edu_string_list

/tmp/ipykernel_16125/165756896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_df['education'] = edu_string_list

In [43]:
edu_df.sample(5)

,id,resume,basic_details,work_experience,education,technical_skills
4,2141819,Hi! I'am Arun S\n UI/UX Designer\n\n +91-8610...,"{'name': 'Arun S', 'location': 'Chennai, Tamil...","{'company': 'Tata Consultancy Services', 'role...","1. BCA @ Loyola College, Chennai FROM 05/2015 ...","['UX Research', 'UI Design', 'Wireframes', 'Vi..."
81,2627262,"Tarun Kanta Jena\nAddress:\n Room No: 103, 1st...","{'name': 'Tarun Kanta Jena', 'location': 'Munn...","{'company': 'Mphasis Ltd.', 'role': 'Lead Infr...",1. B.Tech in CSE @ Silicon Institute of Techno...,"['NetApp NAS Storage', 'VMAX/PowerMax', 'Dell ..."
86,2403200,DHANSHREE RAUT\n PROJECT ENGINEER\n\n\n\nPERS...,"{'name': 'Dhanshree Raut', 'location': 'Hinjew...","{'company': 'Wipro Technologies', 'role': 'Tes...",1. B. E (2018-2022) -CSE @ Hanuman Prasark Man...,"['Java', 'C++', 'C', 'HTML', 'CSS', 'JS', 'Sel..."
130,2198671,",,","{'name': 'John Doe', 'location': 'New York, NY...","{'company': 'ABC Inc.', 'role': 'Data Scientis...",1. MSc in Data Science @ Columbia University F...,"['Python', 'R', 'SQL', 'Tableau', 'Scikit-lear..."
26,1920556,SANTANU KUMAR SAHOO\n UNITY DEVELOPER\n\n\n\n...,"{'name': 'Santanu Kumar Sahoo', 'location': 'B...",{'company': 'Tecknotrove Systems (I) Pvt Ltd.'...,1. Bachelor of Technology (Computer Science an...,"['Unity 3D', 'Unity C#', 'Game Design', 'Adobe..."

## Education Training Data
We try and define a decent text prompt here for the base untrained model to understand the general task of extracting educational details from a resume

In [44]:
edu_df = edu_df.sample(frac=1)

In [45]:
edu_prompt = f'''
[INST]You are an accurate agent working for a job platform. You will be given the raw 
unstructured text of a user's resume, and the task is to extract the education history of the 
user at the graduate and post graduate level only. The response should be broken into a numbered list with each item of the list 
containing the complete and accurate information about the education of the users. Here is an example structure:\n
1. Degree/Program Name 1 @ Institute 1 [From "mm/yyyy" to "mm/yyyy"] :\n
2. Degree/Program Name 2 @ Institute 2 [From "mm/yyyy" to "mm/yyyy"] :\n
Please follow this structure closely and keep the response within the token limit[\INST] 

This is the resume text:\n{{resume_text}}\n
This is the output in the required_format:\n{{output}}\n{{eos_token}}
'''

### Output Format 
We're telling the model how to format the output and give us a repsonse

In [46]:
edu_df = edu_df[['resume','education']].dropna()

In [47]:
edu_df.sample(10)

,resume,education
130,",,",1. MSc in Data Science @ Columbia University F...
105,Rudra Singh PROFESSIONAL EXPERIENCE\n Travibbl...,1. Bachelor of Computer Application (BCA) @ Dr...
54,ANURAG TEJWANI Email: tejwani.anurag@gmail.com...,1. BE Computer Science @ Rajiv Gandhi Proudyog...
133,JEETUDI\n XIT\nMOTION GRAPHI\n CDESI\n GNER\n&...,1. Animation VFX Prime @ Arena Animation FROM ...
125,Ayush Raj\n Software Test Engineer\n An enthu...,1. Master of Computer Application @ Galgotias ...
95,STRENGTHS\nAVADHUT SAVAL\n Creative thinking\...,1. Bachelor of Engineering - BE @ Rajendra man...
120,Kapil Choudhary\n Gaming Technology Student\n...,1. BACHELOR OF TECHNOLOGY IN COMPUTER SCIENCE(...
50,Aman Jhabak\n amanjhabak7@gmail.com\n https:/...,1. B-tech @ Shri Shankaracharya Technical Camp...
84,Aditya kalkeri\n Machine Learning Engineer\n ...,1. Applied Data Science @ University of Michig...
33,akashmishra205@gmail.com\n +91 9343367285 Aka...,1. BE in Computer Science and Engineering @ La...

In [48]:
edu_df['education'].sample(1).values[0]

'1. Master of Engineering @ Swinburne University of Technology FROM 08/2009 TO 08/2011\n2. Bachelor of Engineering @ Arya College of Engineering & IT FROM 07/2003 TO 06/2007\n3. High School @ Saint Johns Senior Secondary School FROM 04/2001 TO 03/2002\n'

In [49]:
edu_df.columns = ['resume','output']

In [50]:
edu_df['prompt'] = edu_prompt

edu_data = Dataset.from_pandas(edu_df)

In [51]:
from llama_recipes.utils.dataset_utils import get_preprocessed_dataset
from llama_recipes.datasets.utils import Concatenator

In [53]:
edu_list = []
for row in edu_df.itertuples():
    text = row.prompt.format(
            resume_text=row.resume,
            output=row.output,
            eos_token=tokenizer.eos_token)
    edu_list.append(text)

In [55]:
import random
print(edu_list[random.sample(range(len(edu_list)),1)[0]])

[INST]You are an accurate agent working for a job platform. You will be given the raw
unstructured text of a user's resume, and the task is to extract the education history of the
user at the graduate and post graduate level only. The response should be broken into a numbered list with each item of the list
containing the complete and accurate information about the education of the users. Here is an example structure:

1. Degree/Program Name 1 @ Institute 1 [From "mm/yyyy" to "mm/yyyy"] :

2. Degree/Program Name 2 @ Institute 2 [From "mm/yyyy" to "mm/yyyy"] :

Please follow this structure closely and keep the response within the token limit[\INST]

This is the resume text:
 GOBI SHANKAR S
Contact: +91-9629788548 | Email: gobimech1998@gmail.com | LinkedIn: linkedin.com/in/gobi-shankar-7702a9162/



 Summary:
 An ETL Developer with over 3.5 years of experience and proficient in working with SQL, Informatica
 (ETL), IBM Netezza, SAS, Snowflake and Tableau. Expertise in developing robust data pipelines,
 ETL processes, and data visualization solutions. Committed to optimizing data workflows and driving
 actionable insights.



 Core Competencies:
 &bull; ETL Tools &ndash; Informatica PowerCenter (v.10.4) (Advanced), Informatica Developer (Intermediate).
 &bull; Databases &ndash; Oracle SQL Developer (Intermediate), IBM Netezza (Datawarehouse) (Intermediate),
 SAS Enterprise guide (Intermediate).
 &bull; Languages &ndash; Python (Beginner), Bash scripting (Intermediate), SQL (Intermediate).
 &bull; Cloud &ndash; IICS (Beginner), Azure (Beginner), Snowflake (Intermediate).
 &bull; Virtualization/Visualization &ndash; Denodo platform (Beginner), Tableau (Intermediate).
 &bull; CI/CD &ndash; Bitbucket, JIRA, Jenkins, Git.
 &bull; Have domain knowledge of Healthcare Insurance and Finance.
 &bull; Good Communication capabilities and Analytical skills.



 Professional Work Experience:
 Infosys Ltd, Chennai | Technology Analyst December 2019 - Present
 &bull; Created ETL workflows using Informatica PowerCenter to extract, transform, and load data from
 source file which was transformed using Informatica Developer for ensuring data quality.
 &bull; Designed and optimized data pipelines, ensuring efficient data movement and integrity throughout
 the process.
 &bull; Utilized IBM Netezza, Oracle SQL Developer for database management, implementing data
 warehousing solutions to facilitate seamless data retrieval and analysis.
 &bull; Developed python, bash scripts for loading data from excel, flat files into data warehouse tables.
 &bull; Leveraged Denodo and Tableau for creating interactive and insightful reports, enabling
 stakeholders to visualize trends and make informed decisions.
 &bull; Extracted data from Salesforce and transformed them into business insights extracts using SAS
 Enterprise guide and Snowflake.
 &bull; Collaborated with cross-functional teams to understand data requirements, ensuring accurate
 transformation and integration.
 &bull; Responsible for supporting application management services and resolving user created tickets
 within defined SLA.
 Key Achievements:
 &bull; Received INSTA award twice for delivering client requirements within mentioned SLA during
 development life cycle.
,CERTIFICATIONS:
 &bull; JIRA Fundamentals - Atlassian
 &bull; Cloud Data and Application Integration Professional Certification &ndash; Informatica
 &bull; Informatica Cloud Data Integration (CDI) Partner Bootcamp &ndash; Informatica
 &bull; Writing Skills &ndash; Harvard Mentor Manage
 &bull; Financial Essentials &ndash; Harvard Mentor Manage
 &bull; Programming Foundations : Fundamentals - LinkedIn



ACADEMIC CREDENTIALS:
 &bull; Bachelor&rsquo;s degree in Mechanical Engineering with 7.47 CGPA | Sri Sairam Institute of Technology,
 Chennai | 2015 &ndash; 2019

This is the output in the required_format:
1. Bachelor’s degree in Mechanical Engineering @ Sri Sairam Institute of Technology, Chennai FROM 05/2015 TO 05/2019

</s>

In [57]:
#merge the education list and the work ex list
workex_list.extend(edu_list)

In [58]:
from random import shuffle
shuffle(workex_list)

In [59]:
dl = {
    'text': workex_list
}

In [61]:
combined_data_hf = Dataset.from_dict(dl)

In [62]:

combined_data_hf = combined_data_hf.map(
    lambda sample: tokenizer(sample["text"]),
    batched=True,
    remove_columns=list(combined_data_hf.features),
).map(Concatenator(), batched=True)

Map:   0%|          | 0/354 [00:00<?, ? examples/s]

Map:   0%|          | 0/354 [00:00<?, ? examples/s]

In [63]:
combined_data_hf

Dataset({
    features: ['input_ids', 'attention_mask', 'labels'],
    num_rows: 258
})

In [65]:
combined_data_hf.save_to_disk('../custom_data/mistral/combined_work_edu_data.hf')

Saving the dataset (0/1 shards):   0%|          | 0/258 [00:00<?, ? examples/s]

In [38]:
# work_ds.save_to_disk('custom_data/work_data.hf')

In [39]:
# edu_ds.save_to_disk('custom_data/education_data.hf')

In [40]:
# pi_ds.save_to_disk('custom_data/pi_data.hf')