In [14]:
import pandas as pd
import pickle
from datasets import Dataset
import ast
from tqdm.notebook import tqdm

In [2]:

import sys
sys.path.append('/home/ec2-user/SageMaker/llama_root/src')
sys.path.append('../llama-recipes/src/llama_recipes/')

In [3]:
from huggingface_hub import login
login(token='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')

Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/ubuntu/.cache/huggingface/token
Login successful

In [4]:
from transformers import AutoTokenizer
tokenizer = AutoTokenizer.from_pretrained("microsoft/phi-2", trust_remote_code=True)

tokenizer_config.json:   0%|          | 0.00/7.34k [00:00<?, ?B/s]

vocab.json:   0%|          | 0.00/798k [00:00<?, ?B/s]

merges.txt:   0%|          | 0.00/456k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/2.11M [00:00<?, ?B/s]

added_tokens.json:   0%|          | 0.00/1.08k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/99.0 [00:00<?, ?B/s]

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [5]:
d = pd.read_csv('../custom_data/gpt4_parsed_resumes.csv')

In [6]:
# d['work_experience'].sample(1).values[0]

In [6]:
df = pd.read_csv('../custom_data/latest_work_exp_28dec.csv')

In [7]:
df.columns = ['id', 'designation', 'keywords', 'user_experience', 'resume','work_experience']

In [12]:
df['work_experience'].sample(1).values[0]

"[{'company': 'HCL Technologies', 'role': 'Associate Consultant', 'start_date': 'Nov 2021', 'end_date': 'Present', 'description': 'Installation, configuration and maintenance of servers. Provision New server AWS, Azure and On-prem. Planning and execution of patching. Create file systems and Extending size as per the requirement. Handling Linux Level 2 tickets using Helix Tool. Controlling access to files and Folder with the Permissions. Installation of and upgrading software packages using YUM and RPM. Interact with customers to gather user requirements relevant to deployment and integration, Architecture Implementation. Tuning up of systems/components in case of performance issues. Creating Document. Attending CRC meeting and represent all CRQ from Unix Team. Perform server patching every month. Knowledge On Various DevOps Tools and Technologies (Git, Ansible, Docker and Container). Create support case with Red Hat. Add EBS Volume and extend file system as per requirement. Change Instance type as per requirement. Create snapshot of AWS and Azure servers. Restore from snapshot. Monitor Health check from AWS and Azure Console. Create support case with AWS and Microsoft Azure. Create new server with Image. Create Golden Image patching for AWS, Azure and On-prem. Check backup failed issue on Azure servers. Check server status from AWS/Azure console management. Used to write script whenever required to optimize my task.'}, {'company': 'Megthink Solutions', 'role': 'OS Admin', 'start_date': 'Sep 2020', 'end_date': 'Nov 2021', 'description': 'Installation, configuration and maintenance of servers. VMware Management for virtualization. VCS Management. Planning and execution of patching and VCS cluster switching of machines. Restore/Refresh of servers/VGs using NetBackup and/or ISM. Create file systems and Extending size as per the requirement. Monitor system performance using HPOVO and OM Monitoring Tools. Managing User and Groups in Linux. Installation of and upgrading software packages using YUM and RPM. Scheduling Future Linux task Using CRON. Basic troubleshooting of DB level issues (Oracle / MySql). Installation and management of MySQL for a couple of in-house application. Interact with customers to gather user requirements relevant to deployment and integration, Architecture Implementation. Analyzing the integration/deployment Requirements and underling business logic/purpose. Document and review processes to help in the smooth roll out of a release in production. Installation, customization and Administration of purchased Software products e.g Modeln, Peoplesoft ,Sharepoint Server, Remedy, E2open, tuxedo, IWS etc. Maintenance of Application servers (Weblogic/Jboss/Tomcat) on distributed clusters. Application components deployment in Production, Quality Assurance and Test Environments. Scheduling and managing scripts using IBM Tivoli Workload Scheduler (Maestro). Installation and management of Hermes and a couple of in-house application. Installation and configuration of Commvault tools. Wrote simple and complex shell(bash) script for automation the repeated task.'}, {'company': 'ST Microelectronics', 'role': 'System Engineer', 'start_date': 'Jul 2016', 'end_date': 'Sep 2020', 'description': 'No job description provided'}, {'company': 'SI Microelectronics', 'role': 'Automation and Backup Operation', 'start_date': 'Jul 2015', 'end_date': 'Jun 2016', 'description': 'Checking the status of all the Admin schedules on daily basis and if necessary manually executing those commands (ex. Backing up client data, backing up primary, tape and copy storage pools, Database Backup, Expiration, DB utilization, Log utilization, Reclamation & Migration ). Working on bad tapes such as auditing volumes, fixing errors, restoring volumes, deleting volumes if necessary. Constantly monitoring Storage Libraries for Drive issues, scratch volume counts, tape mount issues, tape volume errors to ensure the integrity of the backup environment. Installing and configuring new TSM client nodes for automatic scheduled backups. Handling Incidents of Troubleshooting of Missed/Failed backups which includes OS level and Network related issues across all Platforms. Handling restores of windows/Unix servers as per client requests.'}]"

In [16]:
wex = []
for work_string in tqdm(df['work_experience'].values):
    work_json = ast.literal_eval(work_string)
    
    for work_ex in work_json:
        work_ex.pop('description', None)
    wex.append(work_ex)

  0%|          | 0/365 [00:00<?, ?it/s]

In [18]:
df['work_data'] = wex

In [19]:
df.sample(10)

,id,designation,keywords,user_experience,resume,work_experience,work_data
60,2863812,NaN,"['Mobile App', 'Computer Application', 'UI Des...",1,Sachin Bajwan\n UX/UI Designer\n\n\n About Me...,"[{'company': 'Silver Touch Technologies Ltd', ...","{'company': 'Swar Yantra Technology', 'role': ..."
347,2333029,NaN,"['Web Development', 'C', 'SQL', 'Bootstrap']",0,MURALI S\n Smurali88@gmail.com\n +91-81970709...,"[{'company': 'VARCONS TECHNOLOGIES', 'role': '...","{'company': 'VARCONS TECHNOLOGIES', 'role': 'F..."
294,670478,NaN,"['SQL', 'AWS', 'Machine Learning', 'Data Minin...",4,Umesh Nagar\n +91 6377419020 umesh.nagar92x@g...,"[{'company': 'Aera Technology', 'role': 'Data ...","{'company': 'Aera Technology', 'role': 'Intern..."
130,2768232,NaN,"['Version Control', 'Software Development', 'X...",2,Shilpa N\n +91 988 641 3886\n nshilpamurthy02...,"[{'company': 'Glovish Technologies LLP', 'role...","{'company': 'Teleperformance', 'role': 'Techni..."
351,2850061,Software Engineer,"['Software Quality', 'Selenium', 'Test Cases',...",4,Automation Test Engineer Phone: 8790140660\nS ...,"[{'company': 'CSCC LABS', 'role': 'Senior Test...","{'company': 'Codeforec360', 'role': 'Analyst',..."
192,2280936,Associate UX Designer,"['Agile', 'Agile Methodologies', 'Project Mana...",3,VIGNESH S vigneshshanmugam@outlook.com\n 95435...,"[{'company': 'BrainCapitol Technologies', 'rol...","{'company': 'SL Lumax Pvt Ltd', 'role': 'Train..."
140,2717085,NaN,"['SQL', '.NET', 'SQL Server', 'Windows', 'Wind...",16,Rohinikumar Konithala Subramani\nE-mail: ksroh...,"[{'company': 'Axle Informatics LLC', 'role': '...","{'company': 'Unified Groceries, Inc.', 'role':..."
131,2815811,Project manager,"['Project Management', 'Analytical', 'Program ...",8,RESUM\n E\n BHUSHAN MORE\n Contact: - 7385369...,"[{'company': 'Konnect Anlytics Pvt.Ltd', 'role...","{'company': 'Galagali mlt. Ltd.', 'role': 'PMO..."
252,2102782,Software Engineer,"['IOS', 'Computer Application', 'Mobile Applic...",6,Dharmesh Shah dharmesh.shah2412@gmail.com\n\n ...,"[{'company': 'Matellio Inc.', 'role': 'Softwar...","{'company': 'Zaptech Solutions Pvt. Ltd.', 'ro..."
232,2948875,Storage administrator,"['Troubleshooting', 'Change Management', 'Linu...",4,LAVANYA .B\n\nMobile: +91 9346399481;\n\nEmail...,"[{'company': 'ACCENTURE SOLUTIONS PVT LTD', 'r...","{'company': 'TCS (TATA CONSULTANCY SERVICES)',..."

## Work Experience Training Data
We try and define a decent text prompt here for the base untrained model to understand the general task of extracting work experience from a resume

In [10]:
# df = df.sample(frac=1)

In [20]:
work_prompt = f'''
You are an accurate agent working for a job platform. You will be given the raw 
unstructured text of a user's resume, and the task is to extract specific details about the work experience of the 
user from the resume. The JSON should include a "work_experience" key with an array of objects. 
Each object represents a job and should contain keys for "company", "role", "start_date", "end_date".
Dates should be in "mm/yyyy" format. Please provide the data in a concise JSON format
Ensure the JSON syntax is correct, with proper use of quotes, commas, and braces. Here is an example structure::

Please follow this structure closely and keep the response within the token limit." \n{{query_format}}\n

This is the resume text:\n{{resume_text}}\n
This is the output in the required_format:\n{{output}}\n{{eos_token}}
'''

### Output Format 
We're telling the model how to format the output and give us a repsonse

In [21]:
work_format = '''
[
    {"company":"Example Company 1",
    "role":"Example Role 1",
    "start_date":"mm/yyyy",
    "end_date":"mm/yyyy"},
    {"company":"Example Company 2",
    "role":"Example Role 2","
    start_date":"mm/yyyy",
    "end_date":"mm/yyyy"}
]
'''

In [22]:
work_df = df[['resume','work_data']]

In [23]:
work_df

,resume,work_data
0,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,{'company': 'Kmedia Digital Media Consultancy'...
1,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,{'company': 'CABS(Centre for Air Borne System)...
2,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...","{'company': 'Birmingham City University', 'rol..."
3,Padmashree padmasupritha@gmail.com\n 831086454...,{'company': 'Hindustan Aeronautics Limited (HA...
4,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,{'company': 'Smilyo Educational Charitable Tru...
...,...,...
360,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,"{'company': 'Caprileo Data Services Pvt Ltd, B..."
361,Aman Verma\nBackend Developer\nAs an upcoming ...,"{'company': 'Moonlight-labs', 'role': 'Backend..."
362,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,"{'company': 'MetLife Insurance KK', 'role': 'U..."
363,Kajal Kumari\nSoftware Engineer\nE +9176670223...,"{'company': 'InnoBit Systems Pvt Ltd', 'role':..."
364,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,{'company': 'Artificialability Labs Private Li...

In [24]:
work_df.columns = ['resume','output']

In [26]:
work_df['format'] = work_format
work_df['prompt'] = work_prompt

/tmp/ipykernel_4623/1745885871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_df['format'] = work_format
/tmp/ipykernel_4623/1745885871.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_df['prompt'] = work_prompt

In [27]:
from llama_recipes.utils.dataset_utils import get_preprocessed_dataset
from llama_recipes.datasets.utils import Concatenator

In [30]:
data_list = []
for row in tqdm(work_df.itertuples()):
    text = row.prompt.format(
            query_format=row.format,
            resume_text=row.resume,
            output=row.output,
            eos_token=tokenizer.eos_token)
    data_list.append(text)

0it [00:00, ?it/s]

In [31]:
dl = {
    'text': data_list
}

In [32]:
work_data_hf = Dataset.from_dict(dl)

In [33]:

work_data_hf = work_data_hf.map(
    lambda sample: tokenizer(sample["text"]),
    batched=True,
    remove_columns=list(work_data_hf.features),
).map(Concatenator(), batched=True)

Map:   0%|          | 0/365 [00:00<?, ? examples/s]

Token indices sequence length is longer than the specified maximum sequence length for this model (2248 > 2048). Running this sequence through the model will result in indexing errors

Map:   0%|          | 0/365 [00:00<?, ? examples/s]

In [34]:
work_data_hf

Dataset({
    features: ['input_ids', 'attention_mask', 'labels'],
    num_rows: 245
})

In [36]:
work_data_hf.save_to_disk('../custom_data/phi2/workex_shell.hf')

Saving the dataset (0/1 shards):   0%|          | 0/245 [00:00<?, ? examples/s]

In [99]:
# work_ds.save_to_disk('custom_data/work_data.hf')

In [100]:
# edu_ds.save_to_disk('custom_data/education_data.hf')

In [101]:
# pi_ds.save_to_disk('custom_data/pi_data.hf')