In [1]:
import pandas as pd
import pickle
from datasets import Dataset
from tqdm.notebook import tqdm
import json

/home/ubuntu/infoedge/llama-recipes/env/lib/python3.10/site-packages/huggingface_hub/utils/_runtime.py:184: UserWarning: Pydantic is installed but cannot be imported. Please check your installation. `huggingface_hub` will default to not using Pydantic. Error message: '{e}'
  warnings.warn(

In [2]:
import ast
import sys
sys.path.append('/home/ec2-user/SageMaker/llama_root/src')
sys.path.append('../llama-recipes/src/llama_recipes/')

In [3]:
from huggingface_hub import login
login(token='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')

Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/ubuntu/.cache/huggingface/token
Login successful

In [4]:
from transformers import LlamaForCausalLM, LlamaTokenizer

model_id="meta-llama/Llama-2-7b-chat-hf"

tokenizer = LlamaTokenizer.from_pretrained(model_id)

In [5]:
d = pd.read_csv('../custom_data/gpt4_parsed_resumes.csv')

In [6]:
# d['work_experience'].sample(1).values[0]

In [8]:
df = pd.read_csv('../custom_data/latest_work_exp_28dec.csv')

In [9]:
df.columns = ['id', 'designation', 'keywords', 'user_experience', 'resume','work_experience']

In [11]:
sample_workex = df.sample(5)['work_experience']

for wex in sample_workex.values:
    job_obj = ast.literal_eval(wex)
    print(f'\n{job_obj}\n----------------------------------------------------------------\n')

[{'company': 'Capgemini India', 'role': 'Software Engineer', 'start_date': 'November 2021', 'end_date': 'Present', 'description': 'NA'}, {'company': 'Capgemini Technology Services Private Limited', 'role': 'Aws devops and cloud Engineer', 'start_date': 'March 2022', 'end_date': 'present', 'description': 'Hands on experience in Amazon Web Services. Proven ability to work efficiently in both independent and teamwork environments. Setting up the monitoring solutions by using cloud watch. Deploying and maintaining CI/CD solutions by leveraging AWS services like Code Pipeline, Code Deploy, Code Commit. Effectively overseeing and upkeeping both application deployment source code and infrastructure code through GIT. Orchestrating the configuration, migration and deployment of a wide range of AWS resources in alignment with client-specific needs and objectives.'}, {'company': 'Bewaak', 'role': 'Junior Java Developer', 'start_date': 'November 2021', 'end_date': 'February 2022', 'description': 'Accountable for analyzed processes, designed workflows, and customized applications to meet business requirements. Developed business logic based on the requirement, architecture and documentation. Worked on Unit Testing with Junit Mockito. Contributed to the implementation of the solution. Engaged in team collaboration during sprint review and daily status meetings. Active in the team to drive the project in an efficient way. Environment: JDK, Spring tool suite, Maven, Git hub, Postman, Swagger, Postgre SQL.'}]
----------------------------------------------------------------


[{'company': 'TAPACADEMY RAJAJINAGAR', 'role': 'Trainee', 'description': 'I have been training on Java fullstack web development'}]
----------------------------------------------------------------


[{'company': 'Mind Tree', 'role': 'Software Engineer', 'start_date': 'Dec 2021', 'end_date': 'Present', 'description': 'Not mentioned in the resume'}, {'company': 'MetLife Insurance KK', 'role': 'UI Developer', 'start_date': 'Sept 2022', 'end_date': 'Present', 'description': 'MetLife Insurance is the widely accepted and reputed insurance provider in Japan. MLJ has wide variety of products, offerings in terms of insurance. Serving the insurance needs of larger population in Japan, MLJ has become a reputed insurance provider for various customers within Japan. The major impact is on attractive and easy representation of data for the analysis of the data on all aspects- qualitative and quantitative. MetLife Application is the UI/Browser based application developed on top of the Cisco WebEx API, which serves as the interface for the Agent and Customer Interactions. Metlive application offers the features for the Agents to schedule the meetings with the customers and the Customer could be able to join and have the discussion with the Agent virtually via PC/Mobile Browsers without installing any s/w or app on their environment.'}]
----------------------------------------------------------------


[{'company': 'Cybage Software Private Limited', 'role': 'Project: Deverl-DevMarketing', 'start_date': '11/2021', 'end_date': 'Present', 'description': 'Developed responsive user interfaces for complex web applications using HTML5, CSS3, Bootstrap5, Javascript, React.js, Redux, and GIT, ensuring seamless user experiences across various devices. Presently working on a new frontend technology named BOQ Web in the Google environment as a Google Cloud vendor.'}, {'company': 'Cybage Software Private Limited', 'role': 'Project: Google Cloud website & applications', 'start_date': '04/2021', 'end_date': '10/2021', 'description': 'Developed multiple web applications for the CGC platform using HTML5, CSS3, Bootstrap5, Javascript,GIT. Collaborated closely with UX/UI designers to successfully translate design concepts into visually stunning and highly functional interfaces.'}]
----------------------------------------------------------------


[{'company': 'Wasel Exchange SAOC', 'role': 'Branch Incharge', 'start_date': '2017', 'end_date': '2022', 'description': None}, {'company': 'L&T Financial Services Ltd', 'role': 'Sales Officer', 'start_date': '2015', 'end_date': '2016', 'description': None}, {'company': 'P K Exchange Co. LLC', 'role': 'Asst.Branch Incharge', 'start_date': '2013', 'end_date': '2014', 'description': None}, {'company': 'Ahalia Financial Services Ltd.', 'role': 'Asst.Branch Incharge', 'start_date': '2010', 'end_date': '2012', 'description': None}]
----------------------------------------------------------------

In [12]:
json_str = df['work_experience'].sample(1).values[0]
job_obj = ast.literal_eval(json_str)
job_obj

[{'company': 'Nagarro Software Private Limited',
  'role': 'Staff Engineer',
  'start_date': 'May 2022',
  'end_date': 'Present',
  'description': 'Experienced with full software development life-cycle, architecting scalable platforms, object-oriented programming, database design and agile methodologies.'},
 {'company': 'Coforge Limited',
  'role': 'Technical Analyst',
  'start_date': 'September 2021',
  'end_date': 'April 2022',
  'description': 'Experienced with full software development life-cycle, architecting scalable platforms, object-oriented programming, database design and agile methodologies.'},
 {'company': 'Aricent Technologies (Holdings) Limited',
  'role': 'Sr. Software Developer',
  'start_date': 'March 2020',
  'end_date': 'August 2021',
  'description': 'Experienced with full software development life-cycle, architecting scalable platforms, object-oriented programming, database design and agile methodologies.'},
 {'company': 'Nimoy IT Solutions Pvt. Ltd.',
  'role': 'Sr. Backend Developer',
  'start_date': 'May 2019',
  'end_date': 'February 2020',
  'description': 'Experienced with full software development life-cycle, architecting scalable platforms, object-oriented programming, database design and agile methodologies.'},
 {'company': 'Lannet Technologies Pvt. Ltd.',
  'role': 'Sr. Software Developer',
  'start_date': 'June 2015',
  'end_date': 'April 2019',
  'description': 'Experienced with full software development life-cycle, architecting scalable platforms, object-oriented programming, database design and agile methodologies.'}]

In [13]:
from datetime import datetime
from dateutil.parser import parse

In [14]:
parse('apr 2017')

datetime.datetime(2017, 4, 21, 0, 0)

In [15]:
parse('jan 1 1900')

datetime.datetime(1900, 1, 1, 0, 0)

In [31]:
def normalize_date(date_str):
    if date_str.lower() == 'present' or date_str.lower()=='current' or date_str.lower()=='till date':
        return 'present'
        
    # Attempt to parse the date using dateutil's parse
    dt_format = parse(date_str)
    str_date = dt_format.strftime('%m/%Y')
    return str_date

In [83]:
wex = []
counts = 0
idx_list = []
for idx, work_string in enumerate(tqdm(df['work_experience'].values)):
    work_json = ast.literal_eval(work_string)
    try:
        for w in work_json:
            f1 = normalize_date(w['start_date'])
            f2 = normalize_date(w['end_date'])
            w['start_date'] = f1
            w['end_date'] = f2
            w.pop('description',None)
            
        wex.append(w)
        idx_list.append(idx)
    except:
        pass
    
    # for work_ex in work_json:
    #     work_ex.pop('description', None)
    # wex.append(work_ex)

  0%|          | 0/365 [00:00<?, ?it/s]

In [84]:
len(wex)

304

In [85]:
df.shape

(365, 7)

In [86]:
counts

0

In [88]:
wdf = df.loc[idx_list,:]

In [93]:
wdf['work_experience'] = wex

In [95]:
wdf

,id,designation,keywords,user_experience,resume,work_experience,work_data
0,2187979,Associate Analyst,"['Analytics', 'Microsoft Office', 'E-commerce'...",2,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,[{'company': 'Valuebound Consulting Services P...,{'company': 'Kmedia Digital Media Consultancy'...
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,[{'company': 'Valuebound Consulting Services P...,{'company': 'CABS(Centre for Air Borne System)...
2,2644336,Associate consultant,"['Automation', 'Automation Scripts', 'Microsof...",3,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...",[{'company': 'Valuebound Consulting Services P...,"{'company': 'Birmingham City University', 'rol..."
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,[{'company': 'Valuebound Consulting Services P...,{'company': 'Hindustan Aeronautics Limited (HA...
4,1377095,NaN,"['CSS', 'Communication Skills', 'Unit Testing'...",2,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,[{'company': 'Valuebound Consulting Services P...,{'company': 'Smilyo Educational Charitable Tru...
...,...,...,...,...,...,...,...
358,2915128,NaN,"['JAVA', 'Web Based', 'Antivirus', 'System Eng...",2,Akshay Devadhe\n Java Backend Engineer\n aksh...,[{'company': 'Valuebound Consulting Services P...,"{'company': 'Tata consultancy Service', 'role'..."
360,2244857,Junior Data Scientist,"['XML', 'Machine Learning', 'Algorithms', 'MyS...",3,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,[{'company': 'Valuebound Consulting Services P...,"{'company': 'Caprileo Data Services Pvt Ltd, B..."
361,2936804,Backend Developer,"['PHP', 'Web Development', 'Javascript', 'Tech...",0,Aman Verma\nBackend Developer\nAs an upcoming ...,[{'company': 'Valuebound Consulting Services P...,"{'company': 'Moonlight-labs', 'role': 'Backend..."
362,2877064,Software Engineer,"['Analytical', 'Software Engineer', 'Applicati...",2,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,[{'company': 'Valuebound Consulting Services P...,"{'company': 'MetLife Insurance KK', 'role': 'U..."
364,2133290,NaN,"['Product Management', 'C', 'Graphic Design', ...",1,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,[{'company': 'Valuebound Consulting Services P...,{'company': 'Artificialability Labs Private Li...

In [96]:
# wex = []
# for work_string in tqdm(df['work_experience'].values):
#     work_json = ast.literal_eval(work_string)
    
#     for work_ex in work_json:
#         work_ex.pop('description', None)
#     wex.append(work_ex)

In [97]:
df

,id,designation,keywords,user_experience,resume,work_experience,work_data
0,2187979,Associate Analyst,"['Analytics', 'Microsoft Office', 'E-commerce'...",2,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,"[{'company': 'XL Dynamics India pvt ltd', 'rol...",{'company': 'Kmedia Digital Media Consultancy'...
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,"[{'company': 'Halodoc Technologies LLP', 'role...",{'company': 'CABS(Centre for Air Borne System)...
2,2644336,Associate consultant,"['Automation', 'Automation Scripts', 'Microsof...",3,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...","[{'company': 'Capgemini DFRC', 'role': 'Associ...","{'company': 'Birmingham City University', 'rol..."
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,[{'company': 'InnoPhase INC [Synergic Emergenc...,{'company': 'Hindustan Aeronautics Limited (HA...
4,1377095,NaN,"['CSS', 'Communication Skills', 'Unit Testing'...",2,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,"[{'company': 'Tandem Crystals Pvt Limited, Che...",{'company': 'Smilyo Educational Charitable Tru...
...,...,...,...,...,...,...,...
360,2244857,Junior Data Scientist,"['XML', 'Machine Learning', 'Algorithms', 'MyS...",3,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,"[{'company': 'Caprileo Data Services Pvt Ltd, ...","{'company': 'Caprileo Data Services Pvt Ltd, B..."
361,2936804,Backend Developer,"['PHP', 'Web Development', 'Javascript', 'Tech...",0,Aman Verma\nBackend Developer\nAs an upcoming ...,"[{'company': 'Gaura Web Technology', 'role': '...","{'company': 'Moonlight-labs', 'role': 'Backend..."
362,2877064,Software Engineer,"['Analytical', 'Software Engineer', 'Applicati...",2,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,"[{'company': 'Mind Tree', 'role': 'Software En...","{'company': 'MetLife Insurance KK', 'role': 'U..."
363,1685979,Software Engineer,"['Android', 'APIS', 'Mobile Applications', 'Ag...",2,Kajal Kumari\nSoftware Engineer\nE +9176670223...,[{'company': 'Delhi NowNow (Sarotech Solutions...,"{'company': 'InnoBit Systems Pvt Ltd', 'role':..."
364,2133290,NaN,"['Product Management', 'C', 'Graphic Design', ...",1,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,"[{'company': 'Techgropse Pvt. Ltd.', 'role': '...",{'company': 'Artificialability Labs Private Li...

In [98]:
sample_workex = wdf.sample(5)['work_experience']

for wex in sample_workex.values:
    job_obj = ast.literal_eval(wex)
    print(f'\n{job_obj}\n----------------------------------------------------------------\n')

[{'company': 'Valuebound Consulting Services Pvt. Ltd.', 'role': 'Software Engineer', 'start_date': 'December, 2021', 'end_date': 'Present', 'description': 'Optiwave Cost Optimization, Cloud Cost Optimization Tool using JavaScript, Node.js, Express.js, and MySQL. Integrating AWS cost and usage service for centralized cost insights. Automated CloudFormation stack creation through the front end, allowing users to securely retrieve cost data by providing their cross-account role ARN. Implemented efficient data extraction from Cost and Usage Report Parquet files. Boosted Optiwave performance with Redis cache. ClearOne Advantage, Built serverless backend using Node.js and Typescript, leveraging AWS Services like Lambda, DynamoDB, SNS, SQS, and CloudWatch. Developed publishers lambda function that publishes messages using AWS SNS to AWS SQS. Implemented a subscribers lambda function that processes and transforms the data. Developed Lambda functions for Google Ads, Facebook Ads, and Bing Ads, facilitating offline conversion tracking in Ads dashboards. Utilized GitLab CI/CD for building, running, and deploying services and code to AWS.'}, {'company': 'Valuebound Consulting Services Pvt. Ltd.', 'role': 'Software Engineer Intern', 'start_date': 'August, 2021', 'end_date': 'December, 2021', 'description': 'Great River Learning, Tech Stack: Node.js, JavaScript, React, Domain: EdTech Worked on bugfix and patches for the existing system. Tested manually new functionalities and patches. Training: FullStack Development \n 45 days of training on various technology like JavaScript, Node.js, ExpressJS, ReactJS, AWS'}]
----------------------------------------------------------------


[{'company': 'Valuebound Consulting Services Pvt. Ltd.', 'role': 'Software Engineer', 'start_date': 'December, 2021', 'end_date': 'Present', 'description': 'Optiwave Cost Optimization, Cloud Cost Optimization Tool using JavaScript, Node.js, Express.js, and MySQL. Integrating AWS cost and usage service for centralized cost insights. Automated CloudFormation stack creation through the front end, allowing users to securely retrieve cost data by providing their cross-account role ARN. Implemented efficient data extraction from Cost and Usage Report Parquet files. Boosted Optiwave performance with Redis cache. ClearOne Advantage, Built serverless backend using Node.js and Typescript, leveraging AWS Services like Lambda, DynamoDB, SNS, SQS, and CloudWatch. Developed publishers lambda function that publishes messages using AWS SNS to AWS SQS. Implemented a subscribers lambda function that processes and transforms the data. Developed Lambda functions for Google Ads, Facebook Ads, and Bing Ads, facilitating offline conversion tracking in Ads dashboards. Utilized GitLab CI/CD for building, running, and deploying services and code to AWS.'}, {'company': 'Valuebound Consulting Services Pvt. Ltd.', 'role': 'Software Engineer Intern', 'start_date': 'August, 2021', 'end_date': 'December, 2021', 'description': 'Great River Learning, Tech Stack: Node.js, JavaScript, React, Domain: EdTech Worked on bugfix and patches for the existing system. Tested manually new functionalities and patches. Training: FullStack Development \n 45 days of training on various technology like JavaScript, Node.js, ExpressJS, ReactJS, AWS'}]
----------------------------------------------------------------


[{'company': 'Valuebound Consulting Services Pvt. Ltd.', 'role': 'Software Engineer', 'start_date': 'December, 2021', 'end_date': 'Present', 'description': 'Optiwave Cost Optimization, Cloud Cost Optimization Tool using JavaScript, Node.js, Express.js, and MySQL. Integrating AWS cost and usage service for centralized cost insights. Automated CloudFormation stack creation through the front end, allowing users to securely retrieve cost data by providing their cross-account role ARN. Implemented efficient data extraction from Cost and Usage Report Parquet files. Boosted Optiwave performance with Redis cache. ClearOne Advantage, Built serverless backend using Node.js and Typescript, leveraging AWS Services like Lambda, DynamoDB, SNS, SQS, and CloudWatch. Developed publishers lambda function that publishes messages using AWS SNS to AWS SQS. Implemented a subscribers lambda function that processes and transforms the data. Developed Lambda functions for Google Ads, Facebook Ads, and Bing Ads, facilitating offline conversion tracking in Ads dashboards. Utilized GitLab CI/CD for building, running, and deploying services and code to AWS.'}, {'company': 'Valuebound Consulting Services Pvt. Ltd.', 'role': 'Software Engineer Intern', 'start_date': 'August, 2021', 'end_date': 'December, 2021', 'description': 'Great River Learning, Tech Stack: Node.js, JavaScript, React, Domain: EdTech Worked on bugfix and patches for the existing system. Tested manually new functionalities and patches. Training: FullStack Development \n 45 days of training on various technology like JavaScript, Node.js, ExpressJS, ReactJS, AWS'}]
----------------------------------------------------------------


[{'company': 'Valuebound Consulting Services Pvt. Ltd.', 'role': 'Software Engineer', 'start_date': 'December, 2021', 'end_date': 'Present', 'description': 'Optiwave Cost Optimization, Cloud Cost Optimization Tool using JavaScript, Node.js, Express.js, and MySQL. Integrating AWS cost and usage service for centralized cost insights. Automated CloudFormation stack creation through the front end, allowing users to securely retrieve cost data by providing their cross-account role ARN. Implemented efficient data extraction from Cost and Usage Report Parquet files. Boosted Optiwave performance with Redis cache. ClearOne Advantage, Built serverless backend using Node.js and Typescript, leveraging AWS Services like Lambda, DynamoDB, SNS, SQS, and CloudWatch. Developed publishers lambda function that publishes messages using AWS SNS to AWS SQS. Implemented a subscribers lambda function that processes and transforms the data. Developed Lambda functions for Google Ads, Facebook Ads, and Bing Ads, facilitating offline conversion tracking in Ads dashboards. Utilized GitLab CI/CD for building, running, and deploying services and code to AWS.'}, {'company': 'Valuebound Consulting Services Pvt. Ltd.', 'role': 'Software Engineer Intern', 'start_date': 'August, 2021', 'end_date': 'December, 2021', 'description': 'Great River Learning, Tech Stack: Node.js, JavaScript, React, Domain: EdTech Worked on bugfix and patches for the existing system. Tested manually new functionalities and patches. Training: FullStack Development \n 45 days of training on various technology like JavaScript, Node.js, ExpressJS, ReactJS, AWS'}]
----------------------------------------------------------------


[{'company': 'Valuebound Consulting Services Pvt. Ltd.', 'role': 'Software Engineer', 'start_date': 'December, 2021', 'end_date': 'Present', 'description': 'Optiwave Cost Optimization, Cloud Cost Optimization Tool using JavaScript, Node.js, Express.js, and MySQL. Integrating AWS cost and usage service for centralized cost insights. Automated CloudFormation stack creation through the front end, allowing users to securely retrieve cost data by providing their cross-account role ARN. Implemented efficient data extraction from Cost and Usage Report Parquet files. Boosted Optiwave performance with Redis cache. ClearOne Advantage, Built serverless backend using Node.js and Typescript, leveraging AWS Services like Lambda, DynamoDB, SNS, SQS, and CloudWatch. Developed publishers lambda function that publishes messages using AWS SNS to AWS SQS. Implemented a subscribers lambda function that processes and transforms the data. Developed Lambda functions for Google Ads, Facebook Ads, and Bing Ads, facilitating offline conversion tracking in Ads dashboards. Utilized GitLab CI/CD for building, running, and deploying services and code to AWS.'}, {'company': 'Valuebound Consulting Services Pvt. Ltd.', 'role': 'Software Engineer Intern', 'start_date': 'August, 2021', 'end_date': 'December, 2021', 'description': 'Great River Learning, Tech Stack: Node.js, JavaScript, React, Domain: EdTech Worked on bugfix and patches for the existing system. Tested manually new functionalities and patches. Training: FullStack Development \n 45 days of training on various technology like JavaScript, Node.js, ExpressJS, ReactJS, AWS'}]
----------------------------------------------------------------

## Work Experience Training Data
We try and define a decent text prompt here for the base untrained model to understand the general task of extracting work experience from a resume

In [13]:
df = df.sample(frac=1)

In [1]:
work_prompt = f'''
You are an accurate agent working for a job platform. You will be given the raw 
unstructured text of a user's resume, and the task is to extract information about work experience of the 
user from the resume. The JSON should include a 
"work_experience" key with an array of objects. Each object represents a job and should contain keys for 
"company", "role", "start_date", "end_date". Dates should be in "mm/yyyy" format. 
Please provide the data in a concise JSON format and Ensure the JSON syntax is correct, 
with proper use of quotes, commas, and braces. Here is an example structure:

Please follow this structure closely and keep the response within the token limit." \n{{query_format}}\n

This is the resume text:\n{{resume_text}}\n
This is the output in the required_format:\n{{output}}\n{{eos_token}}
'''

### Output Format 
We're telling the model how to format the output and give us a repsonse

In [16]:
work_format = '''
[
    {"company":"Example Company 1",
    "role":"Example Role 1",
    "start_date":"mm/yyyy",
    "end_date":"mm/yyyy",
    "description":"Example Description 1"},
    {"company":"Example Company 2",
    "role":"Example Role 2","
    start_date":"mm/yyyy",
    "end_date":"mm/yyyy",
    "description":"Example Description 2"}
]
'''

In [17]:
work_df = df[['resume','work_experience']]

In [18]:
work_df

,resume,work_experience
241,Kevin Patel [Quality Analyst]\n kevinpatel8832...,"[{'company': 'Tech Mahindra', 'role': 'Quality..."
260,Bushra Khan Professional Experience\n\n Senior...,"[{'company': 'Paytm', 'role': 'Senior Software..."
191,+91 7709938677 Vineet Kolate\n Java Developer...,[{'company': 'Broadridge Trading and Connectiv...
177,"ALOK CHAUDHARY\nLaxmi Vihar, Burari, Delhi - 1...",[{'company': 'Indian Computer Emergency Respon...
233,SANGEETHA S XAMARIN FORMS &amp; .NET DEVELOPE...,"[{'company': 'Ouris Health Pvt. Ltd.', 'role':..."
...,...,...
237,AQSA KHAN\n +91 9811998472\n Aqsa1221@gmail.c...,"[{'company': 'JLL India Pvt Ltd', 'role': 'Sub..."
226,"TEAM LEAD\n\n Noida, Uttar Pradesh - 201318, ...","[{'company': 'Qualitest', 'role': 'Team Lead',..."
127,suneethaworkday15@gmail.com\n Mobile:99645486...,"[{'company': 'Forcepoint', 'role': 'Workday Te..."
239,ayushsj17@gmail.com\n\nAYUSH KUMAR SONE +91 8...,[{'company': 'Envision Enterprises Solution Pv...
339,Sumit Dasharath Phadake\n Career Objective: T...,"[{'company': 'Icon Facility Service Company', ..."

In [19]:
work_df.columns = ['resume','output']

In [20]:
work_df['format'] = work_format
work_df['prompt'] = work_prompt
work_data = Dataset.from_pandas(work_df)

/tmp/ipykernel_10441/1997307274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_df['format'] = work_format
/tmp/ipykernel_10441/1997307274.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_df['prompt'] = work_prompt

In [21]:
from llama_recipes.utils.dataset_utils import get_preprocessed_dataset
from llama_recipes.datasets.utils import Concatenator

In [22]:
work_data

Dataset({
    features: ['resume', 'output', 'format', 'prompt', '__index_level_0__'],
    num_rows: 365
})

In [23]:
print(work_data[4]['format'])

[
    {"company":"Example Company 1",
    "role":"Example Role 1",
    "start_date":"mm/yyyy",
    "end_date":"mm/yyyy",
    "description":"Example Description 1"},
    {"company":"Example Company 2",
    "role":"Example Role 2","
    start_date":"mm/yyyy",
    "end_date":"mm/yyyy",
    "description":"Example Description 2"}
]

In [24]:
print(work_data[4]['prompt'])

You are an accurate agent working for a job platform. You will be given the raw
unstructured text of a user's resume, and the task is to extract the entire work experience of the
user from the resume. Please provide the data in a concise JSON format. The JSON should include a
"work_experience" key with an array of objects. Each object represents a job and should contain keys for
"company", "role", "start_date", "end_date", and "description". Dates should be in "mm/yyyy" format.
Ensure the JSON syntax is correct, with proper use of quotes, commas, and braces. Here is an example structure::

Please follow this structure closely and keep the response within the token limit."
{query_format}


This is the resume text:
{resume_text}

This is the output in the required_format:
{output}
{eos_token}

In [25]:
data_list = []
for row in work_df.itertuples():
    text = row.prompt.format(
            query_format=row.format,
            resume_text=row.resume,
            output=row.output,
            eos_token=tokenizer.eos_token)
    data_list.append(text)

In [26]:
dl = {
    'text': data_list
}

In [27]:
work_data_hf = Dataset.from_dict(dl)

In [28]:

work_data_hf = work_data_hf.map(
    lambda sample: tokenizer(sample["text"]),
    batched=True,
    remove_columns=list(work_data_hf.features),
).map(Concatenator(), batched=True)

Map:   0%|          | 0/365 [00:00<?, ? examples/s]

Map:   0%|          | 0/365 [00:00<?, ? examples/s]

In [29]:
work_data_hf

Dataset({
    features: ['input_ids', 'attention_mask', 'labels'],
    num_rows: 344
})

In [30]:
work_data_hf.save_to_disk('../custom_data/llama2/work_details.hf')

Saving the dataset (0/1 shards):   0%|          | 0/344 [00:00<?, ? examples/s]

In [99]:
# work_ds.save_to_disk('custom_data/work_data.hf')

In [100]:
# edu_ds.save_to_disk('custom_data/education_data.hf')

In [101]:
# pi_ds.save_to_disk('custom_data/pi_data.hf')