In [1]:
import pandas as pd
import pickle
from datasets import Dataset
import ast, json, html, re
from tqdm.notebook import tqdm

In [2]:
from datetime import datetime
from dateutil.parser import parse

In [3]:
import sys
sys.path.append('/home/ec2-user/SageMaker/llama_root/src')
sys.path.append('../llama-recipes/src/llama_recipes/')

In [4]:
from huggingface_hub import login
login(token='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')

Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/ubuntu/.cache/huggingface/token
Login successful

In [5]:
from transformers import LlamaForCausalLM, LlamaTokenizer

model_id="mistralai/Mistral-7B-Instruct-v0.2"
tokenizer = LlamaTokenizer.from_pretrained(model_id)

In [6]:
df = pd.read_csv('../custom_data/gpt4_parsed_resumes.csv')

In [7]:
df

,id,resume,basic_details,work_experience,education,technical_skills
0,2627581,Vaishnavi Moholkar\n Software Developer\n vai...,"{'name': 'Vaishnavi Moholkar', 'location': 'Pu...",{'company': 'Fintech Credit Systems India Pvt....,"[{'institution': 'Mudhoji High School, Phaltan...","['Java', 'Java 8', 'J2EE', 'Hibernate', 'JDBC'..."
1,2627580,Akshat Srivastav - Resume\n\n\n\nContact Info...,"{'name': 'Akshat Srivastav', 'location': 'Kora...","{'company': 'Turno, Bangalore', 'role': 'Data ...","[{'institution': 'NIT Calicut, Calicut, Kerala...","['Data Modeling/Machine Learning', 'Data Analy..."
2,2627579,DEVA KUMAR\nEmail: devasqldev@gmail.com\nConta...,"{'name': 'Deva Kumar', 'location': 'Hyderabad'...","{'company': 'Infosys Technologies PVT ltd', 'r...","[{'institution': 'JNTUA', 'program': 'Bachelor...","['T-SQL', 'Power BI', 'SSIS', 'Azure Devops', ..."
3,1944506,"I&rsquo;m\n lo,\n\n Ashiti Khanuja\n Hel\n UX...","{'name': 'Ashiti Khanuja', 'location': 'Baroda...","{'company': 'Turno', 'role': 'UX / UI Designer...",[{'institution': 'Maharaja Sayajirao Universit...,"['Figma', 'Adobe Photoshop', 'Adobe Illustrato..."
4,2141819,Hi! I'am Arun S\n UI/UX Designer\n\n +91-8610...,"{'name': 'Arun S', 'location': 'Chennai, Tamil...","{'company': 'Tata Consultancy Services', 'role...","[{'institution': 'Loyola College, Chennai', 'p...","['UX Research', 'UI Design', 'Wireframes', 'Vi..."
...,...,...,...,...,...,...
136,1494288,"GAYATHIRI R\n Thanjavur, Tamil Nadu | P: +91 ...","{'name': 'GAYATHIRI R', 'location': 'Thanjavur...","{'company': 'BANK OF AMERICA', 'role': 'Softwa...",[{'institution': 'PANIMALAR INSTITUTE OF TECHN...,"['Python', 'R', 'SQL', 'Tableau', 'NLP', 'Imag..."
137,791409,Sivakumar Akella\n\n Technical Program Manager...,"{'name': 'Sivakumar Akella', 'location': 'Bang...","{'company': 'NSPlus Technology Pvt. Ltd.', 'ro...",[{'institution': 'Advanced Institute of Engine...,"['PMP', 'PMI-ACP', 'SAFe', 'CSM', 'ITIL F3', '..."
138,2260965,Deepak Mishra\n deepakmishrapc2020@gmail.com\...,"{'name': 'Deepak Mishra', 'location': 'Mumbai'...","{'company': 'Gainsight Software Pvt Ltd', 'rol...","[{'institution': 'University of Mumbai', 'prog...","['Java', 'Javascript', 'Spring', 'Hibernate', ..."
139,2037084,Kumari Anjali\n +91-9074799694 | anjali41256@...,"{'name': 'Kumari Anjali', 'location': 'Unknown...","{'company': 'Vias Groups', 'role': 'DevOps Eng...",[{'institution': 'RGPV University - Sagar Inst...,"['System Administrator', 'CloudWatch', 'Linux'..."
140,824408,Hemant Vasant Sakpal\n\n\nSummary -\n\n\n Dig...,"{'name': 'Hemant Vasant Sakpal', 'email': 'hem...","{'company': 'Capgemini', 'role': 'Program Mana...","[{'institution': 'Mumbai University', 'program...",['Cloud Tech Stack: Azure App Services & Funct...

In [8]:
import json, ast
ast.literal_eval(df['education'].sample().values[0])

[{'institution': 'Shri Shankaracharya Technical Campus, Bhilai',
  'program': 'B-tech',
  'start_date': '2016',
  'end_date': '2020'}]

In [9]:
def normalize_date(date_str):
    if date_str.lower() == 'present' or date_str.lower()=='current' or date_str.lower()=='till date':
        return "present"
        
    # Attempt to parse the date using dateutil's parse
    dt_format = parse(date_str)
    str_date = dt_format.strftime("%m/%Y")
    return str_date

In [10]:
def convert_to_json(input_string):
    # Replace single quotes at the start and end of keys and values with double quotes
    # This regex specifically targets the start of keys/values and the end of keys/values
    corrected_string = re.sub(r"(\{|\,)\s*\'", r'\1 "', input_string)  # Start of key/value
    corrected_string = re.sub(r"\'\s*(\,|\})", r'" \1', corrected_string)  # End of key/value
    corrected_string = re.sub(r"\'\s*:", r'":', corrected_string)  # Key end
    corrected_string = re.sub(r":\s*\'", r': "', corrected_string)  # Value start

    try:
        # Convert the string to a valid JSON
        valid_json = json.loads(corrected_string)
        return valid_json
    except json.JSONDecodeError as e:
        print(f'Error thrown in JSON converter is {e}')
        return input_string

In [11]:
df.sample(5)

,id,resume,basic_details,work_experience,education,technical_skills
62,965980,AJITH KUMAR.A CAREER HISTORY\n Senior Develope...,"{'name': 'AJITH KUMAR.A', 'location': None, 'e...","{'company': 'Quest Global', 'role': 'Senior De...","[{'institution': 'ST JOSEPH AUTONOMOUS', 'prog...","['Next.js', 'React 16,17 with Redux and ToolKi..."
59,2585382,"Mesia\n Num 1228, 8th, B Cross, Yelahanka Sat...","{'name': 'Mesia Num', 'location': '1228, 8th, ...","{'company': 'Mphasis', 'role': 'Customer Servi...","[{'institution': 'Bangalore University', 'prog...","['Effective Communication Skills', 'Problem-So..."
104,1065857,AVANEESH KUMAR (091) 981 804 7234 / 836 805 1...,"{'name': 'Avaneesh Kumar', 'location': 'Mumbai...","{'company': 'Consultant at Tekolutions.ai', 'r...",[{'institution': 'Indian Institute of Technolo...,"['Java JEE & Web ecosystem', 'C# .NET ecosyste..."
51,2505239,"POONAM SAMOTA\nQA Engineer\nBangalore, India\n...","{'name': 'POONAM SAMOTA', 'location': 'Banglor...","{'company': 'Azilen Technologies', 'role': 'Qu...","[{'institution': 'BU Campus, Jhansi', 'program...","['QA Testing Methodologies', 'Test Automation ..."
101,2580001,Dayakar A\nEmail : dayakar.a1993@gmail.com\nMo...,"{'name': 'Dayakar A', 'location': 'Not availab...","{'company': 'TCS', 'role': 'I.T Analyst', 'sta...",[{'institution': 'Sree Vidyanikethan Engineeri...,"['SQL', 'PLSQL', 'UNIX', 'SHELL SCRIPTING', 'O..."

In [12]:
edu_string_list = []
errors = []
uid_list = []

for string, uid in tqdm(df[['education','id']].values):
    edu_json = ast.literal_eval(string)
    edu_string = ''
    try:
        for edu_idx, edu in enumerate(edu_json):
            temp = f'''{edu_idx+1}. {edu['program']} @ {edu['institution']} FROM {normalize_date(edu['start_date'])} TO {normalize_date(edu['end_date'])}\n'''
            edu_string = edu_string + temp
        
        uid_list.append(uid)
        edu_string_list.append(edu_string)

    except Exception as e:
        print(e)
        errors.append(edu_json)
        pass

  0%|          | 0/141 [00:00<?, ?it/s]

String does not contain a date:
String does not contain a date:
String does not contain a date:
String does not contain a date:
String does not contain a date:
Unknown string format: NA
String does not contain a date:
String does not contain a date:
Unknown string format: Unknown
Unknown string format: N/A
'start_date'
Unknown string format: Not available
Unknown string format: unknown
String does not contain a date:
Unknown string format: not specified
Unknown string format: not mentioned
Unknown string format: Not given
Unknown string format: Not specified
Unknown string format: N/A
Unknown string format: N/A
String does not contain a date: -
String does not contain a date:
String does not contain a date:
Unknown string format: Unavailable
Unknown string format: UNSPECIFIED
String does not contain a date:
Unknown string format: Not specified
Unknown string format: Unknown
String does not contain a date:
'start_date'
String does not contain a date:
Unknown string format: NA
Unknown string format: N/A
Unknown string format: Unknown
String does not contain a date:
String does not contain a date:
Unknown string format: Not provided
String does not contain a date:
String does not contain a date: -
Unknown string format: Not mentioned
String does not contain a date:
Unknown string format: NA
Unknown string format: Not mentioned
Unknown string format: Unknown
Unknown string format: Unknown
String does not contain a date:
String does not contain a date:
Unknown string format: Unknown
Unknown string format: NA
String does not contain a date:
String does not contain a date:
Unknown string format: Unknown
String does not contain a date:
String does not contain a date:
String does not contain a date:
Unknown string format: Unspecified
'NoneType' object has no attribute 'lower'
String does not contain a date:
Unknown string format: Not Mentioned
Unknown string format: Not Mentioned
String does not contain a date:
Unknown string format: Unknown
String does not contain a date:
Unknown string format: Not available
Unknown string format: Not mentioned
String does not contain a date:
Unknown string format: Unknown
Unknown string format: nan
String does not contain a date:
Unknown string format: Year not specified
String does not contain a date:
Unknown string format: NA
String does not contain a date:
Unknown string format: NA
String does not contain a date:
Unknown string format: Not Provided
String does not contain a date:
Unknown string format: NA
String does not contain a date:
'start_date'
Unknown string format: N/A
String does not contain a date:
Unknown string format: Not specified
String does not contain a date:
String does not contain a date:
String does not contain a date:
Unknown string format: NA
Unknown string format: Unknown
Unknown string format: NA

In [14]:
edu_df = df.loc[df['id'].isin(uid_list)]

In [15]:
edu_df.shape

(52, 6)

In [16]:
edu_df['education'] = edu_string_list

/tmp/ipykernel_15433/165756896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_df['education'] = edu_string_list

In [17]:
edu_df.sample(5)

,id,resume,basic_details,work_experience,education,technical_skills
86,2403200,DHANSHREE RAUT\n PROJECT ENGINEER\n\n\n\nPERS...,"{'name': 'Dhanshree Raut', 'location': 'Hinjew...","{'company': 'Wipro Technologies', 'role': 'Tes...",1. B. E (2018-2022) -CSE @ Hanuman Prasark Man...,"['Java', 'C++', 'C', 'HTML', 'CSS', 'JS', 'Sel..."
23,2627561,"Sahana Stalin\nKochi, Kerala\nsahanastalinstal...","{'name': 'Sahana Stalin', 'location': 'Kochi, ...","{'company': 'Fresher', 'role': 'Thiruvananthap...","1. Bcom, data entry, Company secretary in Comm...","['Data Entry', 'data analysis', 'business']"
33,2191672,akashmishra205@gmail.com\n +91 9343367285 Aka...,"{'name': 'Akash Mishra', 'location': 'Bengalur...","{'company': 'Rakuten Symphony', 'role': 'Assoc...",1. BE in Computer Science and Engineering @ La...,"['Java 8', 'Core Java', 'MySQL', 'Spring Frame..."
5,874565,Sunil kr Jain Flat no 5 Satyam\nApartment behi...,"{'name': 'Sunil kr Jain', 'location': 'Satyam ...",{'company': 'Baroda Global Shared services Ltd...,1. MBA in banking and finance management @ NIM...,"['Cisco Routers', 'Cisco Switches', 'TCP/IP', ..."
103,2627529,"SHA MOHAMED BIJILI.H\nS/o. HUSSAIN BIJILI,\n#8...","{'name': 'SHA MOHAMED BIJILI.H', 'location': '...","{'company': 'Ford Motor Company', 'role': 'SPC...",1. P.G Diploma in Materials management @ Annam...,"['Communication', 'Problem Solving', 'Leadersh..."

## Work Experience Training Data
We try and define a decent text prompt here for the base untrained model to understand the general task of extracting work experience from a resume

In [18]:
edu_df = edu_df.sample(frac=1)

In [19]:
edu_prompt = f'''
[INST]You are an accurate agent working for a job platform. You will be given the raw 
unstructured text of a user's resume, and the task is to extract the education history of the 
user at the graduate and post graduate level only. The response should be broken into a numbered list with each item of the list 
containing the complete and accurate information about the education of the users. Here is an example structure:\n
1. Degree/Program Name 1 @ Institute 1 [From "mm/yyyy" to "mm/yyyy"] :\n
2. Degree/Program Name 2 @ Institute 2 [From "mm/yyyy" to "mm/yyyy"] :\n
Please follow this structure closely and keep the response within the token limit[\INST] 

This is the resume text:\n{{resume_text}}\n
This is the output in the required_format:\n{{output}}\n{{eos_token}}
'''

### Output Format 
We're telling the model how to format the output and give us a repsonse

In [20]:
edu_df = edu_df[['resume','education']].dropna()

In [21]:
edu_df.sample(10)

,resume,education
120,Kapil Choudhary\n Gaming Technology Student\n...,1. BACHELOR OF TECHNOLOGY IN COMPUTER SCIENCE(...
67,Vandana Sharma\nInnovative and detail-oriented...,1. Masters of Computer Application(MCA) @ Bana...
93,"Manul Jain\n DELIVERY MANAGEMENT, TECHNICAL P...",1. Master of Engineering @ Swinburne Universit...
50,Aman Jhabak\n amanjhabak7@gmail.com\n https:/...,1. B-tech @ Shri Shankaracharya Technical Camp...
30,\n\n\n +919972509638\n aditya.raj.08.1995@gmai...,1. B.E. in Electronics and Telecommunications ...
41,"CURRICULUM VITAE\n\nAlok kumar\nPhase2, Secto...","1. BCA @ DBRAU, Agra FROM 05/2013 TO 05/2016\n..."
125,Ayush Raj\n Software Test Engineer\n An enthu...,1. Master of Computer Application @ Galgotias ...
47,Priya Shrirao\n priyashrirao2821@gmail.com\n ...,1. Bachelor of Engineering â€“ Information Techn...
136,"GAYATHIRI R\n Thanjavur, Tamil Nadu | P: +91 ...",1. Bachelor of Engineering in Computer Science...
107,Paras Saini\n Gurgaon\n 8872225542\n parassain...,1. Bachelor of Technology (CSE) @ Guru Nanak D...

In [22]:
edu_df['education'].sample(1).values[0]

'1. B-tech @ Shri Shankaracharya Technical Campus, Bhilai FROM 05/2016 TO 05/2020\n'

In [23]:
edu_df.columns = ['resume','output']

In [24]:
edu_df['prompt'] = edu_prompt

edu_data = Dataset.from_pandas(edu_df)

In [25]:
from llama_recipes.utils.dataset_utils import get_preprocessed_dataset
from llama_recipes.datasets.utils import Concatenator

In [27]:
data_list = []
for row in edu_df.itertuples():
    text = row.prompt.format(
            resume_text=row.resume,
            output=row.output,
            eos_token=tokenizer.eos_token)
    data_list.append(text)

In [28]:
import random
print(data_list[random.sample(range(len(data_list)),1)[0]])

[INST]You are an accurate agent working for a job platform. You will be given the raw
unstructured text of a user's resume, and the task is to extract the education history of the
user at the graduate and post graduate level only. The response should be broken into a numbered list with each item of the list
containing the complete and accurate information about the education of the users. Here is an example structure:

1. Degree/Program Name 1 @ Institute 1 [From "mm/yyyy" to "mm/yyyy"] :

2. Degree/Program Name 2 @ Institute 2 [From "mm/yyyy" to "mm/yyyy"] :

Please follow this structure closely and keep the response within the token limit[\INST]

This is the resume text:
 GAURISH
 BANGA
 EXPERIENCE

 LEAD UI/UX DESIGNER / Jul 2021 - Present
 CELESTIAL SYSTEMS Inc. - Full Time
PROFILE Responsible for Planning and conducting User
 research and creating UI/UX Strategy for In-house and
A highly talented UI/UX Client Projects
designer with 3+ years of Designed UI Screens in collaboration with teams &amp;
experience in various managed implementation of features.
Designing fields like Web
Design, Mobile Design, Digital
Media &amp; Print Media .
 LEAD UI/UX DESIGNER / Aug 2020 - Jul 2021
An experience of a product INFOZION TECHNOLOGIES - Full Time
creates a huge Impact on a Presented prototypes and concept designs using
user and I believe that a tools like Figma, Illustrator &amp; Adobe XD
designer plays a crucial role in Re-designed websites and increased conversion rate
shaping that experience. Created Responsive Designs which led to an increase
 in leads
 Designed UI Screens in collaboration with teams &amp;
 managed implementation of features.
E D U C AT I O N
Bachelor of Arts / 2017-2020 UI/UX DESIGNER / Jul 2020 - Aug 2020
University of Delhi - Lodhi Road,
 PRO-SCHOOL - Contract
New Delhi Responsible for designing cross platform applications
 for the their flagship products which runs on both IOS
High School / 2011-2017 &amp; Android devices.
Manav Stahli School - Rajinder Designed Style guide and User Flows for new features
Nagar, New Delhi and I used both qualitative and quantitative date to
 solve problems.


C O N TA C T UI INTERN / Jul 2020 - Aug 2020
 BATLIWALE - Internship
Address Over the course of this internship I worked on one
West Patel Nagar, Delhi, India. specific project which was delivery management
 application where I helped the Visual design team to
 explore alternative solutions to their existing design
Email approach.
grshbanga@gmail.com My role was to find out multiple no. of solutions for
 one problem and evaluate each of the solutions to
Phone implement the best one.
+91 9873738032
 1.
, GAURISH BANGA

behance.net/gaurishbanga PROJECT ADVISOR / Jan 2019 - Jan 2020
 MUSKAAN DREAMS FOUNDATION - Contract
linkedin.com/in/gaurishbanga Muskaan Dreams is an award-winning social impact
 non-profit organization recognized by Forbes Asia in
 2019.
 I worked with Founder &amp; CEO Mr. Abhishek Dubey
 (Social Entrepreneur) Forbes 30 Under 30 Asia and
 helped muskaan dreams team to expand their digital
 school program to Delhi NCR which lead to
 inaugration of their first digital school in Gurugram.
 I closely worked with their communications team and
 helped build them their new brand identity which led
 to an steady increase of their social media presence.


 GRAPHIC DESIGN INTERN / Sept 2019 - Nov 2019
 ASSERT IT SOLUTIONS - Internship
 Created infographics, banners, posters for various
 events.
Designed posts to be put up on social media.


 PROJECT ADVISOR / Jan 2019 - Mar 2019
 TEACH FOR INDIA - Contract
 Created an impact on the lives of more than 1500
 children. Conducted sessions across 50 government
 schools in Delhi Ncr to spread awareness about the
 sustainable development goals.



 SKILLS
 Adobe XD
 Figma
 Adobe Illustrator




 2.

This is the output in the required_format:
1. Bachelor of Arts @ University of Delhi FROM 05/2017 TO 05/2020
2.  @ Manav Stahli School FROM 05/2011 TO 05/2017

</s>

In [29]:
dl = {
    'text': data_list
}

In [30]:
edu_data_hf = Dataset.from_dict(dl)

In [31]:

edu_data_hf = edu_data_hf.map(
    lambda sample: tokenizer(sample["text"]),
    batched=True,
    remove_columns=list(edu_data_hf.features),
).map(Concatenator(), batched=True)

Map:   0%|          | 0/51 [00:00<?, ? examples/s]

Map:   0%|          | 0/51 [00:00<?, ? examples/s]

In [32]:
edu_data_hf

Dataset({
    features: ['input_ids', 'attention_mask', 'labels'],
    num_rows: 33
})

In [33]:
# edu_data_hf.save_to_disk('../custom_data/mistral/edu_data.hf')

Saving the dataset (0/1 shards):   0%|          | 0/33 [00:00<?, ? examples/s]