In [1]:
import pandas as pd
import pickle
from datasets import Dataset
from tqdm.notebook import tqdm
import json

/home/ubuntu/infoedge/llama-recipes/env/lib/python3.10/site-packages/huggingface_hub/utils/_runtime.py:184: UserWarning: Pydantic is installed but cannot be imported. Please check your installation. `huggingface_hub` will default to not using Pydantic. Error message: '{e}'
  warnings.warn(

In [2]:
import ast
import sys
sys.path.append('/home/ec2-user/SageMaker/llama_root/src')
sys.path.append('../llama-recipes/src/llama_recipes/')

In [3]:
from huggingface_hub import login
login(token='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')

Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/ubuntu/.cache/huggingface/token
Login successful

In [4]:
from transformers import LlamaForCausalLM, LlamaTokenizer

model_id="mistralai/Mistral-7B-Instruct-v0.2"
tokenizer = LlamaTokenizer.from_pretrained(model_id)

In [5]:
d = pd.read_csv('../custom_data/gpt4_parsed_resumes.csv')

In [6]:
# d['work_experience'].sample(1).values[0]

In [7]:
df = pd.read_csv('../custom_data/latest_work_exp_28dec.csv')

In [8]:
df.columns = ['id', 'designation', 'keywords', 'user_experience', 'resume','work_experience']

In [9]:
sample_workex = df.sample(5)['work_experience']

for wex in sample_workex.values:
    job_obj = ast.literal_eval(wex)
    print(f'\n{job_obj}\n----------------------------------------------------------------\n')

[{'company': 'Invent Soft Labs, Chennai', 'role': 'Quality Assurance Engineer', 'start_date': 'April 2023', 'end_date': 'PRESENT', 'description': 'Nearly 1 year of experience in manual testing, Mobile app testing, and Automation testing. Also worked on various environments like IOS testing, Android testing, and Windows. Hands-on JIRA tool for project management. Expertise in designing test scenarios, test cases, test data, and defect reports. Having work experience in the Agile/Scrum ceremonies and methodologies. Having work experience in web application testing. Having good knowledge of various testing types.'}, {'company': 'DOFY Application', 'role': 'Quality Analyst', 'start_date': 'April 2023', 'end_date': 'till date', 'description': 'Analyze and understand the Business requirements of the project owners. Prepare Test design based on requirements and develop the test cases.'}, {'company': 'STARZero Web Application', 'role': 'Quality Analyst', 'start_date': 'July 2023', 'end_date': 'till date', 'description': 'Understanding the Client requirement and making the mock-up screens/Wireframes using the Balsamiq cloud. Developing the Requirement document (SRS, FRS) and getting approval from the client.'}, {'company': 'Beyond Therapies', 'role': 'Quality Analyst', 'start_date': 'Aug 2023', 'end_date': 'till date', 'description': 'It is a US client project for Admin (Hospital management) and Provider management system to maintain the appointments, POC, Claims (Insurance), and Reports for the patients. Involved in Retesting of the Resolved bugs. Involved in Minutes of Minutes (MOM) meetings to understand the client requirements for the enhancement of the project.'}]
----------------------------------------------------------------


[{'company': 'Cloudesign', 'role': 'Software Development Engineer - 1', 'start_date': "May '23", 'end_date': 'Present', 'description': 'Spearheaded the development of a cybersecurity professionals portal, starting from the ground up, using React with Typescript as the primary technology stack. Took ownership of implementing key features, including dashboards and graph functionalities, to provide users with a comprehensive and visually engaging experience using chart JS library. Utilized Redux Toolkit to manage state effectively and ensure seamless data flow throughout the application. Leveraged Node.js and Swagger for backend development, enabling smooth API integrations and ensuring efficient communication between the frontend and backend components of the portal.'}, {'company': 'Capgemini', 'role': 'Senior Software Engineer', 'start_date': "Apr '21", 'end_date': "May '23", 'description': 'Was a part of project that won the Adobe Best Solution Award - 2022. Designed, developed, and installed software solutions using Node.js, React.js, MongoDB, and Express framework (MERN Stack). Collaborated with team members throughout the software development life cycle to ensure timely delivery of release cycles. Worked on 3 complex and scalable projects implementing micro frontend architecture. Oversaw code testing and debugging processes and was responsible for solving over 180 bugs. Integrated backend APIs and services with the micro frontend applications to enable seamless data flow and communication. Implemented DevOps practices to improve the operation process. Promoted to Senior Software Engineer in January 2023.'}]
----------------------------------------------------------------


[{'company': 'JIYA INFO TECH PRIVATE LIMITED', 'role': 'Jr. Software Developer', 'start_date': '01/2023', 'end_date': '07/2023', 'description': 'Developing applications using Core Java SpringBoot,JPA,HIbernate,JSP,Servlet. Use MySQL to create tables,views,inserting data etc. Functional and Unit Testing.Make reports.'}]
----------------------------------------------------------------


[{'company': 'Publicis Sapient', 'role': 'Associate Technology L2', 'start_date': 'June 2021', 'end_date': 'Present', 'description': "Worked on DollarTree Ibotta, a Webflux Spring application which uses third party api's to fetch data and show as a coupon detail in their retailer website and mobile application. Also worked on McDonald's Value Creation Engine, a nodejs and reactjs microservice project which consist of 8 orchestration services and PostgreSQL. Additionally, worked on McDonald's Error Budget and Automation Monitoring, both Spring Boot applications."}, {'company': 'Guardian India', 'role': 'Software Engineer - Developer', 'start_date': 'February 2018', 'end_date': 'June 2021', 'description': 'Worked on OFA (Outbound Feed Automation), a tool that works on automating outbound feeds for a client for keeping records on Employee Leave Status, Payment during absence and time duration while on leave using Web application and standalone application. Also worked on AM360: Amazon Hartford Feed, a module under Leave Absence Management System named AM360 which include feed file type to maintain leave related data.'}]
----------------------------------------------------------------


[{'company': 'Nagarro', 'role': 'Not Specified', 'start_date': 'July 2020', 'end_date': 'Present', 'description': 'Client : Bank Application (wealth management solutions), Description : It is a prominent fintech company that offers cutting-edge wealth management solutions. Founded in 2011 and headquartered in Hong Kong, they serve financial institutions globally. Their suite of products includes robo-advisor services, leveraging AI for automated investment advice. Its collaborates with partners like Credit Suisse and has raised funding from investors like NETWORK VC and Samsung Ventures. They are known for their innovative approach and efficient digitization of wealth management processes. Technologies Used are AWS, GCP, Jenkins, Python, Bash, Terraform, Kubernetes, GitHub, New Relic, Argo CD, Helm, ECR and Docker. Responsibilities include developing new features for the application and maintaining the existing one, ensuring high availability, implemented load balancing techniques, provisioned infrastructure, among others.'}, {'company': 'Nagarro', 'role': 'Not Specified', 'start_date': 'March 2020', 'end_date': 'July 2020', 'description': 'Client : Internal (COE-SRE), Description : Project involved in working on user stories on different DevOps tool chains. Technologies Used are Core JAVA, J2EE, Maven, GIT, Jenkins, HTML, Css,Docker. Responsibilites were full stack deployment, implementation and maintenance, application architecture design, created Jenkins pipeline for auto deployment, and tested deployment on self-managed and cloud platforms.'}]
----------------------------------------------------------------

In [10]:
json_str = df['work_experience'].sample(1).values[0]
job_obj = ast.literal_eval(json_str)
job_obj

[{'company': 'Ba7ahost inc',
  'role': 'Linux administrator',
  'start_date': '2006',
  'end_date': '2009',
  'description': 'Linux server port scanning. Automated processes to check malware attacks, hacks. Firewall setups. Setting up VHost and Apache Tuning. Good in writing monitoring shell scripts – Space and Databases. Understand the meaning of DNS, MX, and CNAME. Understand how mails work and their settings. Setting up FTP and creating users. Understand HTTP, SSL, and Caching. SVN setup, user accounts, Backups. Prepare resilience/backup/recover documents. Advanced knowledge of cPanel/WHM control panel. Advanced knowledge of the Linux operating system. Knowledge of bash and Perl shell scripting. Advanced knowledge of Exim. Advanced knowledge of Apache. Understanding of PHP and HTML. Web server setup and security. SSL implementation steps on live server. Mail server configuration. Basic troubleshooting related to hardware issues. Ports knowledge related to different services used in live server.'},
 {'company': 'ARABTECHNICAL GROUP',
  'role': 'Lead Php Developer',
  'start_date': '2010',
  'end_date': '2013',
  'description': 'Working with PHP (5-8) with a framework. Build E-commerce platforms ( MAGENTO2 -WORDPRESS). Comfortable working with MySQL. Experience using Symfony. Comfortable with version control (Git) and deployment of code changes. Ensuring code performs well and know how to manage the performance of functionality at scale. Experience refactoring existing code. Documenting work at code level and at system level. Working on platforms that deal with high traffic and seasonal demands. Digital agency or in-house environment background. Server management, experience working with AWS, specifically Ubuntu. Experience working with and integrating external APIs, for example Stripe for payments. Experience developing and maintaining an API. Having an understanding of how to best support the needs of the frontend. Experience with testing units such as PHPUnit. Experience working with Restful APIs.'},
 {'company': 'MANAR ELESKAN',
  'role': 'Network Security Consultant',
  'start_date': '2015',
  'end_date': '2018',
  'description': 'Conduct meetings with client to understand their requirements and needs.Provide technical assistance for Collaboration and Unified Communications. Provide consultancy and supervision of security solutions for enterprise networks. Provide leadership and direction to subject matter experts across the business and technical communities on strategic items. Collaborate with a number of key business stakeholders including programmed sponsors and Divisional Directors. Identify new skills, capabilities and CSO services required as a result of our cloud first strategy. Develop functional and operational policies and participate in developing policy frameworks for area of responsibility, creating underlying procedures and monitoring their implementation within the organization. Further develop and enhance the Group’s cloud security strategy to ensure safe adoption of cloud technologies supported by agile processes and culture. Identify new skills, capabilities and CSO services required as a result of our cloud first strategy. Work closely alongside CIO and teams supporting transformational activities to ensure we have a joined up security strategy that truly enables the business to deliver the best customer outcome.'},
 {'company': 'KAS FOR TECHNOLOGY',
  'role': 'Information Security Manager',
  'start_date': '2018',
  'end_date': '2022',
  'description': 'Writing Information Security reports and articulating the results to key stakeholders. Ensuring the framework and standards are kept to high standards such as Cyber Essentials, NCSC Ten Steps and ISO 27001. Lead in the definition and design of cyber security solutions to ensure applications, infrastructure and networks are secure and deliver the Firm’s objectives. Coordinate security controls design, testing, implementation support and compliance monitoring across IT. Initiate, facilitate, and promote activities to create IT risk and security awareness, including awareness of information security technologies and related regulatory issues that have a potential impact to the environment. Lead the initiatives to strengthen the comapnies security operations which includes threat intelligence, vulnerability management, security controls monitoring, IT security incident handling, SEIM roadmap, improvements to Cyber Security reporting, and other routine security activities.'}]

In [11]:
from datetime import datetime
from dateutil.parser import parse

In [12]:
parse('apr 2017')

datetime.datetime(2017, 4, 22, 0, 0)

In [13]:
parse('jan 1 1900')

datetime.datetime(1900, 1, 1, 0, 0)

In [14]:
def normalize_date(date_str):
    if date_str.lower() == 'present' or date_str.lower()=='current' or date_str.lower()=='till date':
        return "present"
        
    # Attempt to parse the date using dateutil's parse
    dt_format = parse(date_str)
    str_date = dt_format.strftime("%m/%Y")
    return str_date

In [15]:
wex = []
counts = 0
idx_list = []

for idx, work_string in enumerate(tqdm(df['work_experience'].values)):
    work_json = ast.literal_eval(work_string)
    try:
        for w in work_json:
            f1 = normalize_date(w['start_date'])
            f2 = normalize_date(w['end_date'])
            w['start_date'] = f1
            w['end_date'] = f2
            w.pop('description',None)

            w1 = ast.literal_eval(json.dumps(w))
        
        wex.append(work_json)    
        idx_list.append(idx)
    except:
        pass
    
    # for work_ex in work_json:
    #     work_ex.pop('description', None)
    # wex.append(work_ex)

  0%|          | 0/365 [00:00<?, ?it/s]

In [16]:
len(wex)

304

In [17]:
df.shape

(365, 6)

In [18]:
counts

0

In [19]:
wdf = df.loc[idx_list,:]

In [20]:
wdf['work_experience'] = wex

In [21]:
wdf

,id,designation,keywords,user_experience,resume,work_experience
0,2187979,Associate Analyst,"['Analytics', 'Microsoft Office', 'E-commerce'...",2,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,"[{'company': 'XL Dynamics India pvt ltd', 'rol..."
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,"[{'company': 'Halodoc Technologies LLP', 'role..."
2,2644336,Associate consultant,"['Automation', 'Automation Scripts', 'Microsof...",3,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...","[{'company': 'Capgemini DFRC', 'role': 'Associ..."
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,[{'company': 'InnoPhase INC [Synergic Emergenc...
4,1377095,NaN,"['CSS', 'Communication Skills', 'Unit Testing'...",2,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,"[{'company': 'Tandem Crystals Pvt Limited, Che..."
...,...,...,...,...,...,...
358,2915128,NaN,"['JAVA', 'Web Based', 'Antivirus', 'System Eng...",2,Akshay Devadhe\n Java Backend Engineer\n aksh...,"[{'company': 'Tata consultancy Service', 'role..."
360,2244857,Junior Data Scientist,"['XML', 'Machine Learning', 'Algorithms', 'MyS...",3,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,"[{'company': 'Caprileo Data Services Pvt Ltd, ..."
361,2936804,Backend Developer,"['PHP', 'Web Development', 'Javascript', 'Tech...",0,Aman Verma\nBackend Developer\nAs an upcoming ...,"[{'company': 'Gaura Web Technology', 'role': '..."
362,2877064,Software Engineer,"['Analytical', 'Software Engineer', 'Applicati...",2,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,"[{'company': 'Mind Tree', 'role': 'Software En..."
364,2133290,NaN,"['Product Management', 'C', 'Graphic Design', ...",1,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,"[{'company': 'Techgropse Pvt. Ltd.', 'role': '..."

In [22]:
# wex = []
# for work_string in tqdm(df['work_experience'].values):
#     work_json = ast.literal_eval(work_string)
    
#     for work_ex in work_json:
#         work_ex.pop('description', None)
#     wex.append(work_ex)

In [23]:
df

,id,designation,keywords,user_experience,resume,work_experience
0,2187979,Associate Analyst,"['Analytics', 'Microsoft Office', 'E-commerce'...",2,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,"[{'company': 'XL Dynamics India pvt ltd', 'rol..."
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,"[{'company': 'Halodoc Technologies LLP', 'role..."
2,2644336,Associate consultant,"['Automation', 'Automation Scripts', 'Microsof...",3,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...","[{'company': 'Capgemini DFRC', 'role': 'Associ..."
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,[{'company': 'InnoPhase INC [Synergic Emergenc...
4,1377095,NaN,"['CSS', 'Communication Skills', 'Unit Testing'...",2,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,"[{'company': 'Tandem Crystals Pvt Limited, Che..."
...,...,...,...,...,...,...
360,2244857,Junior Data Scientist,"['XML', 'Machine Learning', 'Algorithms', 'MyS...",3,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,"[{'company': 'Caprileo Data Services Pvt Ltd, ..."
361,2936804,Backend Developer,"['PHP', 'Web Development', 'Javascript', 'Tech...",0,Aman Verma\nBackend Developer\nAs an upcoming ...,"[{'company': 'Gaura Web Technology', 'role': '..."
362,2877064,Software Engineer,"['Analytical', 'Software Engineer', 'Applicati...",2,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,"[{'company': 'Mind Tree', 'role': 'Software En..."
363,1685979,Software Engineer,"['Android', 'APIS', 'Mobile Applications', 'Ag...",2,Kajal Kumari\nSoftware Engineer\nE +9176670223...,[{'company': 'Delhi NowNow (Sarotech Solutions...
364,2133290,NaN,"['Product Management', 'C', 'Graphic Design', ...",1,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,"[{'company': 'Techgropse Pvt. Ltd.', 'role': '..."

In [24]:
sample_workex = wdf.sample(5)['work_experience']

for wex in sample_workex.values:
    job_obj = ast.literal_eval(str(wex))
    print(f'\n{job_obj}\n----------------------------------------------------------------\n')

[{'company': 'DNEG(Double Negative)', 'role': 'Technology Intern', 'start_date': '01/2023', 'end_date': '07/2023'}, {'company': 'Bennett University (SCSET)', 'role': 'Django/Flutter Intern', 'start_date': '09/2022', 'end_date': '12/2022'}, {'company': 'Defence Research & Development Organisation', 'role': 'Software Engineer Intern', 'start_date': '06/2022', 'end_date': '08/2022'}]
----------------------------------------------------------------


[{'company': 'Western Digital, Bangalore', 'role': 'Senior Validation Engineer', 'start_date': '10/2022', 'end_date': 'present'}, {'company': 'Micron Technology(JGD TECH), Hyderabad', 'role': 'SSD Validation Engineer', 'start_date': '11/2019', 'end_date': '10/2022'}]
----------------------------------------------------------------


[{'company': 'Emids Technologies private limited', 'role': 'Associate Test Engineer', 'start_date': '03/2022', 'end_date': '05/2023'}, {'company': 'Futops Technologies india pvt ltd', 'role': 'Quality Analyst Engineer', 'start_date': '06/2022', 'end_date': 'present'}]
----------------------------------------------------------------


[{'company': 'Hyderabad Road Development Corporation Limited(HRDCL)', 'role': 'Intern', 'start_date': '05/2022', 'end_date': '05/2022'}]
----------------------------------------------------------------


[{'company': 'Capgemini', 'role': 'Data Analyst', 'start_date': '09/2022', 'end_date': 'present'}]
----------------------------------------------------------------

## Work Experience Training Data
We try and define a decent text prompt here for the base untrained model to understand the general task of extracting work experience from a resume

In [25]:
wdf = wdf.sample(frac=1)

In [26]:
work_prompt = f'''
You are an accurate agent working for a job platform. You will be given the raw 
unstructured text of a user's resume, and the task is to extract information about work experience of the 
user from the resume. The JSON should include a 
"work_experience" key with an array of objects. Each object represents a job and should contain keys for 
"company", "role", "start_date", "end_date". Dates should be in "mm/yyyy" format. 
Please provide the data in a concise JSON format and Ensure the JSON syntax is correct, 
with proper use of quotes, commas, and braces. Here is an example structure:

Please follow this structure closely and keep the response within the token limit." \n{{query_format}}\n

This is the resume text:\n{{resume_text}}\n
This is the output in the required_format:\n{{output}}\n{{eos_token}}
'''

### Output Format 
We're telling the model how to format the output and give us a repsonse

In [27]:
work_format = '''
[
    {"company":"Example Company 1",
    "role":"Example Role 1",
    "start_date":"mm/yyyy",
    "end_date":"mm/yyyy",
    "description":"Example Description 1"},
    {"company":"Example Company 2",
    "role":"Example Role 2","
    start_date":"mm/yyyy",
    "end_date":"mm/yyyy",
    "description":"Example Description 2"}
]
'''

In [28]:
work_df = wdf[['resume','work_experience']]

In [29]:
work_df

,resume,work_experience
232,LAVANYA .B\n\nMobile: +91 9346399481;\n\nEmail...,"[{'company': 'ACCENTURE SOLUTIONS PVT LTD', 'r..."
211,"AJAY KHANNA\n House No: - 355, Sec &ndash; 8....",[{'company': 'Nagarro Software Private Limited...
239,ayushsj17@gmail.com\n\nAYUSH KUMAR SONE +91 8...,[{'company': 'Envision Enterprises Solution Pv...
187,PROFESSIONAL SUMMARY\n\n Dedicated BSc Comput...,[{'company': 'Amazon (Contract with Pranav Ass...
59,Dedicated Semiconductor industry professional...,"[{'company': 'Western Digital, Bangalore', 'ro..."
...,...,...
82,YAGYANSH RANA\n SOFTWARE DEVELOPER\n\n\n SUMM...,"[{'company': 'DNEG(Double Negative)', 'role': ..."
208,Sandeep Ruhela\n Phone: 0091 9871242323\n Ema...,"[{'company': 'HCL Technologies', 'role': 'Lead..."
39,Priya Rai +91 80936 14075 | +91\n 96929 21775\...,"[{'company': 'JP Morgan Chase & Co., Mumbai', ..."
4,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,"[{'company': 'Tandem Crystals Pvt Limited, Che..."
204,Avinash Kumar\n Email: mail2avinash.48@gmail....,[{'company': 'Quintics Management Consultancie...

In [30]:
work_df.columns = ['resume','output']

In [31]:
work_df['format'] = work_format
work_df['prompt'] = work_prompt
work_data = Dataset.from_pandas(work_df)

/tmp/ipykernel_2955/1997307274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_df['format'] = work_format
/tmp/ipykernel_2955/1997307274.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_df['prompt'] = work_prompt

In [32]:
from llama_recipes.utils.dataset_utils import get_preprocessed_dataset
from llama_recipes.datasets.utils import Concatenator

In [33]:
work_data

Dataset({
    features: ['resume', 'output', 'format', 'prompt', '__index_level_0__'],
    num_rows: 304
})

In [34]:
print(work_data[4]['format'])

[
    {"company":"Example Company 1",
    "role":"Example Role 1",
    "start_date":"mm/yyyy",
    "end_date":"mm/yyyy",
    "description":"Example Description 1"},
    {"company":"Example Company 2",
    "role":"Example Role 2","
    start_date":"mm/yyyy",
    "end_date":"mm/yyyy",
    "description":"Example Description 2"}
]

In [35]:
print(work_data[4]['prompt'])

You are an accurate agent working for a job platform. You will be given the raw
unstructured text of a user's resume, and the task is to extract information about work experience of the
user from the resume. The JSON should include a
"work_experience" key with an array of objects. Each object represents a job and should contain keys for
"company", "role", "start_date", "end_date". Dates should be in "mm/yyyy" format.
Please provide the data in a concise JSON format and Ensure the JSON syntax is correct,
with proper use of quotes, commas, and braces. Here is an example structure:

Please follow this structure closely and keep the response within the token limit."
{query_format}


This is the resume text:
{resume_text}

This is the output in the required_format:
{output}
{eos_token}

In [36]:
data_list = []
for row in work_df.itertuples():
    text = row.prompt.format(
            query_format=row.format,
            resume_text=row.resume,
            output=row.output,
            eos_token=tokenizer.eos_token)
    data_list.append(text)

In [37]:
dl = {
    'text': data_list
}

In [38]:
work_data_hf = Dataset.from_dict(dl)

In [39]:

work_data_hf = work_data_hf.map(
    lambda sample: tokenizer(sample["text"]),
    batched=True,
    remove_columns=list(work_data_hf.features),
).map(Concatenator(), batched=True)

Map:   0%|          | 0/304 [00:00<?, ? examples/s]

Map:   0%|          | 0/304 [00:00<?, ? examples/s]

In [40]:
work_data_hf

Dataset({
    features: ['input_ids', 'attention_mask', 'labels'],
    num_rows: 247
})

In [42]:
work_data_hf.save_to_disk('../custom_data/mistral/work_details.hf')

Saving the dataset (0/1 shards):   0%|          | 0/247 [00:00<?, ? examples/s]

In [99]:
# work_ds.save_to_disk('custom_data/work_data.hf')

In [100]:
# edu_ds.save_to_disk('custom_data/education_data.hf')

In [101]:
# pi_ds.save_to_disk('custom_data/pi_data.hf')