In [1]:
import pandas as pd
import pickle
from datasets import Dataset
import ast
from tqdm.notebook import tqdm
import html, json

In [2]:

import sys
sys.path.append('/home/ec2-user/SageMaker/llama_root/src')
sys.path.append('../llama-recipes/src/llama_recipes/')

In [3]:
from huggingface_hub import login
login(token='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')

Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/ubuntu/.cache/huggingface/token
Login successful

In [4]:
from transformers import LlamaForCausalLM, LlamaTokenizer

model_id="meta-llama/Llama-2-7b-chat-hf"

tokenizer = LlamaTokenizer.from_pretrained(model_id)

In [5]:
df = pd.read_csv('../custom_data/latest_work_exp_28dec.csv')

In [6]:
df.columns = ['id', 'designation', 'keywords', 'user_experience', 'resume','work_experience']

In [7]:
sample_workex = df.sample(5)['work_experience']

for wex in sample_workex.values:
    job_obj = ast.literal_eval(wex)
    print(f'\n{job_obj}\n----------------------------------------------------------------\n')

[{'company': 'Vmware', 'role': 'Member of Technical Staff III (MTS)', 'start_date': '03/2022', 'end_date': 'Present', 'description': 'Designed and implemented an auto task assignment system that saved approximately 250 hrs of the group managers time annually, resulting in increased operational efficiency and productivity. Successfully implemented an SLA management System for fulfillers in the ticketing system, ensuring that service level agreements were consistently met. This led to improved customer satisfaction and compliance with contractual agreement. Played a pivotal role in the implementation of knowledge management system to streamline the organization information sharing and retrieval processes ensuring right content is available to the right users. Identified and addressed performance bottlenecks, resulting in significant improvements by reducing 2-5 seconds per request in application speed and efficiency by using profiling tools like JProfiler.'}, {'company': 'Xoriant', 'role': 'Sr. Software Engineer', 'start_date': '09/2018', 'end_date': '10/2021', 'description': 'Collaborated with cross functional teams to continuously enhance the messaging system based on subscriber feedback by implementing automation and rules by responding to specific keywords, improving response time and accuracy. Created scheduler service ensuring reliable message delivery with error handling and integrated messaging service. This helped to send the message to customers in different timezone at the right time enhancing the effectiveness of communication with customers. Proficiently utilized RabbitMQ to efficiently manage message processing for load balancing and error handling which ensured robust and reliable message handling within the organizations messaging infrastructure.'}, {'company': 'Vizexec Transformations', 'role': 'Software Engineer', 'start_date': '10/2013', 'end_date': '05/2014', 'description': 'Implemented custom CRM features to meet specific business needs, resulting in increased operational efficiency and user satisfaction. Successfully resolved critical bugs in the CRM system, improving its performance and stability. Designed and executed comprehensive test cases to ensure the quality and reliability of CRM software.'}, {'company': 'Infosys', 'role': 'Sr. System Engineer', 'start_date': '02/2013', 'end_date': '09/2013', 'description': 'Provided critical support by analyzing system logs to identify and troubleshoot operational issues, ensuring the seamless functioning of IT infrastructure. Collaborated closely with cross-functional teams to deliver prompt solutions, maintaining a high level of customer satisfaction.'}, {'company': 'Openstrides', 'role': 'Software Engineer', 'start_date': '06/2012', 'end_date': '02/2013', 'description': 'Added and managed classes and course information within the application called "Connect", significantly simplifying course registration and administration processes. Conducted testing and quality assurance to deliver a robust and user-friendly application.'}, {'company': 'Elitecore Technologies', 'role': 'Jr. Software Engineer', 'start_date': '08/2010', 'end_date': '03/2012', 'description': 'Added and managed classes and course information within the application called "Connect", significantly simplifying course registration and administration processes. Conducted testing and quality assurance to deliver a robust and user-friendly application.'}]
----------------------------------------------------------------


[{'company': 'VARCONS TECHNOLOGIES', 'role': 'Full stack web development', 'start_date': 'Aug 2022', 'end_date': 'Sep 2022', 'description': '"FULL STACK WEB DEVELOPMENT" internship position with varcons Technologies.'}]
----------------------------------------------------------------


[{'company': 'Capgemini Technology Services India Limited', 'role': 'Senior Software Engineer', 'start_date': '06/2021', 'end_date': 'Present', 'description': 'DevOps Engineer & Guidewire PolicyCenter Specialist (Client: The Hartford Insurance Company, USA). Proficiently address client issues and tailor Gosu functions to meet specific requirements within Guidewire PolicyCenter. Create and manage GX, ETI, and ETX files, streamlining system enhancements and data integration. Skillfully troubleshoot XML/JSON payload issues, ensuring the smooth operation of Guidewire SAAS SQL PolicyCenter integrations. Led successful data migration from IBM Cloud to AWS while gaining expertise in Docker for versatile deployment, highlighting adaptability and cloud proficiency. Developed a collaborative service leveraging Azure DevOps to streamline demand management across client and internal project teams, showcasing strong project coordination and process improvement skills.'}, {'company': 'FirstCase', 'role': 'Python Developer', 'start_date': '02/2021', 'end_date': '06/2021', 'description': 'Proficient Python developer with a track record of creating efficient ETL pipelines for PDF-to-text conversion and web data scraping from diverse court websites, showcasing strong data manipulation skills. Managed and administered MongoDB servers, overseeing the storage of over 3 million cases data, demonstrating proficiency in database management and optimization. Developed a robust daily backup service to ensure data security and accessibility, highlighting a commitment to excellence and a passion for technology-driven solutions.'}]
----------------------------------------------------------------


[{'company': 'BS Technologies', 'role': 'Account Manager/Delivery Manager', 'start_date': 'Jan-2021', 'end_date': 'Present', 'description': 'Managed a warm desk and developed it into a successful recruitment team resulting in a 30% increase in revenue. Client Servicing/Account Management: Day-to-day operations and deliverable of the client'}, {'company': 'Amiga Informatics Pvt. Ltd.', 'role': 'US/Canada IT Recruitment Team Leader & Delivery', 'start_date': 'May 2019', 'end_date': 'Oct-2020', 'description': 'Managed the full recruitment lifecycle for engineering roles, resulting in a 30% increase in placements. Working with six recruiters, I do hands on and Handling end to end recruitment process.'}, {'company': 'Epics Group', 'role': 'US/Canada IT Recruitment Team Leader', 'start_date': 'September 2014', 'end_date': 'March 2019', 'description': 'Specialized in IT and Non-IT recruitment for a variety of clients, resulting in a 20% increase in revenue. Worked with Ten Members of a Team and Responsible for sourcing, screening, monitoring and filling positions.'}, {'company': 'Epics Group', 'role': 'US & Canada IT Recruiter', 'start_date': 'July 2013', 'end_date': 'September 2014', 'description': 'Coordinated recruiting efforts for overseas contracting positions while maintaining complex visa and immigration paperwork for entry-level and senior-level positions.'}, {'company': 'SapMetrices Consulting', 'role': 'Web Developer', 'start_date': 'July 2012', 'end_date': 'July 2013', 'description': 'Expertise in Trouble shooting the problems. Creating and managing database and its objects. Coding and manipulating Forms and Report in database Environment. Customer Interfacing'}]
----------------------------------------------------------------


[{'company': 'Elios technologies - Wipro', 'role': 'Test Manager', 'start_date': 'Jan-23', 'end_date': 'present', 'description': 'Key Contribution: Responsible for tracking SAP Unit testing/Informal/Formal/DIL-UAT/RT activities till Go live. Responsible for approving all changes through SAP Solman Rev-trac RT&rsquo;s and reviewing the changes. Responsible for Scope fnaliiation for diferent stages of testing in consultation with FC&rsquo;s. Responsible for Preparation &amp; approval of Test Plan/Test report/RTM/Impact assessment. Responsible for preparing Metrics after Go Live. Tracked all defects &amp; issues till closure'}, {'company': 'Fujitsu India, Chennai, India', 'role': 'Quality-Test Manager', 'start_date': 'Sep 2018', 'end_date': 'present', 'description': 'Key Contribution: End to End Test Management for UT/SIT/UAT/Regression/Go Live testing. Implementation of Metrics after PostGo Live. Document, implement, monitor and manage Test Strategies. Mentoring resources on the diferent Test tools/practices. Daily and weekly reporting on test progress including delivery of dashboard reporting covering KPI&rsquo;s and SLA&rsquo;s with stakeholders. Emphasiied Shift Left approach to concentrate on Quality/Defect Management '}, {'company': 'OIC Japan/StarMobile', 'role': 'Not mentioned', 'start_date': 'Not mentioned', 'end_date': '24 months', 'description': 'Key Contribution: Defning and implementing the role testing plays. Defning the scope of testing within the context of each release/delivery. Planning, Deploying and managing the testing efort for any given engagement/release. Emphasiied Shift Left approach to concentrate on Quality. Daily and weekly reporting on test progress including delivery of dashboard reporting covering KPI&rsquo;s and SLA&rsquo;s with stakeholders.'}, {'company': 'IBM, Chennai, India', 'role': 'Quality-Test Manager &ndash; Cloud Services-Customer service', 'start_date': 'Oct 2004', 'end_date': 'May-2018', 'description': 'Managed a team of 20 resources &ndash;Customer service from Application development to Application maintenance to support. Showcased the project to larger audience to optimiie the Test process/Reuse artifacts/Governance using metrics and SLA. Prepared resource planning, Master Test plan and Sign-ofs Defect Management and resolution. Reviewed all the SAP Test scripts as per the Functional and Technical consultants inputs and showcase it to larger audience. Owned the testing management function within Finance and Transformation vertical by providing end to end test management governance to all SAP Build Projects/programs'}]
----------------------------------------------------------------

In [8]:
json_str = df['work_experience'].sample(1).values[0]
job_obj = ast.literal_eval(json_str)
job_obj

[{'company': 'Capgemini Technology Services India Limited',
  'role': 'Senior Software Engineer',
  'start_date': '06/2021',
  'end_date': 'Present',
  'description': 'DevOps Engineer & Guidewire PolicyCenter Specialist (Client: The Hartford Insurance Company, USA). Proficiently address client issues and tailor Gosu functions to meet specific requirements within Guidewire PolicyCenter. Create and manage GX, ETI, and ETX files, streamlining system enhancements and data integration. Skillfully troubleshoot XML/JSON payload issues, ensuring the smooth operation of Guidewire SAAS SQL PolicyCenter integrations. Led successful data migration from IBM Cloud to AWS while gaining expertise in Docker for versatile deployment, highlighting adaptability and cloud proficiency. Developed a collaborative service leveraging Azure DevOps to streamline demand management across client and internal project teams, showcasing strong project coordination and process improvement skills.'},
 {'company': 'FirstCase',
  'role': 'Python Developer',
  'start_date': '02/2021',
  'end_date': '06/2021',
  'description': 'Proficient Python developer with a track record of creating efficient ETL pipelines for PDF-to-text conversion and web data scraping from diverse court websites, showcasing strong data manipulation skills. Managed and administered MongoDB servers, overseeing the storage of over 3 million cases data, demonstrating proficiency in database management and optimization. Developed a robust daily backup service to ensure data security and accessibility, highlighting a commitment to excellence and a passion for technology-driven solutions.'}]

In [9]:
from datetime import datetime
from dateutil.parser import parse

In [10]:
parse('apr 2017')

datetime.datetime(2017, 4, 3, 0, 0)

In [11]:
parse('jan 1 1900')

datetime.datetime(1900, 1, 1, 0, 0)

In [12]:
def normalize_date(date_str):
    if date_str.lower() == 'present' or date_str.lower()=='current' or date_str.lower()=='till date':
        return "present"
        
    # Attempt to parse the date using dateutil's parse
    dt_format = parse(date_str)
    str_date = dt_format.strftime("%m/%Y")
    return str_date

In [13]:
wex = []
counts = 0
idx_list = []

for idx, work_string in enumerate(tqdm(df['work_experience'].values)):
    work_json = ast.literal_eval(work_string)
    try:
        for w in work_json:
            f1 = normalize_date(w['start_date'])
            f2 = normalize_date(w['end_date'])
            w['start_date'] = f1
            w['end_date'] = f2
            w.pop('description',None)

            w1 = ast.literal_eval(json.dumps(w))
        
        wex.append(work_json)    
        idx_list.append(idx)
    except:
        pass
    
    # for work_ex in work_json:
    #     work_ex.pop('description', None)
    # wex.append(work_ex)

  0%|          | 0/365 [00:00<?, ?it/s]

In [14]:
len(wex)

304

In [15]:
df.shape

(365, 6)

In [16]:
counts

0

In [17]:
wdf = df.loc[idx_list,:]

In [18]:
wdf['work_experience'] = wex

In [19]:
wdf

,id,designation,keywords,user_experience,resume,work_experience
0,2187979,Associate Analyst,"['Analytics', 'Microsoft Office', 'E-commerce'...",2,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,"[{'company': 'XL Dynamics India pvt ltd', 'rol..."
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,"[{'company': 'Halodoc Technologies LLP', 'role..."
2,2644336,Associate consultant,"['Automation', 'Automation Scripts', 'Microsof...",3,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...","[{'company': 'Capgemini DFRC', 'role': 'Associ..."
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,[{'company': 'InnoPhase INC [Synergic Emergenc...
4,1377095,NaN,"['CSS', 'Communication Skills', 'Unit Testing'...",2,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,"[{'company': 'Tandem Crystals Pvt Limited, Che..."
...,...,...,...,...,...,...
358,2915128,NaN,"['JAVA', 'Web Based', 'Antivirus', 'System Eng...",2,Akshay Devadhe\n Java Backend Engineer\n aksh...,"[{'company': 'Tata consultancy Service', 'role..."
360,2244857,Junior Data Scientist,"['XML', 'Machine Learning', 'Algorithms', 'MyS...",3,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,"[{'company': 'Caprileo Data Services Pvt Ltd, ..."
361,2936804,Backend Developer,"['PHP', 'Web Development', 'Javascript', 'Tech...",0,Aman Verma\nBackend Developer\nAs an upcoming ...,"[{'company': 'Gaura Web Technology', 'role': '..."
362,2877064,Software Engineer,"['Analytical', 'Software Engineer', 'Applicati...",2,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,"[{'company': 'Mind Tree', 'role': 'Software En..."
364,2133290,NaN,"['Product Management', 'C', 'Graphic Design', ...",1,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,"[{'company': 'Techgropse Pvt. Ltd.', 'role': '..."

In [20]:
# wex = []
# for work_string in tqdm(df['work_experience'].values):
#     work_json = ast.literal_eval(work_string)
    
#     for work_ex in work_json:
#         work_ex.pop('description', None)
#     wex.append(work_ex)

In [21]:
df

,id,designation,keywords,user_experience,resume,work_experience
0,2187979,Associate Analyst,"['Analytics', 'Microsoft Office', 'E-commerce'...",2,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,"[{'company': 'XL Dynamics India pvt ltd', 'rol..."
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,"[{'company': 'Halodoc Technologies LLP', 'role..."
2,2644336,Associate consultant,"['Automation', 'Automation Scripts', 'Microsof...",3,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...","[{'company': 'Capgemini DFRC', 'role': 'Associ..."
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,[{'company': 'InnoPhase INC [Synergic Emergenc...
4,1377095,NaN,"['CSS', 'Communication Skills', 'Unit Testing'...",2,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,"[{'company': 'Tandem Crystals Pvt Limited, Che..."
...,...,...,...,...,...,...
360,2244857,Junior Data Scientist,"['XML', 'Machine Learning', 'Algorithms', 'MyS...",3,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,"[{'company': 'Caprileo Data Services Pvt Ltd, ..."
361,2936804,Backend Developer,"['PHP', 'Web Development', 'Javascript', 'Tech...",0,Aman Verma\nBackend Developer\nAs an upcoming ...,"[{'company': 'Gaura Web Technology', 'role': '..."
362,2877064,Software Engineer,"['Analytical', 'Software Engineer', 'Applicati...",2,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,"[{'company': 'Mind Tree', 'role': 'Software En..."
363,1685979,Software Engineer,"['Android', 'APIS', 'Mobile Applications', 'Ag...",2,Kajal Kumari\nSoftware Engineer\nE +9176670223...,[{'company': 'Delhi NowNow (Sarotech Solutions...
364,2133290,NaN,"['Product Management', 'C', 'Graphic Design', ...",1,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,"[{'company': 'Techgropse Pvt. Ltd.', 'role': '..."

In [22]:
sample_workex = wdf.sample(5)['work_experience']

for wex in sample_workex.values:
    job_obj = ast.literal_eval(str(wex))
    print(f'\n{job_obj}\n----------------------------------------------------------------\n')

[{'company': 'Brillio Technologies', 'role': 'Senior Software Development Engineer', 'start_date': '09/2021', 'end_date': 'present'}, {'company': 'Unisys, India', 'role': 'Application Engineer', 'start_date': '07/2018', 'end_date': '08/2021'}, {'company': 'Unisys', 'role': 'Intern', 'start_date': '07/2017', 'end_date': '05/2018'}]
----------------------------------------------------------------


[{'company': 'Nilee Games and Future Technologies', 'role': 'UI / UX Designer Intern', 'start_date': '08/2022', 'end_date': '12/2022'}, {'company': 'Swabhav Techlabs Pvt Ltd.', 'role': 'UI / UX Designer', 'start_date': '01/2023', 'end_date': 'present'}]
----------------------------------------------------------------


[{'company': 'Brain Vision Technology', 'role': 'Software Quality Analyst', 'start_date': '01/2021', 'end_date': 'present'}]
----------------------------------------------------------------


[{'company': 'Trellix (formerly McAfee)', 'role': 'SOFTWARE DEVELOPMENT ENGINEER', 'start_date': '08/2021', 'end_date': 'present'}, {'company': 'McAfee', 'role': 'TECHNICAL INTERN', 'start_date': '02/2021', 'end_date': '08/2021'}]
----------------------------------------------------------------


[{'company': 'Bulla Motors Pvt. Ltd.', 'role': 'Not Specified', 'start_date': '04/2015', 'end_date': '09/2016'}, {'company': 'Tech. Mahindra', 'role': 'Associate in Backend Process Bell Canada', 'start_date': '11/2016', 'end_date': '09/2017'}, {'company': 'AM Tata (Unit of Bulla Motors PVT.LTD.)', 'role': 'CRE', 'start_date': '10/2017', 'end_date': '11/2018'}, {'company': 'AM TATA (Unit of Bulla Motors PVT.LTD.)', 'role': 'CRM', 'start_date': '11/2018', 'end_date': '09/2019'}, {'company': 'Lifestyle International Pvt Ltd', 'role': 'Senior accountant', 'start_date': '11/2019', 'end_date': '06/2022'}]
----------------------------------------------------------------

In [23]:
wdf

,id,designation,keywords,user_experience,resume,work_experience
0,2187979,Associate Analyst,"['Analytics', 'Microsoft Office', 'E-commerce'...",2,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,"[{'company': 'XL Dynamics India pvt ltd', 'rol..."
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,"[{'company': 'Halodoc Technologies LLP', 'role..."
2,2644336,Associate consultant,"['Automation', 'Automation Scripts', 'Microsof...",3,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...","[{'company': 'Capgemini DFRC', 'role': 'Associ..."
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,[{'company': 'InnoPhase INC [Synergic Emergenc...
4,1377095,NaN,"['CSS', 'Communication Skills', 'Unit Testing'...",2,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,"[{'company': 'Tandem Crystals Pvt Limited, Che..."
...,...,...,...,...,...,...
358,2915128,NaN,"['JAVA', 'Web Based', 'Antivirus', 'System Eng...",2,Akshay Devadhe\n Java Backend Engineer\n aksh...,"[{'company': 'Tata consultancy Service', 'role..."
360,2244857,Junior Data Scientist,"['XML', 'Machine Learning', 'Algorithms', 'MyS...",3,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,"[{'company': 'Caprileo Data Services Pvt Ltd, ..."
361,2936804,Backend Developer,"['PHP', 'Web Development', 'Javascript', 'Tech...",0,Aman Verma\nBackend Developer\nAs an upcoming ...,"[{'company': 'Gaura Web Technology', 'role': '..."
362,2877064,Software Engineer,"['Analytical', 'Software Engineer', 'Applicati...",2,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,"[{'company': 'Mind Tree', 'role': 'Software En..."
364,2133290,NaN,"['Product Management', 'C', 'Graphic Design', ...",1,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,"[{'company': 'Techgropse Pvt. Ltd.', 'role': '..."

## Work Experience Training Data
We try and define a decent text prompt here for the base untrained model to understand the general task of extracting work experience from a resume

In [24]:
# df = df.sample(frac=1)

In [25]:
work_prompt = f'''
You are an accurate agent working for a job platform. You will be given the raw 
unstructured text of a user's resume, and the task is to extract the entire work experience of the 
user from the resume. The response should be broken into a numbered list with each item of the list 
containing the complete and accurate information about the work experience of the users. Here is an example structure:\n
1. Designation 1 @ Company 1 [From "mm/yyy" to "mm/yyyy"] : "complete job description as given in resume"\n
2. Designation 2 @ Company 2 [From "mm/yyy" to "mm/yyyy"] :  "complete job description as given in resume"\n
Please follow this structure closely and keep the response within the token limit." 

This is the resume text:\n{{resume_text}}\n
This is the output in the required_format:\n{{output}}\n{{eos_token}}
'''

### Output Format 
We're telling the model how to format the output and give us a repsonse

In [26]:
work_df = wdf[['resume','work_experience']]

In [27]:
work_df

,resume,work_experience
0,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,"[{'company': 'XL Dynamics India pvt ltd', 'rol..."
1,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,"[{'company': 'Halodoc Technologies LLP', 'role..."
2,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...","[{'company': 'Capgemini DFRC', 'role': 'Associ..."
3,Padmashree padmasupritha@gmail.com\n 831086454...,[{'company': 'InnoPhase INC [Synergic Emergenc...
4,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,"[{'company': 'Tandem Crystals Pvt Limited, Che..."
...,...,...
358,Akshay Devadhe\n Java Backend Engineer\n aksh...,"[{'company': 'Tata consultancy Service', 'role..."
360,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,"[{'company': 'Caprileo Data Services Pvt Ltd, ..."
361,Aman Verma\nBackend Developer\nAs an upcoming ...,"[{'company': 'Gaura Web Technology', 'role': '..."
362,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,"[{'company': 'Mind Tree', 'role': 'Software En..."
364,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,"[{'company': 'Techgropse Pvt. Ltd.', 'role': '..."

In [28]:
work_df.columns = ['resume','output']

In [29]:
# work_df['format'] = work_format
work_df['prompt'] = work_prompt
work_data = Dataset.from_pandas(work_df)

/tmp/ipykernel_20215/3939288195.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_df['prompt'] = work_prompt

In [30]:
from llama_recipes.utils.dataset_utils import get_preprocessed_dataset
from llama_recipes.datasets.utils import Concatenator

In [31]:
work_data

Dataset({
    features: ['resume', 'output', 'prompt', '__index_level_0__'],
    num_rows: 304
})

In [32]:
data_list = []
for row in work_df.itertuples():
    text = row.prompt.format(
            resume_text=row.resume,
            output=row.output,
            eos_token=tokenizer.eos_token)
    data_list.append(text)

In [33]:
dl = {
    'text': data_list
}

In [34]:
work_data_hf = Dataset.from_dict(dl)

In [35]:

work_data_hf = work_data_hf.map(
    lambda sample: tokenizer(sample["text"]),
    batched=True,
    remove_columns=list(work_data_hf.features),
).map(Concatenator(), batched=True)

Map:   0%|          | 0/304 [00:00<?, ? examples/s]

Map:   0%|          | 0/304 [00:00<?, ? examples/s]

In [36]:
work_data_hf

Dataset({
    features: ['input_ids', 'attention_mask', 'labels'],
    num_rows: 236
})

In [37]:
work_data_hf.save_to_disk('../custom_data/linear_work_data.hf')

Saving the dataset (0/1 shards):   0%|          | 0/236 [00:00<?, ? examples/s]

In [38]:
# work_ds.save_to_disk('custom_data/work_data.hf')

In [39]:
# edu_ds.save_to_disk('custom_data/education_data.hf')

In [40]:
# pi_ds.save_to_disk('custom_data/pi_data.hf')