In [1]:
import pandas as pd
import pickle
from datasets import Dataset
import ast
from tqdm.notebook import tqdm
import html

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:

import sys
sys.path.append('/home/ec2-user/SageMaker/llama_root/src')
sys.path.append('../llama-recipes/src/llama_recipes/')

In [3]:
from huggingface_hub import login
login(token='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')

Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/ec2-user/.cache/huggingface/token
Login successful

In [4]:
from transformers import LlamaForCausalLM, LlamaTokenizer

model_id="meta-llama/Llama-2-7b-chat-hf"

tokenizer = LlamaTokenizer.from_pretrained(model_id)

In [5]:
d = pd.read_csv('custom_data/gpt4_parsed_resumes.csv')

In [6]:
df = pd.read_csv('custom_data/latest_work_exp_28dec.csv')

In [7]:
df.columns = ['id', 'designation', 'keywords', 'user_experience', 'resume','work_experience']

In [8]:
df

,id,designation,keywords,user_experience,resume,work_experience
0,2187979,Associate Analyst,"['Analytics', 'Microsoft Office', 'E-commerce'...",2,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,"[{'company': 'XL Dynamics India pvt ltd', 'rol..."
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,"[{'company': 'Halodoc Technologies LLP', 'role..."
2,2644336,Associate consultant,"['Automation', 'Automation Scripts', 'Microsof...",3,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...","[{'company': 'Capgemini DFRC', 'role': 'Associ..."
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,[{'company': 'InnoPhase INC [Synergic Emergenc...
4,1377095,NaN,"['CSS', 'Communication Skills', 'Unit Testing'...",2,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,"[{'company': 'Tandem Crystals Pvt Limited, Che..."
...,...,...,...,...,...,...
360,2244857,Junior Data Scientist,"['XML', 'Machine Learning', 'Algorithms', 'MyS...",3,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,"[{'company': 'Caprileo Data Services Pvt Ltd, ..."
361,2936804,Backend Developer,"['PHP', 'Web Development', 'Javascript', 'Tech...",0,Aman Verma\nBackend Developer\nAs an upcoming ...,"[{'company': 'Gaura Web Technology', 'role': '..."
362,2877064,Software Engineer,"['Analytical', 'Software Engineer', 'Applicati...",2,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,"[{'company': 'Mind Tree', 'role': 'Software En..."
363,1685979,Software Engineer,"['Android', 'APIS', 'Mobile Applications', 'Ag...",2,Kajal Kumari\nSoftware Engineer\nE +9176670223...,[{'company': 'Delhi NowNow (Sarotech Solutions...
364,2133290,NaN,"['Product Management', 'C', 'Graphic Design', ...",1,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,"[{'company': 'Techgropse Pvt. Ltd.', 'role': '..."

In [9]:
df['resume'] = df['resume'].apply(lambda x: html.unescape(x))

In [10]:
print(df.resume.sample().values[0])

 SANGEETHA S XAMARIN FORMS & .NET DEVELOPER WITH 5.5+ YEARS EXPERIENCE


 PROFILE EDUCATION
 Team player software developer with B.E. Computer Science Engineering
 a can-do attitude, phenomenal time Sri Sai Ram Engineering College 2013 - 2017
 management skills, and a strong GPA : 8.66
 user focus. HSC
 Has developed several web and Little Flower Matriculation Higher Secondary School
 mobileapps, including a Global 2012 - 2013
 Positioning System, Push Notification GPA : 90
 (FCM) using Visual Studio and SSLC
 Xamarin. Little Flower Matriculation Higher Secondary School
 Detail-oriented, organised and 2010 - 2011
 meticulous employee. Works at fast GPA : 90
 pace to meet tight deadlines.
 Enthusiastic team player ready to
 WORK EXPERIENCE
 contribute to company success.
 Xamarin Developer |Ouris Health Pvt. Ltd.
 Jun 2022 â€“ Present
 Project Done in Organisation (2022-current)
 CONTACT Â· Project Title : Ouris Health
 PHONE: Â· Project Description : Booking Online Appointment for Consultation, Chats
 +91 9585310227 with doctors by Private Patient.
 Â· Back End : Xamarin Forms.
 EMAIL: Â· Language : C#
 Sangeedevi1995@gmail.com Â· Product Details : Visual Studio 2019

 Software Engineer |Chetu India Pvt. Ltd.
 SKILLS Apr 2022 â€“ Jun 2022
 C# .Net , Xamarin , Xamarin.Forms, Project Done in Organisation (2022-current)
 Prism MVVM, FCM, Play Store, App Store, Â· Project Title : Pet Harmony-HLTS
 Provisioning Profile,Visual Studio 2017, Â· Project Description : Booking Vet Practitioner by Pet Owner
 2019, .NET development, Web Api, Â· Back End : Xamarin Forms Prism MVVM.
 ASP.NET MVC. Â· Language : C#
 Â· Product Details : Visual Studio 2019

 Software developer | A STAR TESTING AND INSPECTION PVT LTD.
 July 2017 â€“ Apr 2022
 Project Done in Organisation (2019-22)
 Â· Project Title : All Star TIC
 Â· Project Description : Booking Testing & Inspection Service
 Â· Back End : Xamarin Forms Syncfusion
 Â· Language : C#
 Â· Product Details : Visual Studio 2019
 Â· Back End : Microsoft SQL Server Database 2007
 Project Done in Organisation(2018-19)
 Â· Project Title : Star Smart Attendance
 Â· Project Description : Marking attendance by GPS Location.Composed
 an app to allow employees to mark attendance using GPS location of
 the device with photo, date and time. Built a real time app and in Google
 PlayStore (StarSmart Attendance)
 Â· Back End: Xamarin Forms
 Â· Language: C#
 Â· Product Details : Visual Studio 2017
 Â· Back End : Microsoft SQL Server Database 2005
 Project Done in Organisation (2017-18)
 Â· Project Title : SmartErp
 Â· Project Description : Contributed to the development in ERP of our
 company for creating and generating RT,MPI,UT,PT reports digitally with
 Digital Sign in reports.
 Â· Used Digital Token in connection with application and ERP.
 Â· Front End : Angular Js
 Â· Language : C#
 Â· Product Details : Visual Studio 2019
 Â· Back End : ASP .NET

In [11]:
exp_string_list = []
errors = []
uid_list = []

for string, uid in tqdm(df[['work_experience','id']].values):
    exp_json = ast.literal_eval(string)
    work_string = ''
    try:
        for work_idx, work_ex in enumerate(exp_json):
            temp = f'''{work_idx+1}. {work_ex['role']} @ {work_ex['company']} FROM {work_ex['start_date']} TO {work_ex['end_date']} : {work_ex['description']}\n'''
            work_string = work_string + temp
        
        uid_list.append(uid)
        exp_string_list.append(work_string)

    except:
        errors.append(exp_json)
        pass

  0%|          | 0/365 [00:00<?, ?it/s]

In [12]:
exp_string_list[0]

'1. Associate Analyst @ XL Dynamics India pvt ltd FROM Nov 2020 TO Present : Conducted requirement gathering and business need analysis for clients to generate actionable reports on PowerBI. Utilize google sheet dashboards to track KPIs for 4 resources and oversee daily operations to ensure timely deliverables. Collaborated with developer team to link the DBMS to google sheet which automize the process of data fetching at departmental level. Design and develop dashboards and analyses for Sales Stakeholders using excel/google sheets, pull netqueries to track sells metrics. Checked in with and collaborated with department heads and cross functional teams to remove roadblocks in operations. Launched Employee skill up program to upskill team member on daily operations to minimize turn around time.\n2. Intern @ Felix Hyperstore FROM Dec 2018 TO Jan 2019 : Built an ERP model for the organization along with E-commerce account handling with marketing.\n3. Intern @ Kmedia Digital Media Consultancy FROM Jun 2018 TO Jul 2018 : Worked as Social Media Executive along with Web Developer.\n'

In [13]:
df.loc[0,'work_experience']

"[{'company': 'XL Dynamics India pvt ltd', 'role': 'Associate Analyst', 'start_date': 'Nov 2020', 'end_date': 'Present', 'description': 'Conducted requirement gathering and business need analysis for clients to generate actionable reports on PowerBI. Utilize google sheet dashboards to track KPIs for 4 resources and oversee daily operations to ensure timely deliverables. Collaborated with developer team to link the DBMS to google sheet which automize the process of data fetching at departmental level. Design and develop dashboards and analyses for Sales Stakeholders using excel/google sheets, pull netqueries to track sells metrics. Checked in with and collaborated with department heads and cross functional teams to remove roadblocks in operations. Launched Employee skill up program to upskill team member on daily operations to minimize turn around time.'}, {'company': 'Felix Hyperstore', 'role': 'Intern', 'start_date': 'Dec 2018', 'end_date': 'Jan 2019', 'description': 'Built an ERP model for the organization along with E-commerce account handling with marketing.'}, {'company': 'Kmedia Digital Media Consultancy', 'role': 'Intern', 'start_date': 'Jun 2018', 'end_date': 'Jul 2018', 'description': 'Worked as Social Media Executive along with Web Developer.'}]"

In [14]:
len(uid_list)

337

In [15]:
wdf = df.loc[df['id'].isin(uid_list)]

In [16]:
wdf.shape

(337, 6)

In [17]:
len(exp_string_list)

337

In [18]:
wdf['linear'] = exp_string_list

/tmp/ipykernel_19057/2803511411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wdf['linear'] = exp_string_list

In [19]:
wdf

,id,designation,keywords,user_experience,resume,work_experience,linear
0,2187979,Associate Analyst,"['Analytics', 'Microsoft Office', 'E-commerce'...",2,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,"[{'company': 'XL Dynamics India pvt ltd', 'rol...",1. Associate Analyst @ XL Dynamics India pvt l...
1,2935938,NaN,"['Automation', 'Test Cases', 'Selenium', 'Appi...",9,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,"[{'company': 'Halodoc Technologies LLP', 'role...",1. SDET-II @ Halodoc Technologies LLP FROM Oct...
2,2644336,Associate consultant,"['Automation', 'Automation Scripts', 'Microsof...",3,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...","[{'company': 'Capgemini DFRC', 'role': 'Associ...",1. Associate Consultant @ Capgemini DFRC FROM ...
3,2929554,NaN,"['Automation Scripts', 'Networking', 'Automati...",3,Padmashree padmasupritha@gmail.com\n 831086454...,[{'company': 'InnoPhase INC [Synergic Emergenc...,1. Software Engineer @ InnoPhase INC [Synergic...
4,1377095,NaN,"['CSS', 'Communication Skills', 'Unit Testing'...",2,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,"[{'company': 'Tandem Crystals Pvt Limited, Che...",1. Full Stack Developer @ Tandem Crystals Pvt ...
...,...,...,...,...,...,...,...
360,2244857,Junior Data Scientist,"['XML', 'Machine Learning', 'Algorithms', 'MyS...",3,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,"[{'company': 'Caprileo Data Services Pvt Ltd, ...",1. DATA SCIENTIST @ Caprileo Data Services Pvt...
361,2936804,Backend Developer,"['PHP', 'Web Development', 'Javascript', 'Tech...",0,Aman Verma\nBackend Developer\nAs an upcoming ...,"[{'company': 'Gaura Web Technology', 'role': '...",1. Backend Developer @ Gaura Web Technology FR...
362,2877064,Software Engineer,"['Analytical', 'Software Engineer', 'Applicati...",2,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,"[{'company': 'Mind Tree', 'role': 'Software En...",1. Software Engineer @ Mind Tree FROM Dec 2021...
363,1685979,Software Engineer,"['Android', 'APIS', 'Mobile Applications', 'Ag...",2,Kajal Kumari\nSoftware Engineer\nE +9176670223...,[{'company': 'Delhi NowNow (Sarotech Solutions...,1. Software Engineer - Android @ Delhi NowNow ...
364,2133290,NaN,"['Product Management', 'C', 'Graphic Design', ...",1,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,"[{'company': 'Techgropse Pvt. Ltd.', 'role': '...",1. ReactJS Developer - Intern @ Techgropse Pvt...

## Work Experience Training Data
We try and define a decent text prompt here for the base untrained model to understand the general task of extracting work experience from a resume

In [20]:
# df = df.sample(frac=1)

In [21]:
work_prompt = f'''
You are an accurate agent working for a job platform. You will be given the raw 
unstructured text of a user's resume, and the task is to extract the entire work experience of the 
user from the resume. The response should be broken into a numbered list with each item of the list 
containing the complete and accurate information about the work experience of the users. Here is an example structure:\n
1. Designation 1 @ Company 1 [From "mm/yyy" to "mm/yyyy"] : "complete job description as given in resume"\n
2. Designation 2 @ Company 2 [From "mm/yyy" to "mm/yyyy"] :  "complete job description as given in resume"\n
Please follow this structure closely and keep the response within the token limit." 

This is the resume text:\n{{resume_text}}\n
This is the output in the required_format:\n{{output}}\n{{eos_token}}
'''

### Output Format 
We're telling the model how to format the output and give us a repsonse

In [22]:
work_df = wdf[['resume','linear']]

In [23]:
work_df

,resume,linear
0,Akanksha EXPERIENCE\n\nMutha XL Dynamics India...,1. Associate Analyst @ XL Dynamics India pvt l...
1,Somasekhar Meeniga\nMobile: +91-8073828304\nE...,1. SDET-II @ Halodoc Technologies LLP FROM Oct...
2,"SHAIK BADI US ZAMA\n Hyderabad, Telangana, In...",1. Associate Consultant @ Capgemini DFRC FROM ...
3,Padmashree padmasupritha@gmail.com\n 831086454...,1. Software Engineer @ InnoPhase INC [Synergic...
4,mohan0310selvan@gmail.com\nMOHANA SELVAN.A ht...,1. Full Stack Developer @ Tandem Crystals Pvt ...
...,...,...
360,BHABANI SANKAR SARANGI\nDATA SCIENTIST\n\nTo s...,1. DATA SCIENTIST @ Caprileo Data Services Pvt...
361,Aman Verma\nBackend Developer\nAs an upcoming ...,1. Backend Developer @ Gaura Web Technology FR...
362,Thejeswar. G\nE-Mail: thejeswar10@gmail.com\nM...,1. Software Engineer @ Mind Tree FROM Dec 2021...
363,Kajal Kumari\nSoftware Engineer\nE +9176670223...,1. Software Engineer - Android @ Delhi NowNow ...
364,SAQLAIN\nR E A C T D E V E L O P E R\n\n\n\n\n...,1. ReactJS Developer - Intern @ Techgropse Pvt...

In [24]:
work_df.columns = ['resume','output']

In [25]:
# work_df['format'] = work_format
work_df['prompt'] = work_prompt
work_data = Dataset.from_pandas(work_df)

/tmp/ipykernel_19057/3939288195.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_df['prompt'] = work_prompt

In [26]:
from llama_recipes.utils.dataset_utils import get_preprocessed_dataset
from llama_recipes.datasets.utils import Concatenator

In [27]:
work_data

Dataset({
    features: ['resume', 'output', 'prompt', '__index_level_0__'],
    num_rows: 337
})

In [28]:
data_list = []
for row in work_df.itertuples():
    text = row.prompt.format(
            resume_text=row.resume,
            output=row.output,
            eos_token=tokenizer.eos_token)
    data_list.append(text)

In [29]:
dl = {
    'text': data_list
}

In [30]:
work_data_hf = Dataset.from_dict(dl)

In [31]:

work_data_hf = work_data_hf.map(
    lambda sample: tokenizer(sample["text"]),
    batched=True,
    remove_columns=list(work_data_hf.features),
).map(Concatenator(), batched=True)

Map:   0%|          | 0/337 [00:00<?, ? examples/s]

Map:   0%|          | 0/337 [00:00<?, ? examples/s]

In [32]:
work_data_hf

Dataset({
    features: ['input_ids', 'attention_mask', 'labels'],
    num_rows: 286
})

In [33]:
work_data_hf.save_to_disk('custom_data/linear_work_data.hf')

Saving the dataset (0/1 shards):   0%|          | 0/286 [00:00<?, ? examples/s]

In [34]:
# work_ds.save_to_disk('custom_data/work_data.hf')

In [35]:
# edu_ds.save_to_disk('custom_data/education_data.hf')

In [36]:
# pi_ds.save_to_disk('custom_data/pi_data.hf')