In [1]:
import pandas as pd
import numpy as np
import configparser
import pymysql
import requests
import re
from tqdm import tqdm
import configparser
import openai
import os

In [2]:
config=configparser.ConfigParser()
config.read('/home/ubuntu/infoedge/llama-recipes/examples/configs/config.ini')

['/home/ubuntu/infoedge/llama-recipes/examples/configs/config.ini']

In [3]:
mydb= pymysql.connect(
host=config['iimjobs_db']['hostname'],
user=config['iimjobs_db']['username'],
password=config['iimjobs_db']['password'],
db=config['iimjobs_db']['db_name'])

mycursor = mydb.cursor()

In [4]:

query = "select userid from usr_applied_jobs_info where unixtimestamp>1707040266"

mycursor.execute(query)
result = mycursor.fetchall()

In [9]:
active_users = pd.DataFrame(result,columns=['userid'])

In [12]:
active_users.drop_duplicates(inplace=True)

In [13]:
active_users

         userid
0        953498
1        564565
2       2721267
3        310469
4       2038480
...         ...
152030   873113
152032   547004
152033   511595
152036  2181778
152040  1927250

[27717 rows x 1 columns]

In [14]:
from user_info import get_user_info

In [24]:
r_text = {}
for uid in tqdm(active_users['userid'].tolist()):
    response = get_user_info(uid)
    try:
        r_text[uid] = response['resume'][0]
    except:
        pass

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 27717/27717 [03:19<00:00, 139.03it/s]

In [32]:
import json
with open('../custom_data/active_users_january24.json','w') as f:
    json.dump(r_text,f)