In [1]:
import pandas as pd
import pickle
from datasets import Dataset

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:

import sys
sys.path.append('/home/ec2-user/SageMaker/llama_root/src')
sys.path.append('../llama-recipes/src/llama_recipes/')

In [3]:
from huggingface_hub import login
login(token='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')

Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/ec2-user/.cache/huggingface/token
Login successful

In [4]:
from transformers import LlamaForCausalLM, LlamaTokenizer

model_id="meta-llama/Llama-2-7b-chat-hf"

tokenizer = LlamaTokenizer.from_pretrained(model_id)

In [5]:
d = pd.read_csv('custom_data/gpt4_parsed_resumes.csv')

In [6]:
# d['work_experience'].sample(1).values[0]

In [7]:
df = pd.read_csv('custom_data/latest_work_exp_28dec.csv')

In [8]:
df.columns = ['id', 'designation', 'keywords', 'user_experience', 'resume','work_experience']

In [9]:
df['work_experience'].sample(1).values[0]

'[{\'company\': \'Standard Chartered Global Business Services\', \'role\': \'Specialist (Lending Ops)\', \'start_date\': \'June 2023\', \'end_date\': \'Present\', \'description\': \'Spearheaded automation and standardization initiatives within the Client Due Diligence (CDD) Operations for both Secured and Unsecured Lending products at Standard Chartered Bank. Initiated projects enhancing consistency across markets and significantly optimized critical processes: IB & BB Risk Reviews, Onboarding, CMLCO Exit, RFI, and Pre-Screening. Developed and executed strategies to streamline CDD operations, reducing manual tasks and improving workflow. Deployed uniform MIS templates across diverse markets, driving process automation and standardization.\'}, {\'company\': \'Tata Consultancy Services\', \'role\': \'IT Analyst\', \'start_date\': \'March 2017\', \'end_date\': \'June 2022\', \'description\': "Led a team of 50 to deliver an Omnichannel Insurance platform for a major insurance client\'s end-to-end process. Collaborated with cross-functional teams to identify process improvements and implement cost-saving automation solutions. Engineered and delivered customized solutions by building 100+ enhancements within a year for the New Business domain. Tracked and reported data workflows and related metrics, assessing the impact of enhancements. Performed current state assessment, gap analysis and proposed target states to improve efficiency and CSAT by 10%. Developed dashboards to track Customer activity on the website using data visualization tools such as Tableau and Power BI. Managed Agile processes including requirement gathering, business sign-off, delivery, testing, etc. using JIRA and Confluence. Developed training guides for new enhancements and delivered training sessions for business functions. Designed test cases for over 200 enhancements for the New Business domain using Selenium and MS Excel. Reduced manual testing efforts by 50% (1200 Man hours/year) by introducing an Automation testing team in the project. Identified critical defects, receiving awards for exceptional contributions in this area. Hands-on experience in tools like My SQL, Selenium, HPE Unified Functional Testing, Appium and TestNG for Automation Testing. Enabled the digitization of the entire insurance purchase process, resulting in saving up to 30% of labour and material costs. Increased customer satisfaction by 10% by providing a better experience and a sustainable solution. Facilitated data extraction, aggregation, and analysis resulting in several informed decisions."}]'

## Work Experience Training Data
We try and define a decent text prompt here for the base untrained model to understand the general task of extracting work experience from a resume

In [10]:
df = df.sample(frac=1)

In [11]:
work_prompt = f'''
You are a helpful language model working for a job platform. You will be given the raw 
 unstructured text of a user's resume, and the task is to extract the entire work experience of the 
 user from the resume. Do NOT include the education or other certifications in the output.
 Extract the work experience only from the raw text in the following format: \n{{query_format}}\n

 This is the resume text:\n{{resume_text}}\n
 This is the output in the required_format:\n{{output}}\n{{eos_token}}
'''

### Output Format 
We're telling the model how to format the output and give us a repsonse

In [12]:
work_format = '''{
    'work_experience': [{'company': 'company Name 1',
                         'role': 'job designation 1',
                         'start_date': 'mm/yyyy',
                         'end_date': 'mm/yyyy',
                         'description': 'complete Job description taken from resume'},
                        {'company': 'company name 2',
                         'role': 'job designation 2',
                         'start_date': mm/yyyy',
                         'end_date': 'mm/yyyy',
                         'description': 'complete Job description taken from resume'}]
}'''

In [13]:
work_df = df[['resume','work_experience']]

In [14]:
work_df

,resume,work_experience
61,Mriganku Contact No. 09681982550\n E-mail Id....,"[{'company': 'Simplex Infrastructures Ltd.', '..."
290,YEPURU ABHISHEK\n\n P Y T H O N D E V E L O P...,"[{'company': 'Cogent Data Solutions Ltd.', 'ro..."
6,AKANKSHA KESHARWANI\nContact No.: (+91)8827051...,"[{'company': '6DegreesIT Solutions', 'role': '..."
155,OMPRAKASH BHAUSAHEB SONAWANE.\nE-mail: sonawan...,[{'company': 'Qspider Software Testing Trainin...
179,Rajiya Begum\napsanaapsana999@gmail.com\n+91 9...,"[{'company': 'C-Square Info Pvt. Ltd', 'role':..."
...,...,...
225,Shravani Adgaonkar\nadgaonkarshravani@gmail.c...,"[{'company': 'Pi Techniques Pvt. Ltd', 'role':..."
348,"Gudladhana Harshith\n Ambitious, creative, co...","[{'company': 'Smartinternz', 'role': 'Salesfor..."
250,Dhananjay\n | 9896672387 | dhnanjay.05@gmail....,"[{'company': 'Freecharge', 'role': 'Software E..."
94,BASIL AJITH\n email | phone | linkedin | gith...,"[{'company': 'Indus Action Initiatives', 'role..."
105,"Rahul Tiwari\n DATA ENGINEER\n Delhi, India\n...","[{'company': 'LTIMINDTREE', 'role': 'Data Engi..."

In [15]:
work_df.columns = ['resume','output']

In [16]:
work_df['format'] = work_format
work_df['prompt'] = work_prompt
work_data = Dataset.from_pandas(work_df)

/tmp/ipykernel_3000/1997307274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_df['format'] = work_format
/tmp/ipykernel_3000/1997307274.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_df['prompt'] = work_prompt

In [17]:
from llama_recipes.utils.dataset_utils import get_preprocessed_dataset
from llama_recipes.datasets.utils import Concatenator

In [18]:
work_data

Dataset({
    features: ['resume', 'output', 'format', 'prompt', '__index_level_0__'],
    num_rows: 365
})

In [19]:
print(work_data[4]['format'])

{
    'work_experience': [{'company': 'company Name 1',
                         'role': 'job designation 1',
                         'start_date': 'mm/yyyy',
                         'end_date': 'mm/yyyy',
                         'description': 'complete Job description taken from resume'},
                        {'company': 'company name 2',
                         'role': 'job designation 2',
                         'start_date': mm/yyyy',
                         'end_date': 'mm/yyyy',
                         'description': 'complete Job description taken from resume'}]
}

In [20]:
print(work_data[4]['prompt'])

You are a helpful language model working for a job platform. You will be given the raw
 unstructured text of a user's resume, and the task is to extract the entire work experience of the
 user from the resume. Do NOT include the education or other certifications in the output.
 Extract the work experience only from the raw text in the following format:
{query_format}


 This is the resume text:
{resume_text}

 This is the output in the required_format:
{output}
{eos_token}

In [21]:
data_list = []
for row in work_df.itertuples():
    text = row.prompt.format(
            query_format=row.format,
            resume_text=row.resume,
            output=row.output,
            eos_token=tokenizer.eos_token)
    data_list.append(text)

In [22]:
dl = {
    'text': data_list
}

In [23]:
work_data_hf = Dataset.from_dict(dl)

In [26]:

work_data_hf = work_data_hf.map(
    lambda sample: tokenizer(sample["text"]),
    batched=True,
    remove_columns=list(work_data_hf.features),
).map(Concatenator(), batched=True)

Map:   0%|          | 0/365 [00:00<?, ? examples/s]

Map:   0%|          | 0/365 [00:00<?, ? examples/s]

In [27]:
work_data_hf

Dataset({
    features: ['input_ids', 'attention_mask', 'labels'],
    num_rows: 333
})

In [29]:
work_data_hf.save_to_disk('custom_data/work_data.hf')

Saving the dataset (0/1 shards):   0%|          | 0/333 [00:00<?, ? examples/s]

In [99]:
# work_ds.save_to_disk('custom_data/work_data.hf')

In [100]:
# edu_ds.save_to_disk('custom_data/education_data.hf')

In [101]:
# pi_ds.save_to_disk('custom_data/pi_data.hf')