In [2]:
import pandas as pd
import re
import string
import nltk
nltk.download('wordnet')
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
from tqdm import tqdm
import numpy as np
import scann

[nltk_data] Downloading package wordnet to /home/ubuntu/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /home/ubuntu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
2024-02-21 11:43:30.006313: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-02-21 11:43:31.195086: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-02-21 11:43:31.198906: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-02-21 11:43:32.768837: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [3]:
df =pd.read_csv('../custom_data/metric_data/analysis_set.csv')

In [4]:
df

         job_id  application_id  user_id
0       1373681       144274567   439042
1       1373681       144261479  2015063
2       1373681       144253966  2777927
3       1373681       144241259    58130
4       1373681       144236812  2290933
...         ...             ...      ...
136248  1376058       144442227  2151474
136249  1375030       144442249  1463255
136250  1373682       144442251  2601930
136251  1376582       144442257  1417492
136252  1376693       144442256  1835665

[136253 rows x 3 columns]

In [5]:
df.job_id.nunique()

2949

In [6]:
df.user_id.nunique()

30363

In [7]:
import requests

def fetch_jobs(job_id):
    
    '''
    Returns Job Data[Hirst, Source : ElasticSearch] for the last_k days, and with flexible page size (<10,000)
    
    Input : Last-K Days, and Page result size
    
    Output : Pandas Dataframe with jobs from the last k days 
    '''
    
    # columns = ['id', 'title','companyStatus', 'min', 'max', 'premium', 'applyCount', 'locations','tags','brandJobFlag']     #Added column name for companyStatus
    # new_cols = ['jobid', 'title','companyStatus', 'min', 'max', 'premium', 'applyCount', 'locations','tags', 'brandJobFlag']       #Added column name for companyStatus
    
    

    url = "http://internal-java-job-searcher-email-backend-1607736061.ap-south-1.elb.amazonaws.com/v1/user/-777/job/jobcode?query=<JOBID>"
    url = url.replace('<JOBID>',job_id)
    payload={}
    headers = {}
    
    response = requests.request("GET", url, headers=headers, data=payload)
    
    # print(response.text)
    

    # url = url.replace("<DAYS>",str(last_k)).replace("<SIZE>",str(size))

    payload={}
    headers = {}

    response = requests.request("GET", url, headers=headers, data=payload)
    job_data = response.json()
    # print(job_data)
    job_df = pd.DataFrame(job_data)

    return job_df[['id','introText']]

In [8]:

jd = fetch_jobs('1373869')

In [9]:
jd

        id                                          introText
0  1373869  <p>Sr. Brand Marketing Manager </p><p><br/></p...

In [10]:
# df2 = df.head(100)

In [11]:
# df2

In [12]:
df.job_id.nunique()

2949

In [13]:
df.user_id.nunique()

30363

In [14]:
from tqdm import tqdm
df_list = []
for i in tqdm(df['job_id'].unique()):
    try:
        j = fetch_jobs(str(i))
    
        df_list.append(j)
    except:
        continue
jd = pd.concat(df_list)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2949/2949 [00:43<00:00, 67.37it/s]

In [15]:
jd

         id                                          introText
0   1373681  <p>About Company - Global recognized leader in...
0   1373682  <p>About Company - Global recognized leader in...
0   1373683  <p>A prominent global investment and technolog...
0   1373684  <p>Limese is looking for a detail-oriented and...
0   1373685  <p>The RM shall be responsible for originating...
..      ...                                                ...
0   1376446  <p>Digital Analytics - Domain Specialist <br/>...
0   1376758  <p>Urban Company is a tech-enabled home servic...
0   1375146  <p>Reinsurance Manager - General Insurance </p...
0   1376759  <p>Experience in managing Architects Developer...
0   1376737  <p>Executive Hiring is looking for a Performan...

[2719 rows x 2 columns]

In [16]:
# 2949-2824

In [17]:
# d.columns = ['job_id','introText']

In [18]:
jid_list = list(jd.id)

In [19]:
# df

In [20]:
df1 = df.loc[df['job_id'].isin(jid_list)]

In [21]:
jd.columns = ['job_id','introText']

In [22]:
jd

     job_id                                          introText
0   1373681  <p>About Company - Global recognized leader in...
0   1373682  <p>About Company - Global recognized leader in...
0   1373683  <p>A prominent global investment and technolog...
0   1373684  <p>Limese is looking for a detail-oriented and...
0   1373685  <p>The RM shall be responsible for originating...
..      ...                                                ...
0   1376446  <p>Digital Analytics - Domain Specialist <br/>...
0   1376758  <p>Urban Company is a tech-enabled home servic...
0   1375146  <p>Reinsurance Manager - General Insurance </p...
0   1376759  <p>Experience in managing Architects Developer...
0   1376737  <p>Executive Hiring is looking for a Performan...

[2719 rows x 2 columns]

In [23]:
merged_df = pd.merge(jd, df1, on='job_id', how='left')

In [24]:
merged_df.sample(5)

,job_id,introText,application_id,user_id
115305,1376217,<p>Finance Controller (C.A.)</p><p><p><b><br/>...,144396512,596536
115772,1376212,<p>About Navi <br/><br/>Navi is one of the fas...,144377890,316015
106229,1375955,<p><b>About Us :<br/><br/></b>Arthmate is push...,144361850,1780851
68364,1374996,<p>About Magicpin:<br/><br/>Magicpin is a hype...,144353159,2697539
89046,1375504,<p>Description:</p><p><br/></p><p>Job Summary:...,144412663,2799007

In [25]:
merged_df

,job_id,introText,application_id,user_id
0,1373681,<p>About Company - Global recognized leader in...,144274567,439042
1,1373681,<p>About Company - Global recognized leader in...,144261479,2015063
2,1373681,<p>About Company - Global recognized leader in...,144253966,2777927
3,1373681,<p>About Company - Global recognized leader in...,144241259,58130
4,1373681,<p>About Company - Global recognized leader in...,144236812,2290933
...,...,...,...,...
123039,1376758,<p>Urban Company is a tech-enabled home servic...,144442159,1311734
123040,1375146,<p>Reinsurance Manager - General Insurance </p...,144438242,1824334
123041,1376759,<p>Experience in managing Architects Developer...,144442110,1619508
123042,1376737,<p>Executive Hiring is looking for a Performan...,144442121,1352791
123043,1376737,<p>Executive Hiring is looking for a Performan...,144442204,1030890

In [26]:
uid_list = list(merged_df.user_id.unique())

In [27]:
def clean_space(text):
    return " ".join(re.split("\s+", text, flags=re.UNICODE))

def remove_extra_spaces(input_string):
    # Use regular expression to remove extra spaces (only spaces)
    cleaned_string = re.sub(r' +', ' ', input_string)
    return cleaned_string
     

def get_user_data_search_embed(user_id_list):
    
    '''
    This function combines all the functions for fetching and processing 
    user data from elastic search
    '''


    sub_json = fetch_data_es(user_id_list)
    raw_data = construct_user_data_search_embed(sub_json)

    res_df = pd.DataFrame.from_dict(raw_data, orient='index').T
    result_df = res_df.astype(str).replace("None", " ")
    
    result_df['resume'] = result_df['resume'].apply(remove_extra_spaces)

    return result_df

def fetch_data_es(user_id_list):
    
    """
    Input : List of Valid Hirist User ID 
    Output : List of User Data JSON stored in Elastic Search
    """
    
    
    response_json = []
    replacements = {'null':'None', 'false':'False'}

    url = "http://10.208.230.226:8080/v1/recruiter/-123/applicant/search/searchById"

    res = []

    for uid in tqdm(user_id_list):


        payload = {
            'usersToSearchFrom' : [str(uid)]
        }

        headers = {
        'Content-Type': 'application/json'
        }

        try:
            response = requests.request("POST", url, headers=headers, data = str(payload))
            response_json = response.json()
    
            res.append(response_json['docs']) 

        except Exception as e:
            continue
        
    return res



def construct_user_data_search_embed(user_json):
    '''
    This is a function for fetching user ID, Keywords (in the form of tags) and 
    user designation from elastic search. This is specifically made for creating 
    user embeddings for our Recruiter search model/POC
    '''
    
    user_dict = {
        'id' : [],
        'resume' : []
    }

    for s in tqdm(user_json):

        try:
            source = s[0]

            user_dict['id'].append(source['id'])
            user_dict['resume'].append(clean_space(source['resumeText']))

        except Exception as e:
            continue

    return user_dict

In [28]:

def get_user_data_in_batches(uid_list, batch_size=1000):
    user_data = pd.DataFrame()

    for i in range(0, len(uid_list), batch_size):
        batch_uids = uid_list[i:i + batch_size]

        batch_user_data = get_user_data_search_embed(batch_uids)

        user_data = pd.concat([user_data, batch_user_data], ignore_index=True)

    return user_data

In [29]:
batched_user_data = get_user_data_in_batches(uid_list, batch_size=1000)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:10<00:00, 97.07it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4039.69it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:10<00:00, 92.05it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 3963.91it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:10<00:00, 98.54it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4096.38it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 100.06it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 3803.80it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:10<00:00, 92.66it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4120.81it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 105.39it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 5311.24it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:11<00:00, 87.15it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4069.16it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:10<00:00, 91.32it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4461.64it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 106.37it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4965.55it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:12<00:00, 81.07it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4199.70it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 107.55it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4761.89it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 103.60it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4065.99it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:10<00:00, 91.75it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4158.49it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 100.93it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4516.45it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 102.78it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4707.02it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:10<00:00, 92.82it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4222.42it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 108.83it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4353.25it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:10<00:00, 93.37it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4301.01it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 103.94it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4758.65it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:10<00:00, 98.26it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4860.79it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 101.55it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 5003.72it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 103.21it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4456.65it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 101.62it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4958.66it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 105.00it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4361.77it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 105.67it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4302.41it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 102.33it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 3801.37it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 102.52it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4585.14it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:09<00:00, 102.07it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4811.27it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 559/559 [00:05<00:00, 103.29it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 559/559 [00:00<00:00, 4344.82it/s]

In [30]:
len(uid_list)

28559

In [31]:
batched_user_data.columns = ['user_id','resume']

In [32]:
batched_user_data.dtypes

user_id    object
resume     object
dtype: object

In [33]:
batched_user_data['user_id']=batched_user_data['user_id'].astype(int)

In [34]:
main_df=pd.merge(merged_df,batched_user_data, on='user_id', how='left')

In [35]:
main_df.head()

,job_id,introText,application_id,user_id,resume
0,1373681,<p>About Company - Global recognized leader in...,144274567,439042,Vibha Issar Email: vibhaissar@rediffmail.com M...
1,1373681,<p>About Company - Global recognized leader in...,144261479,2015063,Swati Kamble +91 913 7083 435 | swatikamble257...
2,1373681,<p>About Company - Global recognized leader in...,144253966,2777927,Head Office Business process review and revamp...
3,1373681,<p>About Company - Global recognized leader in...,144241259,58130,WORK EXPERIENCE SUMMARY &amp; KEY ACHIEVEMENTS...
4,1373681,<p>About Company - Global recognized leader in...,144236812,2290933,WORK EXPERIENCE (5Y 5M) YES BANK | APRIL 2022 ...

In [36]:
main_df.isnull().sum()

job_id               0
introText            0
application_id       0
user_id              0
resume            1195
dtype: int64

In [37]:
# main_df.loc[main_df['job_id']==1373681]

In [38]:
def clean_text(input_text):
    
    '''Make text lowercase, remove text in square brackets,remove links,
    remove punctuation and remove words containing numbers.'''

    # This code block was added to remove the company names from Job embeddings
    
    # t = input_text.split('-')
    # if len(t)>3:
    #     t1 = t[1:]
    #     text = ' '.join(t1)
    # else:
    #     text = input_text
    #     pass

    text = input_text
        
    text = str(text).lower()
    text = re.sub('\[.*?\]',' ', text)
    text = re.sub('https?://\S+|www\.\S+',' ', text)
    text = re.sub('<.*?>+',' ', text)
    text = re.sub('[%s]' % re.escape(string.punctuation),' ', text)
    text = re.sub('\n',' ', text)
    text = re.sub('\w*\d\w*',' ', text)
    text = re.sub('yrs',' ',text)
    text = re.sub('\r',' ',text)
    text = ' '.join([word for word in text.split() if word not in (stop)])
    text = re.sub(' +', ' ', text)
    
    return text

In [39]:
li = []
for d in tqdm(main_df['introText']):
    des = clean_text(d)
    li.append(des)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 123044/123044 [01:32<00:00, 1329.06it/s]

In [40]:
main_df['description']=li

In [41]:
main_df

,job_id,introText,application_id,user_id,resume,description
0,1373681,<p>About Company - Global recognized leader in...,144274567,439042,Vibha Issar Email: vibhaissar@rediffmail.com M...,company global recognized leader financial tec...
1,1373681,<p>About Company - Global recognized leader in...,144261479,2015063,Swati Kamble +91 913 7083 435 | swatikamble257...,company global recognized leader financial tec...
2,1373681,<p>About Company - Global recognized leader in...,144253966,2777927,Head Office Business process review and revamp...,company global recognized leader financial tec...
3,1373681,<p>About Company - Global recognized leader in...,144241259,58130,WORK EXPERIENCE SUMMARY &amp; KEY ACHIEVEMENTS...,company global recognized leader financial tec...
4,1373681,<p>About Company - Global recognized leader in...,144236812,2290933,WORK EXPERIENCE (5Y 5M) YES BANK | APRIL 2022 ...,company global recognized leader financial tec...
...,...,...,...,...,...,...
123039,1376758,<p>Urban Company is a tech-enabled home servic...,144442159,1311734,Profile Summary | Direct Sales Distribution| S...,urban company tech enabled home services marke...
123040,1375146,<p>Reinsurance Manager - General Insurance </p...,144438242,1824334,"JINIMOLSKARIA(CA,B.Com,LIII) Objective:Toadva...",reinsurance manager general insurance location...
123041,1376759,<p>Experience in managing Architects Developer...,144442110,1619508,Gaurav Rajendra Nemade 08/12/1994|nemadegaurav...,experience managing architects developers role...
123042,1376737,<p>Executive Hiring is looking for a Performan...,144442121,1352791,Yashodhan Joshi Email address:yashodhanjoshi55...,executive hiring looking performance marketing...
123043,1376737,<p>Executive Hiring is looking for a Performan...,144442204,1030890,Abhijit Pachorkar +919167701969 Looking for an...,executive hiring looking performance marketing...

In [42]:
# main_df[['resume']].values

In [43]:
# main_df.to_csv('../custom_data/metric_data/main_data.csv', index=False)

## Start here

In [44]:
import tensorflow_hub as hub
embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder-large/5")

2024-02-21 11:50:55.283621: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-02-21 11:50:55.737486: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1960] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [45]:
# df = pd.read_csv('../custom_data/metric_data/main_data.csv')

In [46]:
# main_df

In [47]:
li = []
for r in tqdm(main_df['resume']):
    res = clean_text(r)
    li.append(res)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 123044/123044 [06:14<00:00, 328.67it/s]

In [48]:
main_df['resume_text']=li

In [49]:
# df[['resume','resume_text']][:2].values

In [50]:
main_df

,job_id,introText,application_id,user_id,resume,description,resume_text
0,1373681,<p>About Company - Global recognized leader in...,144274567,439042,Vibha Issar Email: vibhaissar@rediffmail.com M...,company global recognized leader financial tec...,vibha issar email vibhaissar rediffmail com mo...
1,1373681,<p>About Company - Global recognized leader in...,144261479,2015063,Swati Kamble +91 913 7083 435 | swatikamble257...,company global recognized leader financial tec...,swati kamble gmail com expert financial servic...
2,1373681,<p>About Company - Global recognized leader in...,144253966,2777927,Head Office Business process review and revamp...,company global recognized leader financial tec...,head office business process review revamping ...
3,1373681,<p>About Company - Global recognized leader in...,144241259,58130,WORK EXPERIENCE SUMMARY &amp; KEY ACHIEVEMENTS...,company global recognized leader financial tec...,work experience summary amp key achievements t...
4,1373681,<p>About Company - Global recognized leader in...,144236812,2290933,WORK EXPERIENCE (5Y 5M) YES BANK | APRIL 2022 ...,company global recognized leader financial tec...,work experience yes bank april march stressed ...
...,...,...,...,...,...,...,...
123039,1376758,<p>Urban Company is a tech-enabled home servic...,144442159,1311734,Profile Summary | Direct Sales Distribution| S...,urban company tech enabled home services marke...,profile summary direct sales distribution stra...
123040,1375146,<p>Reinsurance Manager - General Insurance </p...,144438242,1824334,"JINIMOLSKARIA(CA,B.Com,LIII) Objective:Toadva...",reinsurance manager general insurance location...,jinimolskaria ca b com liii objective toadvanc...
123041,1376759,<p>Experience in managing Architects Developer...,144442110,1619508,Gaurav Rajendra Nemade 08/12/1994|nemadegaurav...,experience managing architects developers role...,gaurav rajendra nemade nemadegaurav gmail com ...
123042,1376737,<p>Executive Hiring is looking for a Performan...,144442121,1352791,Yashodhan Joshi Email address:yashodhanjoshi55...,executive hiring looking performance marketing...,yashodhan joshi email address gmail com result...
123043,1376737,<p>Executive Hiring is looking for a Performan...,144442204,1030890,Abhijit Pachorkar +919167701969 Looking for an...,executive hiring looking performance marketing...,abhijit pachorkar looking opportunity sales ke...

In [51]:
mdf = main_df[['job_id','description','user_id','resume_text']]

In [52]:
mdf

,job_id,description,user_id,resume_text
0,1373681,company global recognized leader financial tec...,439042,vibha issar email vibhaissar rediffmail com mo...
1,1373681,company global recognized leader financial tec...,2015063,swati kamble gmail com expert financial servic...
2,1373681,company global recognized leader financial tec...,2777927,head office business process review revamping ...
3,1373681,company global recognized leader financial tec...,58130,work experience summary amp key achievements t...
4,1373681,company global recognized leader financial tec...,2290933,work experience yes bank april march stressed ...
...,...,...,...,...
123039,1376758,urban company tech enabled home services marke...,1311734,profile summary direct sales distribution stra...
123040,1375146,reinsurance manager general insurance location...,1824334,jinimolskaria ca b com liii objective toadvanc...
123041,1376759,experience managing architects developers role...,1619508,gaurav rajendra nemade nemadegaurav gmail com ...
123042,1376737,executive hiring looking performance marketing...,1352791,yashodhan joshi email address gmail com result...
123043,1376737,executive hiring looking performance marketing...,1030890,abhijit pachorkar looking opportunity sales ke...

In [53]:
mdf.dtypes

job_id          int64
description    object
user_id         int64
resume_text    object
dtype: object

In [54]:
# mdf.to_csv('../custom_data/metric_data/main_df.csv',index=False)

In [55]:
j = mdf.job_id.sample().values[0]

In [56]:
j

1374968

In [57]:

# df_list = []

# for jid in tqdm(mdf.job_id.unique()):
#     # print(jid)
#     jobdf = mdf.loc[mdf['job_id']==jid]

#     description = jobdf.description.sample().values[0]

#     job_embeddings = embed([description]).numpy()[0]
    

#     udf = jobdf[['user_id', 'resume_text']]
    
#     udf_list = udf.values
    
#     r_list = udf_list[:,1].tolist()
#     uid_list = udf_list[:,0].tolist()
    
#     try:
    
#         embedding_sublist = [e for e in embed(r_list).numpy()]
#     except Exception as e:
#         continue

#     sub_dict = {uid: np.array([embedding]) for uid, embedding in zip(uid_list, embedding_sublist)}
    
#     # start = time.time()

#     uv = embedding_sublist

#     try:
#         nu = uv / np.linalg.norm(uv, axis=1)[:, np.newaxis]
#     except Exception as e:
#         print(f'Error is {e}')  
#         continue
    
#     searcher = scann.scann_ops_pybind.builder(nu, 10000, "dot_product").score_brute_force(2).build()

    
#     neighbours, distances = searcher.search_batched([job_embeddings])
    
#     udf = udf.iloc[neighbours[0]]
#     udf['scores'] = distances[0] 
#     udf.drop(['resume_text'],axis=1,inplace=True)

#     final_df=pd.merge(jobdf,udf, on='user_id', how='left')

#     df_list.append(final_df)
    
# result_df =pd.concat(df_list)
#     # m1.loc[m1['job_id'] == jid, 'scores'] = distances[0]

## Main code

In [58]:
# mdf = pd.read_csv('../custom_data/metric_data/main_df.csv')

In [59]:
# mdf

In [60]:
# embed([mdf.description.sample().values[0]]).numpy()[0]

In [61]:
# mdf.loc[mdf['user_id']==2459415]['resume_text'].values[0]

In [62]:
print('Start from here')

Start from here

In [63]:
mdf['job_id'].value_counts().max()

815

In [64]:
# mdf.loc[mdf['user_id']==439042]['resume_text'].values[0]

In [ ]:
import numpy as np
from tqdm import tqdm


batch_size = 10  # Adjust the batch size according to your system's capacity

df_list = []

unique_job_ids = mdf.job_id.unique()

num_batches = len(unique_job_ids) // batch_size + 1

for batch_num in tqdm(range(num_batches)):
    start_idx = batch_num * batch_size
    end_idx = (batch_num + 1) * batch_size
    batch_job_ids = unique_job_ids[start_idx:end_idx]

    batch_df_list = []

    try:

        for jid in batch_job_ids:
            jobdf = mdf.loc[mdf['job_id'] == jid]
    
            description = jobdf.description.sample().values[0]
            job_embeddings = embed([description]).numpy()[0]
    
            udf = jobdf[['user_id', 'resume_text']]
            udf_list = udf.values
            r_list = udf_list[:, 1].tolist()
            uid_list = udf_list[:, 0].tolist()
            
            try:
                embedding_sublist = [e for e in embed(r_list).numpy()]
            except Exception as e:
                # print(uid_list)
                print('problem')
                continue
    
            sub_dict = {uid: np.array([embedding]) for uid, embedding in zip(uid_list, embedding_sublist)}
    
            uv = embedding_sublist
    
            try:
                nu = uv / np.linalg.norm(uv, axis=1)[:, np.newaxis]
            except Exception as e:
                print(f'Error is {e}')
    
            # searcher = scann.scann_ops_pybind.builder(nu, 900, "dot_product").score_brute_force(2).build()

            searcher = scann.scann_ops_pybind.builder(nu, 900, "dot_product").tree(
        num_leaves=10, num_leaves_to_search=10, training_sample_size=1000).score_ah(
        2, anisotropic_quantization_threshold=0.2).reorder(1000).build()

    
            neighbours, distances = searcher.search_batched([job_embeddings])
    
            udf = udf.iloc[neighbours[0]]
            udf['scores'] = distances[0]
            udf.drop(['resume_text'], axis=1, inplace=True)
    
            final_df = pd.merge(jobdf, udf, on='user_id', how='left')
            batch_df_list.append(final_df)            
            
            del jobdf, udf, embedding_sublist, nu, searcher

    
        batch_result_df = pd.concat(batch_df_list)
        df_list.append(batch_result_df)
    except Exception as e:
        print(e)
        continue
result_df = pd.concat(df_list)

  0%|                                                                                                                                                | 0/272 [00:00<?, ?it/s]2024-02-21 11:58:58.199634: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 28
2024-02-21 11:58:58.203418: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 3.735672ms.
2024-02-21 11:59:05.169487: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 50
2024-02-21 11:59:05.170701: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 1.1668ms.
2024-02-21 11:59:06.053807: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 5
  0%|▍                                                                                                                                     | 1/272 [00:14<1:06:20, 14.69s/it]

Error initializing searcher: Number of points (5) is less than the number of clusters (10).

2024-02-21 11:59:09.374705: W tensorflow/core/framework/op_kernel.cc:1828] OP_REQUIRES failed at matmul_op_impl.h:731 : RESOURCE_EXHAUSTED: OOM when allocating tensor with shape[453,8,2618,2618] and type float on /job:localhost/replica:0/task:0/device:CPU:0 by allocator cpu

problem

2024-02-21 11:59:12.793958: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 12
  1%|█                                                                                                                                       | 2/272 [00:21<45:03, 10.01s/it]

Error initializing searcher: Number of clusters per block (16) is greater than asymmetric hashing training data size (12).

2024-02-21 11:59:12.794125: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 117.592us.
2024-02-21 11:59:37.211639: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 50
2024-02-21 11:59:37.212999: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 1.308301ms.
2024-02-21 11:59:56.094341: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 37
2024-02-21 11:59:56.095363: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 985.257us.
2024-02-21 12:00:04.941143: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 31
2024-02-21 12:00:04.941738: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 542.678us.
2024-02-21 12:00:09.312092: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 14
  1%|█▍                                                                                                                                    | 3/272 [01:17<2:20:05, 31.25s/it]

Error initializing searcher: Number of clusters per block (16) is greater than asymmetric hashing training data size (14).

2024-02-21 12:00:09.312267: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 125.821us.
2024-02-21 12:02:27.756419: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 229
2024-02-21 12:02:27.761937: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 5.463581ms.
2024-02-21 12:02:45.425351: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 42
2024-02-21 12:02:45.426448: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 1.047937ms.
2024-02-21 12:03:12.055288: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 42
2024-02-21 12:03:12.059830: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 4.491006ms.
2024-02-21 12:03:46.764071: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 115
2024-02-21 12:03:46.766798: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 2.675535ms.
2024-02-21 12:04:03.758681: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 40
2024-02-21 12:04:03.759830: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 1.098499ms.
2024-02-21 12:04:05.579483: W tensorflow/core/framework/op_kernel.cc:1828] OP_REQUIRES failed at matmul_op_impl.h:731 : RESOURCE_EXHAUSTED: OOM when allocating tensor with shape[155,8,4461,4461] and type float on /job:localhost/replica:0/task:0/device:CPU:0 by allocator cpu

problem

2024-02-21 12:04:11.038787: W tensorflow/core/framework/op_kernel.cc:1828] OP_REQUIRES failed at matmul_op_impl.h:731 : RESOURCE_EXHAUSTED: OOM when allocating tensor with shape[35,8,91290,91290] and type float on /job:localhost/replica:0/task:0/device:CPU:0 by allocator cpu

problem

2024-02-21 12:05:30.267814: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 41
2024-02-21 12:05:30.268825: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 958.116us.
2024-02-21 12:05:32.414249: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 8
  1%|█▉                                                                                                                                  | 4/272 [06:41<10:54:13, 146.47s/it]

Error initializing searcher: Number of points (8) is less than the number of clusters (10).

2024-02-21 12:05:33.838332: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 11
2024-02-21 12:05:33.838488: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 116.112us.
  2%|██▍                                                                                                                                   | 5/272 [06:42<6:59:02, 94.16s/it]

Error initializing searcher: Number of clusters per block (16) is greater than asymmetric hashing training data size (11).

2024-02-21 12:05:59.607598: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 31
2024-02-21 12:05:59.608173: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 528.458us.
2024-02-21 12:06:00.496357: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 4
  2%|██▉                                                                                                                                   | 6/272 [07:09<5:15:42, 71.21s/it]

Error initializing searcher: Number of points (4) is less than the number of clusters (10).

2024-02-21 12:06:32.158672: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 77
2024-02-21 12:06:32.160370: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 1.649186ms.
2024-02-21 12:06:52.573583: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 33
2024-02-21 12:06:52.574169: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 537.759us.
2024-02-21 12:07:43.158988: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 24
2024-02-21 12:07:43.159448: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 415.247us.
2024-02-21 12:07:50.970115: W tensorflow/core/framework/op_kernel.cc:1828] OP_REQUIRES failed at matmul_op_impl.h:731 : RESOURCE_EXHAUSTED: OOM when allocating tensor with shape[56,8,91290,91290] and type float on /job:localhost/replica:0/task:0/device:CPU:0 by allocator cpu

problem

2024-02-21 12:08:44.581073: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 24
2024-02-21 12:08:44.581737: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 610.01us.
2024-02-21 12:08:57.632847: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 31
2024-02-21 12:08:57.633416: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 521.549us.
2024-02-21 12:09:01.275700: W tensorflow/core/framework/op_kernel.cc:1828] OP_REQUIRES failed at matmul_op_impl.h:731 : RESOURCE_EXHAUSTED: OOM when allocating tensor with shape[25,8,91290,91290] and type float on /job:localhost/replica:0/task:0/device:CPU:0 by allocator cpu

problem

2024-02-21 12:09:06.676657: W tensorflow/core/framework/op_kernel.cc:1828] OP_REQUIRES failed at scatter_nd_op.cc:131 : RESOURCE_EXHAUSTED: OOM when allocating tensor with shape[508,91290,512] and type float on /job:localhost/replica:0/task:0/device:CPU:0 by allocator cpu
2024-02-21 12:09:06.937357: W tensorflow/core/framework/op_kernel.cc:1828] OP_REQUIRES failed at scatter_nd_op.cc:131 : RESOURCE_EXHAUSTED: OOM when allocating tensor with shape[508,91290,512] and type float on /job:localhost/replica:0/task:0/device:CPU:0 by allocator cpu
2024-02-21 12:09:07.167719: W tensorflow/core/framework/op_kernel.cc:1828] OP_REQUIRES failed at scatter_nd_op.cc:131 : RESOURCE_EXHAUSTED: OOM when allocating tensor with shape[508,91290,512] and type float on /job:localhost/replica:0/task:0/device:CPU:0 by allocator cpu

problem

2024-02-21 12:09:36.523591: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 88
2024-02-21 12:09:36.525775: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 2.135136ms.
2024-02-21 12:10:33.923985: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 34
2024-02-21 12:10:33.924573: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 539.039us.
  3%|███▍                                                                                                                                | 7/272 [11:42<10:06:35, 137.34s/it]2024-02-21 12:11:06.336789: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 149
2024-02-21 12:11:06.340358: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 3.519748ms.
2024-02-21 12:12:27.924057: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 43
2024-02-21 12:12:27.925110: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 1.002827ms.

In [1]:
result_df

NameError: name 'result_df' is not defined

In [77]:
# udf

In [81]:
result_df.loc[result_df['job_id']==1373684].head(50)

,job_id,description,user_id,resume_text,scores
0,1373684,limese looking detail oriented analytically sk...,2280817,october current may october pranav jaiswal sup...,0.729711
1,1373684,limese looking detail oriented analytically sk...,2730065,prakash murugesan india mobile email gmail com...,0.627667
2,1373684,limese looking detail oriented analytically sk...,2354895,rahul singh email rahulsingh gmail com linkedi...,0.527871
3,1373684,limese looking detail oriented analytically sk...,2711440,akhil pratap singh asian paints ltd central su...,0.516081
4,1373684,limese looking detail oriented analytically sk...,2500298,piyush kumar patel gmail com mumbai maharashtr...,0.575001
5,1373684,limese looking detail oriented analytically sk...,1229742,work experience projects internships abhishek ...,0.555705
6,1373684,limese looking detail oriented analytically sk...,2681866,vignesh iyer new delhi gmail com linkedin com ...,0.512643
7,1373684,limese looking detail oriented analytically sk...,2436531,amit ahirwar male dob nov gmail com scholastic...,0.615747
8,1373684,limese looking detail oriented analytically sk...,2806722,mithila kirve mumbai maharashtra india mobile ...,0.521031
9,1373684,limese looking detail oriented analytically sk...,218127,rahul boriwal email id gmail com contact profe...,0.551550
10,1373684,limese looking detail oriented analytically sk...,2511861,thomas anthony hub incharge mh operations flip...,0.607781
11,1373684,limese looking detail oriented analytically sk...,2610283,aniket gotarne current location india gmail co...,0.659762
12,1373684,limese looking detail oriented analytically sk...,2808508,g c prof vartika srivastava professor charge p...,0.573312
13,1373684,limese looking detail oriented analytically sk...,1070052,key skills profile summarry p amp l management...,0.477736
14,1373684,limese looking detail oriented analytically sk...,2340407,core areas expertise strategic planning supply...,0.626746
15,1373684,limese looking detail oriented analytically sk...,1922960,experience instock manager swiggy instamart fe...,0.573481
16,1373684,limese looking detail oriented analytically sk...,2794614,hrishikesh kalambe gmail com linkedin com hris...,0.542145
17,1373684,limese looking detail oriented analytically sk...,1578254,reliance retail ahmedabad city lead akshay sha...,0.637841
18,1373684,limese looking detail oriented analytically sk...,1043508,sai teja male professional years experience in...,0.546145
19,1373684,limese looking detail oriented analytically sk...,2597267,brinto saju assistant manager supply chain pla...,0.618813
20,1373684,limese looking detail oriented analytically sk...,1480843,shubham srivastava iim udaipur amp nit allahab...,0.605488
21,1373684,limese looking detail oriented analytically sk...,2794615,durgesh kumar singh male email iimsirmaur ac p...,0.531231
22,1373684,limese looking detail oriented analytically sk...,2155183,nikhil naik team leader versatile seasoned pro...,0.678071
23,1373684,limese looking detail oriented analytically sk...,1396748,akhil suresh chembur mumbai akhil sureshr gmai...,0.562438
24,1373684,limese looking detail oriented analytically sk...,2808417,tanish deepak patil mba operations ph email mi...,0.426302
25,1373684,limese looking detail oriented analytically sk...,2611424,lakhvinder singh executive operations transpor...,0.574018
26,1373684,limese looking detail oriented analytically sk...,2807663,soumita mondal urban regional planner experien...,0.501019
27,1373684,limese looking detail oriented analytically sk...,1458837,puneet singh drive operational excellence cont...,0.647623
28,1373684,limese looking detail oriented analytically sk...,2762073,anu jain ja gmail com current location mumbai ...,0.572280
29,1373684,limese looking detail oriented analytically sk...,2795596,pgdm big data analytics rohit years gmail com ...,0.524086
30,1373684,limese looking detail oriented analytically sk...,2590700,summary mba graduate iim mumbai nitie years mu...,0.594823
31,1373684,limese looking detail oriented analytically sk...,2806884,gmail com objective desire work company uses k...,0.569807
32,1373684,limese looking detail oriented analytically sk...,990381,prashant boriwal analytics amp supply chain pr...,0.604263
33,1373684,limese looking detail oriented analytically sk...,710901,saurabh temghare mba b e email gmail com mobil...,0.651033
34,1373684,limese looking detail oriented analytically sk...,2761739,summer internship project duration months prof...,0.527317
35,1373684,limese looking detail oriented analytically sk...,2766380,sarthak goyal business operations associate ta...,0.622544
36,1373684,limese looking detail oriented analytically sk...,2805347,tnouman tabdul tmajid tshaikh tecommerce tspec...,0.600326
37,1373684,limese looking detail oriented analytically sk...,2804425,dipti kumari personal details b february addre...,0.427973
38,1373684,limese looking detail oriented analytically sk...,2757228,abhijeet p betwal b e mechanical abhijeet dabk...,0.416230
39,1373684,limese looking detail oriented analytically sk...,2797077,shaz siddiqui male gmail com linkedin com shaz...,0.589578
40,1373684,limese looking detail oriented analytically sk...,2455100,sushmita mba finance analytics marketing iim r...,0.623196
41,1373684,limese looking detail oriented analytically sk...,2751336,navjyot male ph email gmail com academic quali...,0.461056
42,1373684,limese looking detail oriented analytically sk...,2470364,nikhil dave inikhildave gmail com career objec...,0.440273
43,1373684,limese looking detail oriented analytically sk...,2740338,education education education education experi...,0.576379
44,1373684,limese looking detail oriented analytically sk...,2792238,advance excel gmail com pune india linkedin co...,0.583959
45,1373684,limese looking detail oriented analytically sk...,594866,suraj prabhakar dhende email id suraj dhende g...,0.598668
46,1373684,limese looking detail oriented analytically sk...,2194592,accenture strategy cn sc amp management consul...,0.555044
47,1373684,limese looking detail oriented analytically sk...,2741844,sai gowri kondapalli email ksaigowri gmail com...,0.505598
48,1373684,limese looking detail oriented analytically sk...,2791376,yash mevasi gmail com male vadodara gujarat in...,0.552621
49,1373684,limese looking detail oriented analytically sk...,2790880,articleship exposure shah surendra amp associa...,0.485662

In [116]:
m1.loc[m1['job_id']==1373684]

,job_id,description,user_id,resume_text,scores
83,1373684,limese looking detail oriented analytically sk...,2280817,october current may october pranav jaiswal sup...,0.729711
84,1373684,limese looking detail oriented analytically sk...,2730065,prakash murugesan india mobile email gmail com...,0.659762
85,1373684,limese looking detail oriented analytically sk...,2354895,rahul singh email rahulsingh gmail com linkedi...,0.627667
86,1373684,limese looking detail oriented analytically sk...,2711440,akhil pratap singh asian paints ltd central su...,0.626746
87,1373684,limese looking detail oriented analytically sk...,2500298,piyush kumar patel gmail com mumbai maharashtr...,0.615747
88,1373684,limese looking detail oriented analytically sk...,1229742,work experience projects internships abhishek ...,0.607781
89,1373684,limese looking detail oriented analytically sk...,2681866,vignesh iyer new delhi gmail com linkedin com ...,0.575001
90,1373684,limese looking detail oriented analytically sk...,2436531,amit ahirwar male dob nov gmail com scholastic...,0.573481
91,1373684,limese looking detail oriented analytically sk...,2806722,mithila kirve mumbai maharashtra india mobile ...,0.573312
92,1373684,limese looking detail oriented analytically sk...,218127,rahul boriwal email id gmail com contact profe...,0.555705
93,1373684,limese looking detail oriented analytically sk...,2511861,thomas anthony hub incharge mh operations flip...,0.551550
94,1373684,limese looking detail oriented analytically sk...,2610283,aniket gotarne current location india gmail co...,0.542145
95,1373684,limese looking detail oriented analytically sk...,2808508,g c prof vartika srivastava professor charge p...,0.527871
96,1373684,limese looking detail oriented analytically sk...,1070052,key skills profile summarry p amp l management...,0.521031
97,1373684,limese looking detail oriented analytically sk...,2340407,core areas expertise strategic planning supply...,0.516081
98,1373684,limese looking detail oriented analytically sk...,1922960,experience instock manager swiggy instamart fe...,0.512643
99,1373684,limese looking detail oriented analytically sk...,2794614,hrishikesh kalambe gmail com linkedin com hris...,0.477736

In [114]:
mdf.loc[mdf['job_id']==1373681]

,job_id,description,user_id,resume_text
0,1373681,company global recognized leader financial tec...,439042,vibha issar email vibhaissar rediffmail com mo...
1,1373681,company global recognized leader financial tec...,2015063,swati kamble gmail com expert financial servic...
2,1373681,company global recognized leader financial tec...,2777927,head office business process review revamping ...
3,1373681,company global recognized leader financial tec...,58130,work experience summary amp key achievements t...
4,1373681,company global recognized leader financial tec...,2290933,work experience yes bank april march stressed ...
5,1373681,company global recognized leader financial tec...,190578,nikhil jain nikhil gmail com experienced profe...
6,1373681,company global recognized leader financial tec...,26047,mobile investments amp corporate strategy stra...
7,1373681,company global recognized leader financial tec...,1128193,vanshika agarwal fixed income research mba gol...
8,1373681,company global recognized leader financial tec...,2800701,g sreenivasa reddy phone email gsnivasareddy g...
9,1373681,company global recognized leader financial tec...,23029,pramod tiwari finance professional amp busines...
10,1373681,company global recognized leader financial tec...,2723150,delhivery limited bengaluruas assistant manage...
11,1373681,company global recognized leader financial tec...,127224,gaurav singh e mail gmail com contact seasoned...
12,1373681,company global recognized leader financial tec...,378346,sankeerth nedunoori contact information perman...
13,1373681,company global recognized leader financial tec...,389475,ashwin viswanath thiyagarajan ashvish gmail co...
14,1373681,company global recognized leader financial tec...,874224,aiyana sarin bk dutt colony jor bhag road delh...
15,1373681,company global recognized leader financial tec...,1014692,dhara mehta experience skills summary monitori...
16,1373681,company global recognized leader financial tec...,559238,samiran kumar das gmail com page work experien...
17,1373681,company global recognized leader financial tec...,1135687,rohan aroras resume page rohan arora contact e...
18,1373681,company global recognized leader financial tec...,206025,vishal iyer vishal pgp isb edu dob december wo...
19,1373681,company global recognized leader financial tec...,807692,career objective experienced professional cred...
20,1373681,company global recognized leader financial tec...,701543,manu v director commercial real estate standar...
21,1373681,company global recognized leader financial tec...,112184,bibhas kumar bibhasksingh gmail com sf bptp am...
22,1373681,company global recognized leader financial tec...,931386,sai chand emani gmail com summary data driven ...
23,1373681,company global recognized leader financial tec...,635602,shobit mahajan male years shobit nith gmail co...
24,1373681,company global recognized leader financial tec...,2779671,professional experience current role descripti...
25,1373681,company global recognized leader financial tec...,21996,de e ee e ep p pa ak k k l l la ak k kh h hm n...
26,1373681,company global recognized leader financial tec...,1081157,shomit sohan mobile landline e mail shomit soh...
27,1373681,company global recognized leader financial tec...,341537,antriksh bajaj mob email antrikshb gmail com s...

In [ ]:
def do_something():
    jobid = main_df

In [51]:
# cl = pd.read_csv('../custom_data/metric_data/query_result_2024-02-16T12 00 06.729814Z.csv')

In [52]:
# cl.determinedPortalNewMl.value_counts()

In [53]:
# cl.determinedPortalNewMl.isnull().sum()

In [55]:
# del cl