In [1]:
import configparser
import pandas as pd
import pymysql

In [2]:

config=configparser.ConfigParser()
config.read('../../examples/configs/config.ini')

['../../examples/configs/config.ini']

In [3]:
mydb= pymysql.connect(
host=config['iimjobs_db']['hostname'],
user=config['iimjobs_db']['username'],
password=config['iimjobs_db']['password'],
db=config['iimjobs_db']['db_name']
)

mycursor = mydb.cursor()

In [4]:
mycursor = mydb.cursor()

 
query = "SELECT title FROM jos_content WHERE title LIKE '%recruiter%'"

mycursor.execute(query)

result = mycursor.fetchall()

In [5]:
rec = pd.DataFrame(result,columns=['title'])

In [9]:
rec= rec.sample(1000)

In [10]:
rec

                                                  title
136                     AB InBev - Recruiter (6-12 yrs)
3347   Senior Technical Recruiter - BPO/ITeS (6-10 yrs)
1013         Goldman Sachs - Campus Recruiter (4-7 yrs)
1621  Lead Technical Recruiter - Software Product Fi...
3088      Senior Recruiter - Internet/Online (7-10 yrs)
...                                                 ...
1241   Infinity Learn - Lead Recruiter - Tech (3-5 yrs)
2146          PharmEasy - Technical Recruiter (3-7 yrs)
1136  HR Recruiter - Legal Recruitment Consultancy  ...
1402    IT/Non IT Recruiter - Investment Bank (2-3 yrs)
4261                         Yubi - Recruiter (4-8 yrs)

[1000 rows x 1 columns]

In [4]:
mycursor = mydb.cursor()

 
query = "SELECT title FROM jos_content WHERE title LIKE '%recruitment%'"

mycursor.execute(query)

result = mycursor.fetchall()

In [5]:

tit = pd.DataFrame(result,columns=['title'])

In [6]:
tit['label'] =1

In [7]:
tit = tit.sample(1000)

In [8]:
mycursor = mydb.cursor()

 
query = "SELECT title FROM jos_content WHERE title LIKE '%recruiter%'"

mycursor.execute(query)

result = mycursor.fetchall()

In [9]:
tit1 = pd.DataFrame(result,columns=['title'])

In [10]:
tit1['label']=1

In [11]:
tit1 = tit1.sample(1000)

In [12]:
mycursor = mydb.cursor()

 
query = "SELECT title FROM jos_content WHERE title LIKE '%consultant%'"

mycursor.execute(query)

result = mycursor.fetchall()

In [13]:
tit2=pd.DataFrame(result,columns=['title'])

In [14]:
tit2['label']=1

In [15]:
tit2=tit2.sample(1000)

In [16]:
# mycursor = mydb.cursor()

 
# query = "SELECT title FROM jos_content WHERE title LIKE '%consultancy%'"

# mycursor.execute(query)

# result = mycursor.fetchall()

In [17]:
# tit3 = pd.DataFrame(result,columns=['title'])

In [18]:
# tit3['label']=1

In [19]:
# tit3

In [20]:
# tit3 = tit3.sample(1000)

In [21]:
mycursor = mydb.cursor()

 
query = "SELECT title FROM jos_content WHERE title LIKE '%operations%'"

mycursor.execute(query)

result = mycursor.fetchall()

In [22]:
tit4 = pd.DataFrame(result,columns=['title'])

In [23]:
tit4['label']=1

In [24]:
tit4 = tit4.sample(1000)

In [25]:
fd = pd.concat([tit,tit1,tit2,tit4])

In [26]:

fd['title']=fd['title'].str.lower()

In [27]:
fd

                                                   title  label
9948   michael page - recruitment consultant - iim/fm...      1
14043  search consultant - it/non it recruitment (0-6...      1
11814   recruitment associate manager - bpo   (8-15 yrs)      1
13923      researcher/recruitment role - bfsi  (4-7 yrs)      1
2603            campus recruitment role - bfsi (4-8 yrs)      1
...                                                  ...    ...
45185     senior sales operations analyst - it (3-6 yrs)      1
19951  head - global quality control operations - qua...      1
10898  content strategist/manager - academic operatio...      1
16569  furlenco - regional manager - warehouse operat...      1
26587  jp morgan chase - client data specialist/opera...      1

[4000 rows x 2 columns]

In [28]:
fd.to_csv('../../examples/custom_data/iim_train_df.csv',index=False)