In [1]:
import configparser
import pandas as pd
import pymysql

In [2]:
pwd

'/home/ubuntu/infoedge/llama-recipes/examples/metric_analysis'

In [3]:

config=configparser.ConfigParser()
config.read('../../examples/configs/config.ini')

['../../examples/configs/config.ini']

In [4]:
mydb= pymysql.connect(
host=config['iimjobs_db']['hostname'],
user=config['iimjobs_db']['username'],
password=config['iimjobs_db']['password'],
db=config['iimjobs_db']['db_name']
)

mycursor = mydb.cursor()

In [5]:
mycursor = mydb.cursor()

 
query = "SELECT title FROM jos_content WHERE title LIKE '%recruiter%'"

mycursor.execute(query)

result = mycursor.fetchall()

In [6]:
rec = pd.DataFrame(result,columns=['title'])

In [7]:
rec= rec.sample(1000)

In [8]:
rec

                                                  title
3027                        Senior Recruiter (6-15 yrs)
4176                      US/UK IT Recruiter (2-10 yrs)
429   Blackbuck - Lead Recruiter - Non Tech Bulk Hir...
2016                 Non-Tech Recruiter - IT (7-10 yrs)
789   Dremio - Technical Recruiter - Contractual Rol...
...                                                 ...
3867     Technical Recruiter - US Market - IT (1-4 yrs)
434                      Bluecore - Recruiter (3-6 yrs)
1124       HR Recruiter - Infrastructure/Auto (1-5 yrs)
1095        Hindustan Wellness - HR Recruiter (1-4 yrs)
4050  US Engineering Recruiter - Staffing Firm (1-2 ...

[1000 rows x 1 columns]

In [9]:
mycursor = mydb.cursor()

 
query = "SELECT title FROM jos_content WHERE title LIKE '%recruitment%'"

mycursor.execute(query)

result = mycursor.fetchall()

In [10]:

tit = pd.DataFrame(result,columns=['title'])

In [11]:
tit['label'] =1

In [12]:
tit = tit.sample(1000)

In [13]:
mycursor = mydb.cursor()

 
query = "SELECT title FROM jos_content WHERE title LIKE '%recruiter%'"

mycursor.execute(query)

result = mycursor.fetchall()

In [14]:
tit1 = pd.DataFrame(result,columns=['title'])

In [15]:
tit1['label']=1

In [16]:
tit1 = tit1.sample(1000)

In [17]:
mycursor = mydb.cursor()

 
query = "SELECT title FROM jos_content WHERE title LIKE '%operation%'"

mycursor.execute(query)

result = mycursor.fetchall()

In [18]:
tit2=pd.DataFrame(result,columns=['title'])

In [19]:
tit2['label']=1

In [20]:
tit2=tit2.sample(1000)

In [22]:
tit2

                                                   title  label
42998       Operations Manager - Insurance   (12-20 yrs)      1
45995  Pursuit Manager/Presales Manager/Sales Operati...      1
18741  Fraazo - General Manager -  Operations (4-10 yrs)      1
36729  Manager - Operations Excellence - FinTech (4-1...      1
14520  Deputy Vice President - Securitization Operati...      1
...                                                  ...    ...
37179  Manager - Revenue & Operations - Education (1-...      1
17592  EY - Assistant Manager - ITTS - Operational Tr...      1
47477  Sales Operations Professional - Footwear (12-1...      1
49886  Senior Manager - Risk & Compliance - Enterpris...      1
16968  eClerx - Manager/Sr.Manager - KYC - Financial ...      1

[1000 rows x 2 columns]

In [23]:
# mycursor = mydb.cursor()

 
# query = "SELECT title FROM jos_content WHERE title LIKE '%consultancy%'"

# mycursor.execute(query)

# result = mycursor.fetchall()

In [24]:
# tit3 = pd.DataFrame(result,columns=['title'])

In [25]:
# tit3['label']=1

In [26]:
# tit3

In [27]:
# tit3 = tit3.sample(1000)

In [28]:
mycursor = mydb.cursor()

 
query = "SELECT title FROM jos_content WHERE title LIKE '%operations%'"

mycursor.execute(query)

result = mycursor.fetchall()

In [29]:
tit4 = pd.DataFrame(result,columns=['title'])

In [30]:
tit4['label']=1

In [31]:
tit4 = tit4.sample(1000)

In [32]:
fd = pd.concat([tit,tit1,tit2,tit4])

In [33]:

fd['title']=fd['title'].str.lower()

In [34]:
fd

                                                   title  label
10226  michael page - recruitment consultant - techno...      1
15244  senior manager - recruitments - technology/pro...      1
15099  senior manager - recruitment - executive searc...      1
10849  page group - recruitment consultant - procurem...      1
1593        associate consultant - recruitment (1-5 yrs)      1
...                                                  ...    ...
2312   airtel - dgm - zonal service operations head (...      1
6513   avp - it project management - enterprise opera...      1
31732       manager - hr operations - startup  (3-5 yrs)      1
16374  flipspaces - deputy general manager - operatio...      1
47683  supply chain vertical head - operations - whol...      1

[4000 rows x 2 columns]

In [35]:
fd.to_csv('../../examples/custom_data/iim_train_df_4thapr.csv',index=False)

In [39]:
fd.sample(10).title.values

array(['research analyst - recruitment firm (2-5 yrs)',
       'us it recruiter - bench sales (2-5 yrs)',
       'leadership recruiter - it (5-12 yrs)',
       'researcher/recruitment role - bfsi  (4-7 yrs)',
       'senior consultant - recruitment - mid/senior level hiring - executive search firm  (2-9 yrs)',
       'business manager - recruitment services (15-24 yrs)',
       'senior recruiter - leadership hiring (7-15 yrs)',
       'manager - telecom operations - bpo (8-12 yrs)',
       'reliance ecommerce - talent acquisition specialist - cloud recruiter (4-6 yrs)',
       'manager - sales operations - bfs (5-8 yrs)'], dtype=object)