In [1]:
from vllm import LLM, SamplingParams
import numpy as np 
import pandas as pd 
import json, requests

In [2]:
from huggingface_hub import login
login(token='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')

Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/ubuntu/.cache/huggingface/token
Login successful

In [3]:
llm = LLM(model="mistralai/Mistral-7B-Instruct-v0.2")

INFO 03-13 15:40:43 llm_engine.py:73] Initializing an LLM engine with config: model='mistralai/Mistral-7B-Instruct-v0.2', tokenizer='mistralai/Mistral-7B-Instruct-v0.2', tokenizer_mode=auto, revision=None, tokenizer_revision=None, trust_remote_code=False, dtype=torch.bfloat16, max_seq_len=32768, download_dir=None, load_format=auto, tensor_parallel_size=1, quantization=None, enforce_eager=False, seed=0)
INFO 03-13 15:40:58 llm_engine.py:223] # GPU blocks: 922, # CPU blocks: 2048
INFO 03-13 15:41:00 model_runner.py:394] Capturing the model for CUDA graphs. This may lead to unexpected consequences if the model is not static. To run the model in eager mode, set 'enforce_eager=True' or use '--enforce-eager' in the CLI.
INFO 03-13 15:41:06 model_runner.py:437] Graph capturing finished in 5 secs.

In [4]:
sampling_params = SamplingParams(temperature=0, max_tokens=32)

In [5]:
# from transformers import LlamaForCausalLM, LlamaTokenizer

# model_id="meta-llama/Llama-2-7b-chat-hf"

# tokenizer = LlamaTokenizer.from_pretrained(model_id)

In [6]:
fa_list = pd.read_csv('../custom_data/fa_prediction/fa_list.csv')

In [7]:
fa_list

                                                 name
0                       Accounting / Taxation / Audit
1                   Analytics & Business Intelligence
2                        Banking / Financial Services
3          Corporate Planning / Consulting / Strategy
4                     Export / Import / Merchandising
5                                             HR / IR
6                                      Administration
7                                                  IT
8                                           Insurance
9                       ITeS / BPO / Customer Service
10                    Legal / Law / Company Secretary
11                                     KPO / Research
12         Marketing / Advertising / Public Relations
13                              Media / Entertainment
14    Sales / Business Development / Client Servicing
15      Pharma / Biotech / Healthcare / Medical / R&D
16       Production / Maintenance / Quality Assurance
17                Purchase / Supply Chain / Logistics
18                               Travel / Hospitality
19                                              Other
20                             Instructional Designer
21                            Content Writer/ Editors
22  Entrepreneur / Businessman / Outside Managemen...
23             Executive Assistant/Personal Secretary
24                     Hotels / Restaurant Management
25                             Research & Development
26                    Education / Language Specialist
27                                     Top Management
28                             Training & Development
29                                             Design
30                               Visual Merchandising
31                                       Presales/RFP
32                           Real Estate/Construction
33                            NGO/Social Services/CSR
34                                      Miscellaneous
35                                 Product Management

In [8]:
job_titles = pd.read_csv('../custom_data/fa_prediction/fresh_jobs.csv')

In [9]:
job_titles

          id                                              title
0    1382843  Urban Company - Senior Category Manager (2-4 yrs)
1    1382844  Cargill - Commercial Manager - Key Accounts - ...
2    1382845                Exotel - Manager - Sales (6-13 yrs)
3    1382846  Enewate Projects - Community Engagement Manage...
4    1382850  Vice President - Technology - Machine Learning...
..       ...                                                ...
261  1383209  Manager - Performance Marketing - EdTech (6-8 ...
262  1383210  DGM - API Sales - Domestic Market - Pharma (8-...
263  1383211  Senior Program Manager - Growth Strategy (3-5 ...
264  1383212  Executive Director - Marketing - Asset & Wealt...
265  1383213  Content Strategist - BlockChain Courses (1-4 yrs)

[266 rows x 2 columns]

In [63]:
def make_eval_prompt(job_title):
    
    eval_prompt = f'''You are an accurate agent working for a job platform. 
    You will be given a job title, and a list of categories. The job title has to be assigned to a single category. 
    [INST] You have to return ONLY the name of the most relevant category (exactly as given in the list) as an answer. [/INST]
    Here is the job title : {{job_title}}. Here are the relevant categories : 
    
    Accounting / Taxation / Audit
    Analytics & Business Intelligence
    Banking / Financial Services
    Corporate Planning / Consulting / Strategy
    Export / Import / Merchandising
    HR / IR
    Administration
    IT
    Insurance
    ITeS / BPO / Customer Service
    Legal / Law / Company Secretary
    KPO / Research
    Marketing / Advertising / Public Relations
    Media / Entertainment
    Sales / Business Development / Client Servicing
    Pharma / Biotech / Healthcare / Medical / R&D
    Production / Maintenance / Quality Assurance
    Purchase / Supply Chain / Logistics
    Travel / Hospitality
    Other
    Instructional Designer
    Content Writer/ Editors
    Entrepreneur / Businessman / Outside Management Consultant
    Executive Assistant/Personal Secretary
    Hotels / Restaurant Management
    Research & Development
    Education / Language Specialist
    Training & Development
    Design
    Visual Merchandising
    Presales/RFP
    Real Estate/Construction
    NGO/Social Services/CSR
    Miscellaneous
    Product Management
    '''
    
    eval_prompt = eval_prompt.format(job_title=job_title)

    return eval_prompt

In [64]:
title = job_titles['title'].sample().values[0]
title

'Digital Fraud Strategy Role - Financial Services (10-16 yrs)'

In [65]:
input_prompt = make_eval_prompt(title)

In [66]:
outputs = llm.generate(input_prompt, sampling_params)
gen = outputs[0].outputs[0].text
print(gen)

Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.04it/s]

    Based on the given job title, the most relevant category would be : Corporate Planning / Consulting / Strategy.

In [67]:
prompt_list = [make_eval_prompt(title) for title in job_titles['title'].values.tolist()]

In [68]:
results = llm.generate(prompt_list, sampling_params)

Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 266/266 [00:34<00:00,  7.74it/s]

In [69]:
text_outs = [x.outputs[0].text for x in results]

In [70]:
tr = {jid:response for jid, response in zip(job_titles['id'].values.tolist(),text_outs)}

In [71]:
responses = pd.DataFrame(tr,index=['response']).T.reset_index()

In [72]:
responses.columns = ['id','response']

In [73]:
import re

def extract_strings(A, B):
    extracted_strings = []
    for b in B:
        found_match = False
        for a in A:
            if re.search(re.escape(a), b):
                extracted_strings.append(a)
                found_match = True
                break  # Break the inner loop once a match is found
        if not found_match:
            extracted_strings.append(None)  # Append None if no match is found
    return extracted_strings

In [90]:
from fuzzywuzzy import fuzz

def check_strings(A, B):
    extracted_strings = []
    for b in B:
        max_similarity = 0
        best_match = None
        for a in A:
            similarity = fuzz.token_sort_ratio(b, a)
            if similarity > max_similarity:
                max_similarity = similarity
                best_match = a
        extracted_strings.append(best_match)
    return extracted_strings

/home/ubuntu/infoedge/llama-recipes/env/lib/python3.10/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [91]:
A = fa_list['name'].values.tolist()
B = text_outs

result_list = check_strings(A,B)

In [92]:
job_titles['llm_output'] = result_list

In [93]:
job_titles

,id,title,llm_output
0,1382843,Urban Company - Senior Category Manager (2-4 yrs),Marketing / Advertising / Public Relations
1,1382844,Cargill - Commercial Manager - Key Accounts - ...,Sales / Business Development / Client Servicing
2,1382845,Exotel - Manager - Sales (6-13 yrs),Sales / Business Development / Client Servicing
3,1382846,Enewate Projects - Community Engagement Manage...,Marketing / Advertising / Public Relations
4,1382850,Vice President - Technology - Machine Learning...,Marketing / Advertising / Public Relations
...,...,...,...
261,1383209,Manager - Performance Marketing - EdTech (6-8 ...,Marketing / Advertising / Public Relations
262,1383210,DGM - API Sales - Domestic Market - Pharma (8-...,Pharma / Biotech / Healthcare / Medical / R&D
263,1383211,Senior Program Manager - Growth Strategy (3-5 ...,Corporate Planning / Consulting / Strategy
264,1383212,Executive Director - Marketing - Asset & Wealt...,Marketing / Advertising / Public Relations
265,1383213,Content Strategist - BlockChain Courses (1-4 yrs),Marketing / Advertising / Public Relations

In [114]:
job_titles = job_titles.rename({'id':'job_id'},axis='columns')

In [97]:
import pymysql
import configparser
import os

config=configparser.ConfigParser()
config.read('/home/ubuntu/infoedge/llama-recipes/examples/configs/config.ini')

mydb= pymysql.connect(
host=config['iimjobs_db']['hostname'],
user=config['iimjobs_db']['username'],
password=config['iimjobs_db']['password'],
db=config['iimjobs_db']['db_name'])

In [98]:
jids = job_titles['id'].values.tolist()

In [99]:
mycursor = mydb.cursor()

query = f'''select id, functional_area from jos_content where id in {str(tuple(jids))}'''

mycursor.execute(query)
result = mycursor.fetchall()

In [102]:
fa_map = pd.DataFrame(result,columns=['job_id','fa_code'])

In [103]:
fa_map

      job_id  fa_code
0    1382843        4
1    1382844       15
2    1382845       15
3    1382846       13
4    1382850        8
..       ...      ...
261  1383209       13
262  1383210       15
263  1383211        4
264  1383212       13
265  1383213        8

[266 rows x 2 columns]

In [107]:
mycursor = mydb.cursor()

query = f'''select id,name from functionalarea_list'''

mycursor.execute(query)
result = mycursor.fetchall()

In [109]:
fa = pd.DataFrame(result,columns=['fa_code','fa_name'])

In [111]:
job_fa_map = fa_map.merge(fa,on='fa_code')

In [116]:
results = job_titles.merge(job_fa_map,on='job_id')

In [119]:
results.to_csv('../custom_data/fa_prediction/fa_final_result.csv',index=False)

In [120]:
results

,job_id,title,llm_output,fa_code,fa_name
0,1382843,Urban Company - Senior Category Manager (2-4 yrs),Marketing / Advertising / Public Relations,4,Corporate Planning / Consulting / Strategy
1,1382844,Cargill - Commercial Manager - Key Accounts - ...,Sales / Business Development / Client Servicing,15,Sales / Business Development / Client Servicing
2,1382845,Exotel - Manager - Sales (6-13 yrs),Sales / Business Development / Client Servicing,15,Sales / Business Development / Client Servicing
3,1382846,Enewate Projects - Community Engagement Manage...,Marketing / Advertising / Public Relations,13,Marketing / Advertising / Public Relations
4,1382850,Vice President - Technology - Machine Learning...,Marketing / Advertising / Public Relations,8,IT
...,...,...,...,...,...
261,1383209,Manager - Performance Marketing - EdTech (6-8 ...,Marketing / Advertising / Public Relations,13,Marketing / Advertising / Public Relations
262,1383210,DGM - API Sales - Domestic Market - Pharma (8-...,Pharma / Biotech / Healthcare / Medical / R&D,15,Sales / Business Development / Client Servicing
263,1383211,Senior Program Manager - Growth Strategy (3-5 ...,Corporate Planning / Consulting / Strategy,4,Corporate Planning / Consulting / Strategy
264,1383212,Executive Director - Marketing - Asset & Wealt...,Marketing / Advertising / Public Relations,13,Marketing / Advertising / Public Relations
265,1383213,Content Strategist - BlockChain Courses (1-4 yrs),Marketing / Advertising / Public Relations,8,IT