In [1]:
import numpy as np
import pandas as pd
import json, pymysql

In [2]:
job_df = pd.read_csv('../custom_data/relevant/job_data_full.csv')

In [3]:
sub_df = job_df[(job_df['apply_count']>300) & (job_df['apply_count']<1000)]

In [4]:
sub_df.columns = ['job_id','job_title','apply_count']

In [5]:
sub_df.shape

(1692, 3)

In [6]:
sub_df.job_id.to_csv('../custom_data/relevant/job_list.csv',index=False)

In [7]:
sub_df

       job_id                                          job_title  apply_count
6      832648  Maersk - Senior Analyst  - Supply Chain Develo...          578
8      908138          Flipkart - Warehouse Manager   (8-12 yrs)          632
12    1046384  Accenture - Corporate Strategy Specialist - Gr...          726
13    1046993       Samsung - Online Category Manager (3-10 yrs)          404
17    1119345  Management Consultant - Consulting Firm - IIM/...          336
...       ...                                                ...          ...
8932  1375984  Valiance Solutions - Analyst - Risk & Portfoli...          405
9005  1376065  Equity Research Role - EPC Conglomerate (1-8 yrs)          338
9080  1376157                   Edge - Product Manager (1-5 yrs)          394
9089  1376175  RattanIndia Enterprises Limite - Head - Human ...          455
9129  1376232  Wodehouse Capital Advisors - VP/Director - Tra...          508

[1692 rows x 3 columns]