In [2]:
import torch
from huggingface_hub import login
login(token='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')

from vllm import LLM, SamplingParams

Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/ubuntu/.cache/huggingface/token
Login successful

In [3]:
from tqdm.notebook import tqdm

In [4]:
import pandas as pd, numpy as np
import time, json, ast, html

In [5]:
sampling_params = SamplingParams(temperature=0, max_tokens=2000)
llm = LLM(model="lakshay/work-details-mistral")

INFO 03-28 11:34:37 llm_engine.py:73] Initializing an LLM engine with config: model='lakshay/work-details-mistral', tokenizer='lakshay/work-details-mistral', tokenizer_mode=auto, revision=None, tokenizer_revision=None, trust_remote_code=False, dtype=torch.float16, max_seq_len=32768, download_dir=None, load_format=auto, tensor_parallel_size=1, quantization=None, enforce_eager=False, seed=0)
INFO 03-28 11:35:09 llm_engine.py:223] # GPU blocks: 922, # CPU blocks: 2048
INFO 03-28 11:35:12 model_runner.py:394] Capturing the model for CUDA graphs. This may lead to unexpected consequences if the model is not static. To run the model in eager mode, set 'enforce_eager=True' or use '--enforce-eager' in the CLI.
INFO 03-28 11:35:17 model_runner.py:437] Graph capturing finished in 5 secs.

## initialise and run model

In [6]:
with open('../custom_data/mistral/epoch-reg-resume-text.json','r') as f:
    data = json.load(f)

In [7]:
for user_id, resume_text in data.items():
    pass

In [8]:
res_df = pd.DataFrame([data]).T.reset_index()
res_df = res_df.rename(columns={'index': 'user_id', 0: 'resume_text'})

In [9]:
res_df

      user_id                                        resume_text
0     1205309  Indian Ins tute of Management, Shillong\nPARTH...
1     1326127  Indian Institute of Management Indore\nTel: 07...
2     2031026  Shashank Verma\nMaster of Business Administrat...
3     2344010  Kunal Amitabh Sehgal\nACADEMIC QUALIFICATION\n...
4     2372472  Sakshi Ramnani\nACADEMIC QUALIFICATION\nYear I...
...       ...                                                ...
1902  2705404  Arbind Shri Raghaw\nMaster of Business Adminis...
1903  2705409  Pranshu Yogi\nMaster of Business Administratio...
1904  2705411  Sharwari Nalawade\nIndian Institute of Managem...
1905  2705413  Prep Cell\nProviding sample answers to HR\nque...
1906  2740969                                   Dummy PDF file\n

[1907 rows x 2 columns]

In [13]:
edu_prompt = f'''
<INST>You are an accurate agent working for a job platform. You will be given the raw 
unstructured text of a user's resume, and the task is to extract the educational details of a 
user's starting from their graduation (include post graduation and further education ONLY). 
Please provide the data in a concise JSON format. The response should be a python list 
of dictionaries (JSON-formatted). Each dictionary represents an educational experience and should contain keys for 
"institution_name", "degree", "start_date", "end_date". Dates should be in "mm/yyyy" format.
Ensure the JSON syntax is correct, with proper use of quotes, commas, and braces.

Please follow this structure closely and keep the response within the token limit." \n{{edu_format}}\n

This is the resume text:\n{{resume_text}}\n
This is the output in the required_format\n
'''

In [16]:
def make_eval_prompt(rt):
    
    edu_prompt = f'''
    <INST>You are an accurate agent working for a job platform. You will be given the raw 
    unstructured text of a user's resume, and the task is to extract the educational details of a 
    user's starting from their graduation (include post graduation and further education ONLY). 
    Please provide the data in a concise JSON format. The response should be a python list 
    of dictionaries (JSON-formatted). Each dictionary represents an educational experience and should contain keys for 
    "institution_name", "degree", "start_date", "end_date". Dates should be in "mm/yyyy" format.
    Ensure the JSON syntax is correct, with proper use of quotes, commas, and braces.
    
    Please follow this structure closely and keep the response within the token limit." \n{{query_format}}\n
    
    This is the resume text:\n{{resume_text}}\n
    This is the output in the required_format\n
    '''
    
    edu_format = '''
                    [
                        {"institution":"Example Institution 1",
                        "degree":"name of example degree 1",
                        "start_date":"mm/yyyy",
                        "end_date":"mm/yyyy"},
                        {"institution":"Example Institution 2",
                        "degree":"name of example degree 2","
                        start_date":"mm/yyyy",
                        "end_date":"mm/yyyy"}
                    ]
                    '''
    
    return edu_prompt.format(
            query_format=edu_format,
            resume_text=rt)

In [12]:
v = [make_input_prompt(j) for j in res_df['resume_text'].values[:2]]

In [13]:
# v

In [14]:
# results = {}

# for D in batches[:1]:
#     res_texts = D[:,1]
#     input_prompts = [make_input_prompt(x) for x in res_texts]
    
#     mistral_outputs = llm.generate(input_prompts, sampling_params)
    
#     for userid,J in zip(D[:,0],mistral_outputs):
#         results[userid] = J.outputs[0].text

In [15]:
res_df.shape

(1907, 2)

In [16]:
# batches

In [18]:
res_df.sample()

      user_id                                        resume_text
1081  2693340  (58\tMONTHS)\nPANDE\tDARSHAN\tCHANDRASHEKHAR\n...

In [22]:
rt =

In [29]:
rt = html.unescape(res_df[res_df['user_id']=='2693340']['resume_text'].values[0])

In [31]:
edp = make_eval_prompt(rt)

In [32]:
outputs = llm.generate(edp, sampling_params)

Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:09<00:00,  9.75s/it]

" [\n     {'company': 'Qualcomm India Pvt Ltd', 'role': 'Senior Engineer', 'start_date': '07/2017', 'end_date': '06/2022'},\n     {'company': 'IIM Bangalore', 'role': 'Post Graduate Program in Management', 'start_date': '07/2023', 'end_date': '06/2024'},\n     {'company': 'National Institute of Technology Nagpur', 'role': 'Bachelor of Technology (Electrical and Electronics)', 'start_date': '08/2013', 'end_date': '05/2017'},\n     {'company': 'Deogiri College Aurangabad', 'role': 'Higher Secondary Education', 'start_date': '04/2013', 'end_date': '03/2015'},\n     {'company': 'Saraswati Bhuvan Highschool Aurangabad', 'role': 'Secondary Education', 'start_date': '04/2011', 'end_date': '03/2012'}\n     ]\n"

In [ ]:
results = {}    
errors = []
for userid, resume_text in tqdm(res_df.values.tolist()[:500]):
    
    try:
        rt = html.unescape(resume_text)
        eval_prompt = work_prompt.format(
                query_format=work_format,
                resume_text=rt)

        outputs = llm.generate(eval_prompt, sampling_params)

        results[userid] = outputs[0].outputs[0].text
    except:
        errors.append(userid)
        pass

  0%|          | 0/500 [00:00<?, ?it/s]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:02<00:00,  2.46s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.98s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:06<00:00,  6.93s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:03<00:00,  3.59s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:05<00:00,  5.00s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:08<00:00,  8.69s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:02<00:00,  2.19s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:06<00:00,  6.72s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:03<00:00,  3.82s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:04<00:00,  4.92s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:06<00:00,  6.54s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]
Processed prompts: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:06<00:00,  6.91s/it]

Processed prompts:   0%|                                                                                                                             | 0/1 [00:00<?, ?it/s]

Processed prompts:   0%|                                                                                                                             | 0/2 [00:00<?, ?it/s]

In [ ]:
with open('../custom_data/mistral/epoch_1.json','w') as f:
    json.dump(results,f)

In [ ]:
results = {}    
errors = []
for userid, resume_text in tqdm(res_df.values.tolist()[500:1000]):
    
    try:
        rt = html.unescape(resume_text)
        eval_prompt = work_prompt.format(
                query_format=work_format,
                resume_text=rt)

        outputs = llm.generate(eval_prompt, sampling_params)

        results[userid] = outputs[0].outputs[0].text
    except:
        errors.append(userid)
        pass

In [ ]:
with open('../custom_data/mistral/epoch_2.json','w') as f:
    json.dump(results,f)

In [ ]:
results = {}    
errors = []
for userid, resume_text in tqdm(res_df.values.tolist()[1000:]):
    
    try:
        rt = html.unescape(resume_text)
        eval_prompt = work_prompt.format(
                query_format=work_format,
                resume_text=rt)

        outputs = llm.generate(eval_prompt, sampling_params)

        results[userid] = outputs[0].outputs[0].text
    except:
        errors.append(userid)
        pass

In [23]:
with open('../custom_data/mistral/epoch_3.json','w') as f:
    json.dump(results,f)

In [ ]:
# with open('data/test_results.json','w') as f:
#     json.dump(results,f)

In [20]:
print('hi')

hi