In [1]:
import torch
from huggingface_hub import login
login(token='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')

from vllm import LLM, SamplingParams

Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/ubuntu/.cache/huggingface/token
Login successful

In [2]:
from tqdm.notebook import tqdm

In [3]:
import pandas as pd, numpy as np
import time, json, ast, html

In [4]:
sampling_params = SamplingParams(temperature=0, max_tokens=2000)
llm = LLM(model="lakshay/work-details-mistral")

INFO 03-11 15:15:30 llm_engine.py:73] Initializing an LLM engine with config: model='lakshay/work-details-mistral', tokenizer='lakshay/work-details-mistral', tokenizer_mode=auto, revision=None, tokenizer_revision=None, trust_remote_code=False, dtype=torch.float16, max_seq_len=32768, download_dir=None, load_format=auto, tensor_parallel_size=1, quantization=None, enforce_eager=False, seed=0)
INFO 03-11 15:15:48 llm_engine.py:223] # GPU blocks: 922, # CPU blocks: 2048
INFO 03-11 15:15:51 model_runner.py:394] Capturing the model for CUDA graphs. This may lead to unexpected consequences if the model is not static. To run the model in eager mode, set 'enforce_eager=True' or use '--enforce-eager' in the CLI.
INFO 03-11 15:15:56 model_runner.py:437] Graph capturing finished in 5 secs.

## initialise and run model

In [5]:
with open('../custom_data/relevant_users_feb24.json','r') as f:
    data = json.load(f)

In [6]:
for user_id, resume_text in data.items():
    pass

In [7]:
res_df = pd.DataFrame([data]).T.reset_index()
res_df = res_df.rename(columns={'index': 'user_id', 0: 'resume_text'})

In [8]:
res_df

      user_id                                        resume_text
0         123  Page 1 of 3\nJaddivada Lingaraju\nSBU Head / C...
1         135  Vipin Babbar\nemail: notestovipin@gmail.com mo...
2         886  Abhay Dhayagude\nMobile: 09920390481 Email: ab...
3        2014  Prashant Kapse\nB Tech, MMS (Marketing) JBIMS ...
4        2021  ABHILASHA SHUKLA\nE-Mail: abhilasha_sshukla@ya...
...       ...                                                ...
2444  1985580  Shamim J Mohamed\nMobile: +91 9081158677 / E-m...
2445  1985752  SAMAR THAPA\nDOCTOR OF PHILOSOPHY\nWORK EXPERI...
2446  1987530  #126, Street No 9\nHMT Nagar, Nacharam\nHydera...
2447  1988121  DIPINKUMAR BHATT C-304, GOKUL HEIGHTS, NEAR SH...
2448  1988368  VIKASH KUMAR MISHRA\nCHARTERED ACCOUNTANT\n1\n...

[2449 rows x 2 columns]

In [9]:
work_prompt = f'''
You are an accurate agent working for a job platform. You will be given the raw 
unstructured text of a user's resume, and the task is to extract the entire work experience of the 
user from the resume. Please provide the data in a concise JSON format. The JSON should include a 
"work_experience" key with an array of objects. Each object represents a job and should contain keys for 
"company", "role", "start_date", "end_date". Dates should be in "mm/yyyy" format. 
Ensure the JSON syntax is correct, with proper use of quotes, commas, and braces.

Please follow this structure closely and keep the response within the token limit."

This is the resume text:\n{{resume_text}}\n
This is the output in the required_format\n
'''

In [10]:
work_format = '''
[
    {"company":"Example Company 1",
    "role":"Example Role 1",
    "start_date":"mm/yyyy",
    "end_date":"mm/yyyy",
    "description":"Example Description 1"},
    {"company":"Example Company 2",
    "role":"Example Role 2","
    start_date":"mm/yyyy",
    "end_date":"mm/yyyy",
    "description":"Example Description 2"}
]
'''

In [11]:
def make_input_prompt(rt):
    
    prompt_text = f'''You are an accurate agent working for a job platform. You will be given the raw 
                unstructured text of a user's resume, and the task is to extract the entire work experience of the 
                user from the resume. Please provide the data in a concise JSON format. The JSON should include a 
                "work_experience" key with an array of objects. Each object represents a job and should contain keys for 
                "company", "role", "start_date", "end_date". Dates should be in "mm/yyyy" format. 
                Ensure the JSON syntax is correct, with proper use of quotes, commas, and braces.

                Please follow this structure closely and keep the response within the token limit." \n{{query_format}}\n

                This is the resume text:\n{{resume_text}}\n
                This is the output in the required_format\n
                '''
    
    work_format = '''
                [
                    {"company":"Example Company 1",
                    "role":"Example Role 1",
                    "start_date":"mm/yyyy",
                    "end_date":"mm/yyyy"},
                    {"company":"Example Company 2",
                    "role":"Example Role 2","
                    start_date":"mm/yyyy",
                    "end_date":"mm/yyyy"}
                ]
                '''
    
    return prompt_text.format(
            query_format=work_format,
            resume_text=rt)

In [12]:
v = [make_input_prompt(j) for j in res_df['resume_text'].values[:2]]

In [13]:
# v

In [14]:
# outputs = llm.generate(v,sampling_params)

In [15]:
# out = outputs.copy()

In [16]:
# ast.literal_eval(html.unescape(out[0].outputs[0].text.replace('\n','')))

In [17]:
# for j in v:
#     llm.generate(j, sampling_params)

In [18]:
# len(v)

In [19]:
# res_df.values.tolist()[:10]

In [20]:
s = res_df.values[:10]

In [21]:
batches = [s[i:i + 5] for i in range(0, len(s), 5)]

In [22]:
# results = {}

# for D in batches[:1]:
#     res_texts = D[:,1]
#     input_prompts = [make_input_prompt(x) for x in res_texts]
    
#     mistral_outputs = llm.generate(input_prompts, sampling_params)
    
#     for userid,J in zip(D[:,0],mistral_outputs):
#         results[userid] = J.outputs[0].text

In [ ]:
# batches

In [31]:
# results = {}    
# errors = []
# for userid, resume_text in tqdm(res_df.values.tolist()[:1000]):
    
#     try:
#         rt = html.unescape(resume_text)
#         eval_prompt = work_prompt.format(
#                 query_format=work_format,
#                 resume_text=rt)

#         outputs = llm.generate(eval_prompt, sampling_params)

#         results[userid] = outputs[0].outputs[0].text
#     except:
#         errors.append(userid)
#         pass

In [24]:
# with open('data/test_results.json','w') as f:
#     json.dump(results,f)

In [29]:
with open('../custom_data/feb24_mistral_inference_batch1.json','w') as f:
    json.dump(results,f)

In [30]:
print('hi')

hi